<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				layout:decorate="~{layout}" 
				layout:fragment="content">


<body>
	<main id="main" class="main">
		<!-- 인사카드 등록 모달 -->
		<div class="modal fade" id="modal_appointment_save" tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">인사카드 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="appointment_form" th:action="@{/insert_EMPLOYEE}" method="post">
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">아이디</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employeeId" name="employeeId">
								</div>
								<label for="inputEmail" class="col-sm-1 col-form-label">비밀번호</label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="employee_pw" name="employee_pw">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">부서코드</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_dp" name="employee_dp">
								</div>
								<label for="inputEmail" class="col-sm-1 col-form-label">직급코드</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_gd" name="employee_gd">
								</div>
							</div>
							<div class="row mb-3">

								<label for="inputDate" class="col-sm-1 col-form-label">입사일</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="employee_hd" name="employee_hd"
										aria-label="Date-Time">
								</div>
								<div class="col-sm-2">
									<div id="hd_wrapper"></div>
								</div>
								<label for="inputDate" class="col-sm-1 col-form-label">퇴사일</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="employee_rd" name="employee_rd"
										aria-label="Date-Time">
								</div>
								<div class="col-sm-2">
									<div id="rd_wrapper"></div>
								</div>

							</div>
							<div class="row mb-3">
								<label for="inputPassword" class="col-sm-1 col-form-label">퇴사사유</label>
								<div class="col-sm-5">
									<textarea class="form-control" style="height: 100px"
										id="employee_rr" name="employee_rr"></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">채용구분</label>
								<div class="col-sm-4">
									<select class="form-select" aria-label="Default select example"
										id="employee_cg" name="employee_cg">
										<option value="">신입</option>
										<option value="">경력</option>
									</select>
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputPassword" class="col-sm-1 col-form-label">비고</label>
								<div class="col-sm-5">
									<textarea class="form-control" id="employee_nt" name="employee_nt"
										style="height: 100px"></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">사원명</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_nm" name="employee_nm">
								</div>
								<label for="inputDate" class="col-sm-1 col-form-label">생년월일</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="employee_bd" name="employee_bd"
										aria-label="Date-Time">
								</div>
								<div class="col-sm-2">
									<div id="bd_wrapper"></div>
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">우편번호</label>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-user"
										id="employee_zc"  name="zipCode" placeholder="우편번호" readonly
										onclick="findAddr()">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">기본주소</label>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-user"
										id="employee_sa" name="employee_sa" placeholder="도로명 주소"
										readonly>
								</div>
								<label for="inputEmail" class="col-sm-1 col-form-label">상세주소</label>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-user"
										id="employee_da" name="employee_da" placeholder="상세 주소">
								</div>
							</div>
							<input type="hidden" id="employee_ad" name="employee_ad">
							<fieldset class="row mb-3">
								<legend class="col-form-label col-sm-1 pt-0">성별</legend>
								<div class="col-sm-10">
									<div class="form-check">
										<input class="form-check-input" type="radio" 
											id="employee_sb1" name="employee_sb1" value="option1" checked> <label
											class="form-check-label" for="gridRadios1"> 남 </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" 
											id="employee_sb2" name="employee_sb2" value="option2"> <label
											class="form-check-label" for="gridRadios2"> 여 </label>
									</div>
								</div>
							</fieldset>
							<div class="row mb-3">
							    <label for="inputText" class="col-sm-1 col-form-label">이메일</label>
							    <div class="col-sm-3">
							        <input type="text" class="form-control" id="employee_username" name="employee_username" placeholder="아이디 입력">
							    </div>
							    <div class="col-auto">@</div>
								<div class="col-sm-3">
								    <input class="form-control" id="custom_domain" name="custom_domain" type="text" placeholder="직접 입력" aria-label="직접 도메인 입력">
								</div>
							    <div class="col-sm-3">
									<select class="form-select" id="employee_domain" name="employee_domain" aria-label="도메인 선택">
									    <option value="custom" selected>직접 입력</option>
									    <option value="naver.com">naver.com</option>
									    <option value="google.com">google.com</option>
									    <option value="hanmail.net">hanmail.net</option>
									    <option value="nate.com">nate.com</option>
									    <option value="kakao.com">kakao.com</option>
									</select>
							    </div>
							</div>
							<input type="hidden" id="employee_em" name="employee_em">
							<div class="row mb-3">
								<label for="inputNumber" class="col-sm-1 col-form-label">사진등록</label>
								<div class="col-sm-5">
									<input class="form-control" type="file" id="employee_pi" name="employee_pi">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">기본급</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_bs" name="employee_bs">
								</div>
								<label for="inputText" class="col-sm-1 col-form-label">은행</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_bk" name="employee_bk">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-1 col-form-label">계좌번호</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_an" name="employee_an">
								</div>
								<label for="inputText" class="col-sm-1 col-form-label">예금주</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_dt" name="employee_dt">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
								<button type="submit" class="btn btn-primary">등록</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">인사카드 등록</h5>
							<div class="row mb-3">
								<div class="col-sm-10">
									<div id="grid"></div>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal"
										data-bs-target="#modal_appointment_save">등록</button>
									<button type="button" id="btn_employee_delete" class="btn btn-primary">삭제</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- End main -->
</body>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function findAddr(){
        new daum.Postcode({
            oncomplete: function(data) {
            	// 우편번호
                $("#employee_gc").val(data.zonecode);
                // 도로명 및 지번주소
                $("#employee_sa").val(data.roadAddress);
                
                // 상세주소로 포커스 
                $("#employee_da").focus();
				
				// 주소 통합
				let employee_ad = "("+ data.zonecode + ")" + ' ' + data.roadAddress + ' ' + $("#employee_da").val();
				$("#employee_ad").val(employee_ad);
            }
        }).open();
    }

	// 입사일 datepicker
	$(document).ready(function() {
		const datepicker = new tui.DatePicker('#hd_wrapper', {
	        date: new Date(),
	        input: {
	            element: '#employee_hd',
	            format: 'yyyy-MM-dd'
	        }
	    });
	});

	// 퇴사일 datepicker
	$(document).ready(function() {
		const datepicker = new tui.DatePicker('#rd_wrapper', {
	        date: new Date(),
	        input: {
	            element: '#employee_rd',
	            format: 'yyyy-MM-dd'
	        }
	    });
	});

	// 생년월일 datepicker
	$(document).ready(function() {
		const datepicker = new tui.DatePicker('#bd_wrapper', {
	        date: new Date(),
	        input: {
	            element: '#employee_bd',
	            format: 'yyyy-MM-dd'
	        }
	    });
	});
	
	// 이메일 관련 처리
	document.getElementById('employee_domain').addEventListener('change', function() {
	    const customDomainInput = document.getElementById('custom_domain');
	    if (this.value !== "custom") {
	        customDomainInput.value = this.value;
	        customDomainInput.disabled = true;
	    } else {
	        customDomainInput.value = "";
	        customDomainInput.disabled = false;
	        customDomainInput.placeholder = "직접 입력";
	    }
	});
	
	// 이메일 합치기
	function updateFullEmail() {
	    const username = document.getElementById('employee_username').value.trim();
	    const domainSelect = document.getElementById('employee_domain');
	    const customDomainInput = document.getElementById('custom_domain');
	    const fullEmailInput = document.getElementById('employee_em');

	    let domain = domainSelect.value;
	    if (domain === "custom") {
	        domain = customDomainInput.value.trim();
	    }

	    fullEmailInput.value = `${username}@${domain}`;
	}

	document.getElementById('employee_username').addEventListener('input', updateFullEmail);
	document.getElementById('employee_domain').addEventListener('change', updateFullEmail);
	document.getElementById('custom_domain').addEventListener('input', updateFullEmail);
	
</script>

	
<script th:inline="javascript">
	
const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

// 서버에서 전달된 데이터를 JavaScript 변수로 설정
// const employeeData = /*[[${employeeList}]]*/[];
// console.log(employeeData);

let grid;

$(document).ready(function () {
    // 데이터 가져오기 (GET 요청)
	$.ajax({
	    url: '/select_EMPLOYEE',
	    method: 'GET',
	    success: function (employeeList) {
	        console.log('서버 응답 데이터:', employeeList);
	
	            // Grid 초기화
            grid = new tui.Grid({
                el: document.getElementById('grid'),
                data: employeeList,
                scrollX: true,
                scrollY: true,
                rowHeaders: ['checkbox'],
                autoWidth: true,
				data: employeeList.map(row => ({
		            employeeId: row.employeeId,
		            employee_nm: row.employee_nm,
		            employee_dp: row.employee_dp,
		            employee_gd: row.employee_gd,
		            employee_bd: row.employee_bd,
		            employee_ad: row.employee_ad,
		            employee_ph: row.employee_ph,
		            employee_em: row.employee_em,
		            employee_hd: row.employee_hd,
                
				})),
                columns: [
                    {header: '아이디', name: 'employeeId', align: 'center', sortable: true},
                    {header: '사원명', name: 'employee_nm', align: 'center', sortable: true},
                    {header: '부서', name: 'employee_dp', align: 'center', sortable: true},
                    {header: '직급', name: 'employee_gd', align: 'center', sortable: true},
                    {header: '생년월일', name: 'employee_bd', align: 'center', sortable: true},
                    {header: '주소', name: 'employee_ad', align: 'center', sortable: true},
                    {header: '연락처', name: 'employee_ph', align: 'center', sortable: true},
                    {header: '이메일', name: 'employee_em', align: 'center', sortable: true},
                    {header: '입사일', name: 'employee_hd', align: 'center', sortable: true}
                ]
            
            });
	    },
	    error: function (error) {
	        console.error('오류 발생:', error);
	    }
	});


	$(document).ready(function () {
	    // 사원 등록 폼 제출 처리
	    $('#appointment_form').on('submit', function (event) {
	        event.preventDefault(); // 기본 제출 동작 방지
	
	        const formData = {
	            employeeId : $('#employeeId').val(),
	            employee_pw: $('#employee_pw').val(),
	            employee_dp: $('#employee_dp').val(),
	            employee_gd: $('#employee_gd').val(),
	            employee_hd: $('#employee_hd').val(),
	            employee_rd: $('#employee_rd').val(),
	            employee_rr: $('#employee_rr').val(),
	            employee_cg: $('#employee_cg').val(),
	            employee_nm: $('#employee_nm').val(),
	            employee_bd: $('#employee_bd').val(),
	            employee_ad: $('#employee_ad').val(),
	            employee_em: $('#employee_em').val(),
	        };
	
	        $.ajax({
	            url: '/insert_EMPLOYEE',
	            method: 'POST',
	            contentType: 'application/json',
	            headers: {
	                'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content'),
	            },
	            data: JSON.stringify(formData),
	            success: function () {
	                alert('등록이 완료되었습니다.');
	                $('#appointment_form')[0].reset();
	
	                const modalSave = bootstrap.Modal.getInstance($('#modal_appointment_save')[0]);
	                if (modalSave) modalSave.hide();
	
	                location.reload();
	            },
	            error: function (xhr, status, error) {
	                console.error('AJAX Error:', xhr.responseText, status, error);
	                alert('등록 중 오류가 발생했습니다.');
	            },
	        });
	    });
	
	});
	
	
	
	$('#btn_employee_delete').on('click', function () {

	    const checkedRows = grid.getCheckedRows();

		console.log(checkedRows);
		
	    if (checkedRows.length === 0) {
	        alert('삭제할 데이터를 선택하세요.');
	        return;
	    }

		
		// 선택된 행의 ID 또는 고유 식별자 추출
		const idsToDelete = checkedRows.map(row => row['employeeId']);		
		
	    console.log('삭제할 ID 리스트:', idsToDelete);

	    if (!confirm('선택한 데이터를 삭제하시겠습니까?')) {
	        return;
	    }

	    $.ajax({
	        url: '/delete_EMPLOYEE',
	        method: 'POST',
	        contentType: 'application/json',
	        headers: {
	            [csrfHeader]: csrfToken // CSRF 토큰 추가
	        },
	         data: JSON.stringify(idsToDelete), 
	        success: function (data) {
	            console.log('서버 응답:', data); // 응답 확인
	            if (data.success) {
	                alert('삭제가 완료되었습니다.');
	                location.reload();
	            } else {
	                alert('삭제에 실패했습니다: ' + data.message);
	            }
	        },
	        error: function (xhr, status, error) {
	            console.error('오류 발생:', xhr.responseText, status, error);
	            alert('삭제 중 오류가 발생했습니다.');
	        }
	    });
	});
	
	
	
	
	
	
});
</script>
</html>