<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				layout:decorate="~{layout}" 
				layout:fragment="content">

<style>
.col1 {
	width: 160px !important;
	position: relative;
	z-index: 9998;
	margin-right: 5px;
}

.tui-datepicker {
	z-index: 9999 !important;
	overflow: visible !important;
}

.tui-timepicker {
	z-index: 9999 !important;
	overflow: visible !important;
}

.tui-grid-cell-summary {
    background-color: #ddd;
    border-color: #fff;
    border-left-width: 1px;
    border-right-width: 1px;
    color: #333;
}
</style>

<body>
	<main id="main" class="main">



		<!-- 인사카드 등록 모달 -->
		<div class="modal" id="modal_appointment_save" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle">인사카드 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="appointment_form" th:action="@{/insert_EMPLOYEE}" method="post" enctype="multipart/form-data">
							<input type="hidden" id="photoDeleted" name="photoDeleted" value="false">  <!-- 사진 삭제 히든 -->
							<input type="hidden" id="employee_ad" name="employee_ad"> <!-- 주소 값 히든-->
							<input type="hidden" class="form-control" id="employee_cd" name="employee_cd"> <!-- 수정 시 사용-->
							<input type="hidden" id="employee_em" name="employee_em"> <!-- 이메일 히든 -->
							
							<div class="row mb-3">
							    <label for="employee_pi" class="col-sm-2 col-form-label">사진등록</label>
							    <div class="col-sm-3">
							        <div id="photoContainer" 
							            style="position: relative; width: 150px; height: 150px; border-radius: 8px; cursor: pointer; 
							                   background-color: #f8f9fa; border: 2px dashed #ccc;">
							            <img id="photoPreview" src=""  alt="사진 미리보기" 
							                style="width: 100%; height: 100%; border-radius: 8px; object-fit: cover; display: none;">
							            <div id="uploadText" 
							                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
							                       font-size: 14px; font-weight: bold; color: #aaa; text-align: center;">
							                사진 등록
							            </div>
							        </div>
							        <button id="removePhotoBtn" 
							            style="display: none; background-color: #f44336; color: white; border: none; 
							                   border-radius: 5px; padding: 5px 10px; margin-top: 10px; cursor: pointer;">
							            삭제
							        </button>
							        <input type="file" id="employee_pi" name="employee_pi" accept="image/*" style="display: none;">
							    </div>
							</div>
							
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">아이디<span class="text-danger"> *</span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_id" name="employee_id" minlength="4" maxlength="16" oninput="validateId(this)" placeholder="4자 이상, 16자 이하 입력">
									<span id="employee_id_check"></span> <!-- 피드백 메시지 표시 -->
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">비밀번호<span class="text-danger"> *</span></label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="employee_pw" name="employee_pw" minlength="4" maxlength="16" placeholder="4자 이상, 16자 이하 입력">
									<span id="employee_pw_check"></span> <!-- 피드백 메시지 표시 -->
								</div>
							</div>
							
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">사원명<span class="text-danger"> *</span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_nm" name="employee_nm" oninput="validateEmployeeName(this)" minlength="3" maxlength="16">
									<span id="employee_nm_check"></span> <!-- 피드백 메시지 표시 -->
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">채용구분</label>
								<div class="col-sm-4">
									<select class="form-select" aria-label="Default select example"
										id="employee_cg" name="employee_cg">
										<option value="신입" selected>신입</option>
										<option value="경력">경력</option>
									</select>
								</div>
							</div>	
							<div class="row mb-3">
							    <label for="inputText" class="col-sm-2 col-form-label">부서장구분</label>
								<div class="col-sm-4">
								<select class="form-select" id="employee_mg" name="employee_mg" aria-label="부서장구분">
									<option value="" disabled selected>부서구분을 선택하세요</option>
									<option th:each="dptype : ${DPType_list}"
										th:value="${dptype.common_nm}"
										th:text="${dptype.common_nm == 'true' ? '부서장' : '부서직원'}">
								</select>
								</div>
							    <label for="inputText" class="col-sm-2 col-form-label">직원 권한</label>
								<div class="col-sm-4">
									<select class="form-select" id="employee_rl" name="employee_rl" aria-label="직원 권한">
										<option value="" disabled selected>권한을 선택하세요</option>
										<option th:each="PMType : ${PMType_list}" th:value="${PMType.common_cc}"
											th:text="${PMType.common_nm}">
										</option>
									</select>
								</div>
							</div>						
							<div class="row mb-3">
							    <label for="inputText" class="col-sm-2 col-form-label">이메일</label>
							    <div class="col-sm-3">
							        <input type="text" class="form-control" id="email_id" name="email_id" placeholder="아이디 입력"  minlength="4" maxlength="16">
									<span id="email_id_check"></span> <!-- 유효성 메시지 추가 -->
							    </div>
							    <div class="col-sm-1 text-center">@</div>
								<div class="col-sm-3">
								    <input class="form-control" id="custom_domain" name="custom_domain" type="text" placeholder="직접 입력" aria-label="직접 도메인 입력">
									<span id="custom_domain_check"></span> <!-- 유효성 메시지 추가 -->
								</div>
							    <div class="col-sm-3">
									<select class="form-select" id="employee_domain" name="employee_domain" aria-label="도메인 선택">
									    <option value="custom" selected>직접 입력</option>
									    <option value="naver.com">naver.com</option>
									    <option value="google.com">google.com</option>
									    <option value="hanmail.net">hanmail.net</option>
									    <option value="nate.com">nate.com</option>
									    <option value="kakao.com">kakao.com</option>
									</select>
							    </div>
							</div>
							
							<div class="row mb-3">
						   		<label for="inputText" class="col-sm-2 col-form-label">부서</label>
								<div class="col-sm-4">
									<select id="employee_dp" class="form-select">
										<option value="" disabled selected>부서를 선택하세요</option>
										<option th:each="dept : ${dept_list}" th:value="${dept.common_cc}"
											th:text="${dept.common_nm}">
										</option>
									</select>
								</div>
						   		<label for="inputText" class="col-sm-2 col-form-label">직위</label>
								<div class="col-sm-4">
									<select id="employee_gd" class="form-select">
										<option value="" disabled selected>직위를 선택하세요</option>
										<option th:each="grade : ${grade_list}" th:value="${grade.common_cc}"
											th:text="${grade.common_nm}">
										</option>
									</select>
								</div>
							</div>
							<div class="row mb-3">
								<label for="employee_bd" class="col-sm-2 col-form-label">생년월일</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_bd" name="employee_bd" placeholder="ex) 19900101" onblur="onBlurValidate()"  minlength="8" maxlength="8">
									<span id="employee_bd_check"></span> <!-- 유효성 메시지 추가 -->
								</div>
							    <label for="inputText" class="col-sm-2 col-form-label">사용여부</label>
								<div class="col-sm-4">
									<select class="form-select" id="employee_us" name="employee_us" aria-label="부서장구분">
									    <option value="" disabled selected>사용여부 구분</option>
									    <option th:each="useyn : ${useyn_list}" th:value="${useyn.common_nm}"
									            th:text="${useyn.common_nm == '사용' ? '사용' : '미사용'}">
									    </option>
									</select>

								</div>
							</div>
							<div class="row mb-3">
							    <label for="inputDate" class="col-sm-2 col-form-label">입사일<span class="text-danger"> *</span></label>
								<div class="col-sm-4">
								    <input type="text" class="form-control" id="employee_hd" name="employee_hd" aria-label="Date" readonly>
							        <div id="startpicker-container" style="margin-left: -1px;"></div>
							    </div>
							    <label for="inputDate" class="col-sm-2 col-form-label">퇴사일</label>
								<div class="col-sm-4">
							        <input type="text" class="form-control" id="employee_rd" name="employee_rd" aria-label="Date" readonly>
							        <div id="endpicker-container" style="margin-left: -1px;"></div>
							    </div>
							</div>

							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label" >퇴사사유</label>
								<div class="col-sm-10">
									<textarea class="form-control" style="height: 100px"
										id="employee_rr" name="employee_rr"></textarea>
								</div>
							</div>

							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">비고</label>
								<div class="col-sm-10">
									<textarea class="form-control" id="employee_nt" name="employee_nt"
										style="height: 100px"></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">우편번호</label>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-user"
										id="employee_zc"  name="zipCode" placeholder="우편번호" readonly
										onclick="findAddr()">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">기본주소</label>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-user"
										id="employee_sa" name="employee_sa" placeholder="도로명 주소"
										readonly>
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputEmail" class="col-sm-2 col-form-label">상세주소</label>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-user"
										id="employee_da" name="employee_da" placeholder="상세 주소">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">연락처</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_ph" name="employee_ph">
								</div>
							</div>

							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">성별</label>
								<div class="col-sm-4">
									<select class="form-select" aria-label="Default select example"
										id="employee_sb" name="employee_sb">
										<option value="남자" selected>남자</option>
										<option value="여자">여자</option>
									</select>
								</div>
							</div>    
							<div class="row mb-3">
							
								<label for="inputText" class="col-sm-2 col-form-label">기본급</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_bs" name="employee_bs">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">은행</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_bk" name="employee_bk">
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">계좌번호</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_an" name="employee_an">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">예금주</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="employee_dt" name="employee_dt">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer d-flex justify-content-between">
						<button type="button" class="btn btn-danger" id="resetFormBtn"  style="display: flex; justify-content: flex-start; align-items: center;">초기화</button>
						<div>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >닫기</button>
							<button type="submit" id="modal_submit_button" class="btn btn-primary" form="appointment_form">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 그리드 및 등록 버튼 -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">인사카드 등록</h5>
								<div class="col-sm-12">
									<div id="filterModule" class="mb-3"></div>
									<div id="grid"></div>
								</div>
								<div class="col-sm-12">
									<div th:if="${#authentication.principal.employee_rl == 'HR_ADMIN' or #authentication.principal.employee_rl == 'SYS_ADMIN'}">
										<button type="button" class="btn btn-primary" id="openCreateModal">등록</button>
										<button type="button" class="btn btn-primary" id="btn_employee_delete">삭제</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</main>
	<!-- 메인 끝 -->
</body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	function findAddr() {
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 우편번호 필드 설정
	            $("#employee_zc").val(data.zonecode);
	            // 기본주소 (도로명 주소) 필드 설정
	            $("#employee_sa").val(data.roadAddress);
	            // 상세주소 초기화 및 포커스 이동
	            $("#employee_da").val("").focus();

	            // 주소 통합 초기화 (상세주소 제외)
	            const employee_ad = `(${data.zonecode}) ${data.roadAddress}`;
	            $("#employee_ad").val(employee_ad);
	        }
	    }).open();
	}

	// 상세주소 입력 시 통합주소 업데이트
	$("#employee_da").on("input", function() {
	    const zipCode = $("#employee_zc").val(); // 우편번호
	    const roadAddress = $("#employee_sa").val(); // 도로명 주소
	    const detailAddress = $(this).val(); // 상세주소

	    // 통합주소 갱신
	    const employee_ad = `(${zipCode}) ${roadAddress} ${detailAddress}`;
	    $("#employee_ad").val(employee_ad);
	});
	

 	$(function() {
 	    var today = new Date();

 	    // 입사일 DatePicker 설정
 	    var startPicker = tui.DatePicker.createRangePicker({
 	    	language: 'ko',
 	        startpicker: {
 	            date: today, // 오늘 날짜로 초기화
 	            input: '#employee_hd',
 	            container: '#startpicker-container',
 	        },
 	        endpicker: {
 	            date: today, // 오늘 날짜로 초기화
 	            input: '#employee_rd',
 	            container: '#endpicker-container',
 	            disabled: true // 퇴사일 기본 비활성화
 	        },
 	        format: 'YYYY-MM-dd',
 	        timePicker: false
 	    });

 	 	// 초기 상태에서 퇴사일 비활성화
 	    $('#employee_rd').prop('disabled', true);
	    
 	    // start 날짜 선택 시 퇴사일을 입사일 이후로 설정하고 퇴사일 활성화
 	    startPicker.on('change:start', function(event) {
 	        // start 날짜 선택 후 event.date를 제대로 가져오는지 확인
 	        if (event && event.date) {
 	            console.log("Start Date selected: ", event.date);

 	            // 입사일이 선택되면 퇴사일 최소 날짜를 설정하고 퇴사일 활성화
 	            var minEndDate = new Date(event.date); // 입사일을 기준으로 설정
 	            minEndDate.setDate(minEndDate.getDate() + 1); // 퇴사일은 입사일 이후로 설정

 	            // 퇴사일 DatePicker 설정
 	            var endPicker = tui.DatePicker.createRangePicker({
 	                startpicker: {
 	                    date: event.date, // 입사일 이후 날짜부터 설정
 	                    input: '#employee_hd',
 	                    container: '#startpicker-container',
 	                },
 	                endpicker: {
 	                    date: minEndDate, // 입사일 이후 날짜로 설정
 	                    input: '#employee_rd',
 	                    container: '#endpicker-container',
 	                    disabled: false // 퇴사일 활성화
 	                },
 	                format: 'YYYY-MM-dd',
 	                timePicker: false
 	            });

 	            // 퇴사일 선택 후 캘린더 닫기
 	            endPicker.on('change:end', function(event) {
 	                console.log("End Date selected: ", event.date);
 	                endPicker.close();
 	            });

 	            // 입사일 선택 후 캘린더 닫기
 	            startPicker.close();
 	        } else {
 	            console.error("Start date is not available in the event");
 	        }
 	    });
 	});


    function validateDate() {
        const dateInput = document.getElementById("employee_bd").value;

        // 8자리 숫자 확인
        if (!/^\d{8}$/.test(dateInput)) {
			$('#employee_bd_check').text('8자리 숫자로만 입력해주세요. ex) 19900101').css('color', 'red');
            return false;
        } else {
			$('#employee_bd_check').text('사용가능한 생년월일 입니다').css('color', 'green');
		}

        // 날짜 분리 (YYYY, MM, DD)
        const year = parseInt(dateInput.substring(0, 4), 10);
        const month = parseInt(dateInput.substring(4, 6), 10);
        const day = parseInt(dateInput.substring(6, 8), 10);

        // 날짜 유효성 검사 (2월 30일 등 잘못된 날짜 체크)
        const date = new Date(year, month - 1, day);
        if (date.getFullYear() !== year || date.getMonth() !== month - 1 || date.getDate() !== day) {
            Swal.fire({
                icon: 'error',
                title: '오류 발생!',
                text: '잘못된 날짜입니다.',
                confirmButtonText: '확인'
            });
            return false;
        }

        return true;
    }

    // 포커스를 벗어날 때마다 날짜 유효성 검사 실행
    function onBlurValidate() {
        validateDate();
    }

		
	// 이메일 관련 처리
	$('#employee_domain').on('change', function () {
	    const customDomainInput = $('#custom_domain');
	    if ($(this).val() !== "custom") {
	        customDomainInput.val($(this).val()).prop('disabled', true);
	    } else {
	        customDomainInput.val('').prop('disabled', false).attr('placeholder', '직접 입력');
	    }
	});

	// 이메일 합치기
	function updateFullEmail() {
	    const username = $('#email_id').val().trim();
	    const domainSelect = $('#employee_domain');
	    const customDomainInput = $('#custom_domain');
	    const fullEmailInput = $('#employee_em');

	    let domain = domainSelect.val();
	    if (domain === "custom") {
	        domain = customDomainInput.val().trim();
	    }

	    fullEmailInput.val(username + '@' + domain);
	}

	// 이벤트 핸들러 등록
	$('#email_id').on('input', updateFullEmail);
	$('#employee_domain').on('change', updateFullEmail);
	$('#custom_domain').on('input', updateFullEmail);
	
	
	// 한글입력불가 
	function validateId(input) {
	    // 한글을 감지하는 정규식: 한글 범위에 해당하는 문자
	    const koreanRegex = /[ㄱ-ㅎㅏ-ㅣ가-힣]/g;

	    // 입력값에서 한글이 포함되었는지 확인
	    if (koreanRegex.test(input.value)) {
	        // 한글 제거
	        input.value = input.value.replace(koreanRegex, '');
	        
	        // 피드백 메시지 표시
	        const feedback = document.getElementById('employee_id_check');
	        feedback.textContent = "아이디에는 한글을 입력할 수 없습니다.";
	        feedback.style.color = "red";
	    } else {
	        // 피드백 메시지 제거
	        document.getElementById('employee_id_check').textContent = '';
	    }
	}
	
	function validateEmployeeName(input) {
	    // 영문을 감지하는 정규식: 영문 범위에 해당하는 문자
	    const englishRegex = /[a-zA-Z]/g;

	    // 입력값에서 영문이 포함되었는지 확인
	    if (englishRegex.test(input.value)) {
	        // 영문 제거
	        input.value = input.value.replace(englishRegex, '');
	        
	        // 피드백 메시지 표시
	        const feedback = document.getElementById('employee_nm_check');
	        feedback.textContent = "사원명에는 영문을 입력할 수 없습니다.";
	        feedback.style.color = "red";
	    } else {
	        // 피드백 메시지 제거
	        document.getElementById('employee_nm_check').textContent = '';
	    }
	}
	
	
	
</script>

<!-- 필터 모듈 JS File -->
<script th:inline="javascript">
	$(document).ready(function () {
// 		setGridTheme();
	    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

		var userRole = /*[[${role}]]*/ 'default';
		
		const filterConfig = [
			{ key: 'startDate', label: '조회기간 시작일', type: 'daterangepicker', format: 'YYYY-MM-dd', value: '2024-01-01'},
			{ key: 'endDate', label: '조회기간 종료일', type: 'daterangepicker', format: 'YYYY-MM-dd', value: '2025-12-31'},
            { key: 'employeeCd', label: '사원코드', type: 'text', placeholder: '사원 CD 입력',  col: 'col-3' },
            { key: 'employeeNm', label: '사원명', type: 'text', placeholder: '사원이름 입력',  col: 'col-3' },
            { key: 'employeeDp', label: '부서', type: 'text', placeholder: '부서명 입력',  col: 'col-3' },
            { key: 'employeeGd', label: '직위', type: 'text', placeholder: '직위 입력',  col: 'col-3' },
        ];
		
	    
		setElementHeight('.card', -105);
		
		$(window).resize(function() {
			setElementHeight('.card', -105);
			if(grid != null) {
				setGridHeight(grid, -430);
			}
		});

		 $(document).on('filterToggled', function(e) {
			 console.log(grid);
			    if(e.detail.isVisible) {
			        setGridHeight(grid, -460);
			    } else {
			        setGridHeight(grid, -390);
			    }
			});
	    
	    
	    
	    // 필터 모듈 초기화
		initializeFilterModule('filterModule', filterConfig, (filterValues) => {
		    console.log('적용된 필터:', filterValues);
		
		    // 필터 적용 후 서버 요청 및 Grid 갱신
		    fetch('/select_FILTERED_EMPLOYEE', {
		        method: 'POST',
		        headers: { 'Content-Type': 'application/json',
		        			[csrfHeader]: csrfToken
		        },
		        body: JSON.stringify(filterValues)
		    })
		    .then(response => response.json())
		    .then(filteredData => {
		        console.log('필터링된 데이터:', filteredData);
		
		        // Grid 데이터 갱신
		        grid.resetData(filteredData);
		    })
		    .catch(error => console.error('필터 적용 오류:', error));
		});
	    
	    // 필터 엔터키 검색 이벤트
		$('#filterModule').on('keypress', function (e) {
		    if (e.keyCode !== 13) return;
		    const filterValues = {};

		    for (const config of filterConfig) {
		        const input = $(`#${config.key}`);
		        let value = input.val();

		        // employee_dp 필드에 대해서만 trim() 적용
		        if (config.key === 'employeeDp' && value) {
		            value = value.trim();
		            console.log("Trimmed employeeDp:", value);  // 값 확인을 위한 로그 추가
		        }

		        filterValues[config.key] = value;
				
				console.log('필터값:', filterValues);  // 필터링된 값 확인
		    }

		    // 서버 요청 및 그리드 갱신
		    $.ajax({
		        url: '/select_FILTERED_EMPLOYEE',
		        method: 'POST',
		        headers: {
		            'Content-Type': 'application/json',
		            [csrfHeader]: csrfToken,
		        },
		        data: JSON.stringify(filterValues),
		        success: function(filteredData) {
		            console.log('엔터키로 필터링된 데이터:', filteredData);
		            grid.resetData(filteredData);
		        },
		        error: function(error) {
		            console.error('엔터키 필터 적용 오류:', error);
		        }
		    });
		});

	    
	    let employeeList = []; // 전체 인사 데이터

	    let grid;

	    // 데이터 가져오기 및 초기화
	    $.ajax({
	        url: '/select_EMPLOYEE',
	        method: 'GET',
	        success: function (response) {
	            // 서버에서 가져온 데이터를 employeeList에 저장
	            employeeList = response;

	            // Grid 초기화
	            grid = new tui.Grid({
	                el: document.getElementById('grid'),
	                data: employeeList.map(row => ({
	                	employee_cd: row.employee_cd,
	                	employee_id: row.employee_id,
	                	employee_pw: row.employee_pw,
	                	employee_dp: row.employee_dp,
	                	employee_gd: row.employee_gd,
	                	employee_hd: row.employee_hd,
	                	employee_rd: row.employee_rd,
	                	employee_rr: row.employee_rr,
	                	employee_cg: row.employee_cg,
	                	employee_nt: row.employee_nt,
	                	employee_nm: row.employee_nm,
	                	employee_bd: row.employee_bd,
	                	employee_ad: row.employee_ad,
	                	employee_sb: row.employee_sb,
	                	employee_ph: row.employee_ph,
	                	employee_em: row.employee_em,
	                	employee_pi: row.employee_pi,
	                	employee_bs: row.employee_bs,
	                	employee_bk: row.employee_bk,
	                	employee_an: row.employee_an,
	                	employee_dt: row.employee_dt,
	                	employee_wr: row.employee_wr,
	                	employee_wd: row.employee_wd,
	                	employee_mf: row.employee_mf,
	                	employee_md: row.employee_md,
	                	employee_mg: row.employee_mg,
	                	employee_rl: row.employee_rl,
	                	employee_us: row.employee_us
	                })), // 가져온 데이터 설정
	                scrollX: true,
	                scrollY: true,
	                autoWidth: true,
	                rowHeight: 'auto',
	                bodyHeight: 'fitToParent',
	                rowHeaders: ['checkbox'], // 체크박스 행
	                zIndex: 100,
        			summary: {
        			    height: 40,
        			    position: 'bottom', // or 'top'
        			    columnContent: {
        			    	employee_em: {
        			            template: (valueMap) => {
        			                return `총  ${valueMap.cnt} 건`
        			            }
        			        }
        			    }
        			},
	                columns: [
						{ header: '사원코드', name: 'employee_cd', align: 'center', filter: {type: 'text', showApplyBtn: true}, sortable: true },
						{ header: '사원아이디', name: 'employee_id',  align: 'center', filter: {type: 'text', showApplyBtn: true}, sortable: true },
						{ header: '사원명', name: 'employee_nm', align: 'center', filter: {type: 'text', showApplyBtn: true}, sortable: true },
						{ header: '부서', name: 'employee_dp', align: 'center', filter: {type: 'select'}, sortable: true },
						{ header: '직위', name: 'employee_gd', align: 'center', filter: {type: 'select'}, sortable: true },
						{ header: '생년월일', name: 'employee_bd', align: 'center', filter: {type: 'date', options: {format: 'yyyyMMdd'}}, sortable: true },
						{ header: '입사일', name: 'employee_hd', align: 'center', filter: {type: 'date', options: {format: 'yyyy-MM-dd'}}, sortable: true },
						{ header: '주소', name: 'employee_ad', align: 'center', filter: {type: 'text', showApplyBtn: true}, sortable: true },
						{ header: '연락처', name: 'employee_ph', align: 'center', filter: {type: 'text', showApplyBtn: true}, sortable: true },
						{ header: '이메일', name: 'employee_em', align: 'center', filter: {type: 'text', showApplyBtn: true}, sortable: true },
						
						// 숨김 컬럼
						{ header: '패스워드', name: 'employee_pw', hidden: true },
						{ header: '성별', name: 'employee_sb', hidden: true },
						{ header: '채용구분', name: 'employee_cg', hidden: true },
						{ header: '퇴사일', name: 'employee_rd', hidden: true  },
						{ header: '퇴사사유', name: 'employee_rr', hidden: true  },
						{ header: '비고', name: 'employee_nt', hidden: true  },
						{ header: '권한설정', name: 'employee_rl', hidden: true  },
						{ header: '사진', name: 'employee_pi', hidden: true  },
						{ header: '기본급', name: 'employee_bs', hidden: true  },
						{ header: '은행', name: 'employee_bk', hidden: true  },
						{ header: '계좌번호', name: 'employee_an', hidden: true  },
						{ header: '예금주', name: 'employee_dt', hidden: true  },
						{ header: '작성자', name: 'employee_wr', hidden: true  },
						{ header: '작성일', name: 'employee_wd', hidden: true  },
						{ header: '수정자', name: 'employee_mf', hidden: true  },
						{ header: '수정일', name: 'employee_md', hidden: true  },
						{ header: '부서장유무', name: 'employee_mg', hidden: true  },
						{ header: '사용여부', name: 'employee_us', hidden: true  },
	                ]
	            });
	            
				
				// 그리드 클릭 이벤트 등록
				grid.on('click', (ev) => {
				    const columnName = ev.columnName;
				    const rowKey = ev.rowKey;
				    const rowData = grid.getRow(rowKey);
				    console.log("rowData : " + rowData);

					// 헤더 클릭인지 확인
					if (rowKey === null || rowKey === undefined) {
					    console.warn("헤더 클릭은 무시됩니다.");
					    return;
					}
					
					if (columnName === 'employee_cd' || columnName === 'employee_id' || columnName === 'employee_nm') {
						console.log("모달에 표시할 데이터:", rowData);
						openEditModal(rowData);
					}
				});
				
				setGridHeight(grid, -476);
				
	        },
	        error: function (error) {
	            console.error('데이터 로드 실패:', error);
	        }
	    });
	    
	    

	    // 삭제 버튼 클릭 이벤트
	    $('#btn_employee_delete').on('click', function () {
	        const checkedRows = grid.getCheckedRows();
	        if (checkedRows.length === 0) {
	            Swal.fire({
	                icon: 'error',
	                title: '오류 발생!',
	                text: '삭제할 사원을 선택하세요.',
	                confirmButtonText: '확인'
	            });
	            return;
	        }

	        const employee_cds = checkedRows.map(row => row.employee_cd);

	        Swal.fire({
	            title: '삭제 확인',
	            text: `선택한 사원(${employee_cds.join(', ')})을 삭제하시겠습니까?`,
	            icon: 'warning',
	            showCancelButton: true,
	            confirmButtonText: '삭제',
	            cancelButtonText: '취소',
	            reverseButtons: true
	        }).then((result) => {
	            if (result.isConfirmed) {
	                // 확인 버튼을 눌렀을 때 실행할 코드
	                console.log(`선택한 사원(${employee_cds.join(', ')}) 삭제를 진행합니다.`);
	                // 여기에서 실제 삭제 처리 로직을 추가합니다.
	                
	    	        $.ajax({
	    	            url: '/delete_EMPLOYEE',
	    	            method: 'POST',
	    	            headers: { 'X-CSRF-TOKEN': csrfToken },
	    	            data: JSON.stringify({ employee_cds }),
	    	            contentType: 'application/json',
	    	            success: function () {
	    		            Swal.fire({
	    		                icon: 'success',
	    		                title: '삭제완료!',
	    		                text: '삭제가 완료되었습니다.',
	    		                confirmButtonText: '확인'
	    		            });
	    		            setTimeout(() => {
	    		                location.reload();
	    		            }, 1000);
	    	            },
	    	            error: function (xhr) {
	    	                console.error('삭제 중 오류 발생:', xhr.responseText);
	    		            Swal.fire({
	    		                icon: 'error',
	    		                title: '오류발생',
	    		                text: '삭제 중 오류가 발생했습니다.',
	    		                confirmButtonText: '확인'
	    		            });
	    	            }
	    	        });
	                
	                
	            } else if (result.dismiss === Swal.DismissReason.cancel) {
	                // 취소 버튼을 눌렀거나 팝업을 닫았을 때 실행할 코드
	                console.log('삭제가 취소되었습니다.');
	            }
	        });
	    });

	    // 모달 닫힐 때 상태 초기화
	    $('#modal_appointment_save').on('hidden.bs.modal', function () {
			$('#appointment_form')[0].reset(); // 폼 초기화
			$('#employee_pw_check').text('');
			resetPhoto(); // 사진 초기화
			$('#employee_cd').val(''); // 숨겨진 수정용 필드 초기화
			$('#modalTitle').text(''); // 모달 제목 초기화
			$('#modal_submit_button').text(''); // 버튼 텍스트 초기화
			
		    // #reset-password-btn 버튼 상태 초기화
		    if ($('#reset-password-btn').is(':hidden')) {
		        $('#reset-password-btn').show(); // 모달 닫힐 때 버튼을 다시 보이게 함
		    }
			
	    });

		// 사진 미리보기 초기화 함수
		function resetPhoto() {
		    $('#photoPreview').hide().attr('src', ''); // 사진 숨기기
		    $('#uploadText').show(); // "사진 등록" 텍스트 표시
		    $('#removePhotoBtn').hide(); // 삭제 버튼 숨기기
		    $('#employee_pi').val(''); // 파일 입력 초기화
		}

		// 사진 미리보기 업데이트 함수
		$('#employee_pi').on('change', function () {
		    const file = this.files[0];
		    if (file) {
		        const reader = new FileReader();
		        reader.onload = function (e) {
		            $('#photoPreview').attr('src', e.target.result).show(); // 미리보기 업데이트
		            $('#uploadText').hide();
		            $('#removePhotoBtn').show();
		            $('#photoDeleted').val('false'); // 사진 삭제 상태 해제
		        };
		        reader.readAsDataURL(file);
		    } else {
		        $('#photoPreview').hide();
		        $('#uploadText').show();
		        $('#removePhotoBtn').hide();
		        $('#photoDeleted').val('true'); // 파일 선택 취소 시 삭제 상태로 설정
		    }
		});

		// 사진 삭제 버튼 이벤트
		$('#removePhotoBtn').on('click', function (event) {
		    event.preventDefault(); // 기본 폼 제출 동작 방지
		    $('#photoDeleted').val('true'); // 사진 삭제 상태 설정
		    $('#photoPreview').hide().attr('src', ''); // 미리보기 숨기기
		    $('#uploadText').show(); // 업로드 텍스트 표시
		    $('#removePhotoBtn').hide(); // 삭제 버튼 숨기기
		    $('#employee_pi').val(''); // 파일 입력 초기화
		});


		
		// 사진 컨테이너 클릭 이벤트
		$('#photoContainer').on('click', function () {
		    $('#employee_pi').click(); // 파일 선택창 열기
		});
		
		// 등록 모달 열기
		$('#openCreateModal').on('click', function () {
		    openCreateModal();
		});

		// 등록 모달 함수
		function openCreateModal() {
		    // 모달 초기화
		    resetModal();
		    $('#resetFormBtn').show();
		    // 모달 설정
		    $('#modalTitle').text('인사카드 등록');
		    $('#modal_submit_button').text('등록');

		    // 모달 열기
		    const modalInstance = new bootstrap.Modal($('#modal_appointment_save')[0]);
		    modalInstance.show();
		}

		// 모달 초기화 함수
		function resetModal() {
		    $('#appointment_form')[0].reset(); // 폼 초기화
		    resetPhoto(); // 사진 초기화
		    $('#employee_cd').val(''); // 수정용 필드 초기화
	        $('#employee_bd_check').text('');
	        $('#custom_domain_check').text('');
	        $('#email_id_check').text('');
	        $('#employee_pw_check').text('');
	        $('#employee_id_check').text('');
	        
	        // #employee_id, #employee_pw 상태 초기화
	        $('#employee_id').prop('disabled', false);
	        $('#employee_pw').prop('disabled', false).show();

	        // Reset Password 버튼 삭제
	        $('#reset-password-btn').remove();
	        
	        // endpicker 비활성화 처리
	        $('#employee_rd').prop('disabled', true); // input 비활성화
	        
		}
		
	    // 초기화 버튼 클릭 이벤트
	    $('#resetFormBtn').on('click', function () {
	        // 폼의 모든 입력 필드 초기화
	        $('#appointment_form')[0].reset();

	        // disabled 상태 초기화
	        $('#appointment_form input, #appointment_form select').each(function () {
	            if ($(this).is(':disabled')) {
	                $(this).prop('disabled', true); // 기존 disabled 유지
	            } else {
	                $(this).prop('disabled', false); // 활성화
	            }
	        });

	        // 유효성 메시지 초기화
	        $('#employee_bd_check').text('');
	        $('#custom_domain_check').text('');
	        $('#email_id_check').text('');
	        $('#employee_pw_check').text('');
	        $('#employee_id_check').text('');
	    });
		
	    
	    
		let originalPassword = '';  // 초기 비밀번호 저장
		let isPasswordChanged = false;  // 비밀번호 변경 여부
		
		
		// 수정 모달 열기 함수
		function openEditModal(rowData) {
		
		    console.log("수정 모달 열기 데이터:", rowData);

			
			// 기존 비밀번호 저장 및 변경 여부 초기화
			originalPassword = rowData['employee_pw'] || '';
			isPasswordChanged = false;
			
			
			$('#employee_pw').prop("disabled", true).hide();
			
			
		    // 모달 제목 및 버튼 텍스트 설정
		    $('#employee_bd_check').text('');
		    $('#employee_id_check').text('');
		    $('#modalTitle').text('인사카드 수정');
		    $('#modal_submit_button').text('수정');
		    $('#resetFormBtn').hide();
		
		    const selectFields = {
		        // 필드 이름과 매칭 기준 지정
		        employee_gd: 'text', 
		        employee_dp: 'text', 
		        employee_rl: 'text', 
		        employee_us: 'value',
		        employee_mg: 'value' 
		    };
		
		    Object.keys(selectFields).forEach(field => {
		        const $select = $(`#${field}`);
		        if ($select.length) {
		            const textToMatch = rowData[field];
		            const matchType = selectFields[field];
		            const matchingOption = $select.find('option').filter((_, option) => {
		                if (matchType === 'text') {
		                    return $(option).text() === textToMatch; // 텍스트 매칭
		                } else {
		                    return $(option).val() === String(textToMatch); // 값 매칭
		                }
		            });

		            if (matchingOption.length) {
		                $select.val(matchingOption.val()).prop('selected', true); // 매칭된 value 선택
		            } else {
		                console.warn(`'${field}'에 '${textToMatch}' 값이 존재하지 않습니다.`);
		            }
		        }
		    });

			const excludeKeys = ['employee_pw', 'secretField'];
			
			
			Object.keys(rowData).forEach(key => {
			    if (!excludeKeys.includes(key)) {
			        const $field = $(`#${key}`);
			        if ($field.length && $field.is('input, textarea') && $field.attr('type') !== 'file') {
			            $field.val(rowData[key] || '');
			        }
			    }
			});
		    
		    
		    
		
		    // 여러 필드를 비활성화/활성화할 때 선택자 수정
 		    const fieldsToDisable = [
 		        "#employee_id", "#employee_hd", "#employee_dp", "#employee_nt",
 		        "#employee_gd", "#employee_rd", "#employee_cg", "#employee_nm",
 		        "#employee_bd", "#employee_sb", "#employee_bs", "#employee_rr",
 		        "#employee_mg", "#employee_rl", "#employee_pw", "#employee_us"
 		    ];
		
 		    // 필드 활성화/비활성화 처리
 		    if (userRole === 'HR_ADMIN' || userRole === 'SYS_ADMIN') {
 		        fieldsToDisable.forEach(function (field) {
 		            if (field === "#employee_id") {
 		                $(field).prop("disabled", true); // #employee_id 비활성화
 		            } else if (field === "#employee_pw") {
 		                $(field).prop("disabled", true).hide(); // #employee_pw 숨기고 비활성화
 		                if (!$('#reset-password-btn').length) {
 		                    $('<button>', {
 		                        id: 'reset-password-btn',
 		                        text: 'Reset Password',
 		                        class: 'btn btn-primary',
 		                    }).insertAfter(field);
		
 		                    $('#reset-password-btn').off('click').on('click', function (event) {
 		                        event.preventDefault();
 		                        $(this).hide();
 		                        $('#employee_pw').prop("disabled", false).show().focus();
								isPasswordChanged = true;  // 비밀번호 변경 플래그 설정
 		                    });
 		                }
 		            } else {
 		                $(field).prop("disabled", false); // 나머지 필드 활성화
 		            }
 		        });
 		    } else if (userRole === 'SYS_ADMIN') {
 		        fieldsToDisable.forEach(function (field) {
 		            $(field).prop("disabled", false); // 모든 필드 활성화
 		        });
 		    } else if (userRole === 'EMPLOYEE' || userRole === 'PR_ADMIN' || userRole === 'AT_ADMIN') {
				fieldsToDisable.forEach(function (field) {
				     $(field).prop("disabled", true);
				 });
				 $('#employee_pw').val('').prop("disabled", true).hide();

				 if (!$('#change-password-btn').length) {
				     $('<button>', {
				         id: 'change-password-btn',
				         text: 'Change Password',
				         class: 'btn btn-primary',
				     }).insertAfter('#employee_pw');

				     $('#change-password-btn').off('click').on('click', function (event) {
				         event.preventDefault();
				         $(this).hide();
				         $('#employee_pw').prop("disabled", false).show().focus();
				     });
				 }
 		    }
		
		    
		    if (rowData.employee_ad) {
		        const regex = /\((\d{5})\)\s*(.+?\d)\s+(.*)/;
		        const match = rowData.employee_ad.match(regex); // 수정된 부분
		        if (match) {
		            $("#employee_zc").val(match[1]); // 우편번호
		            $("#employee_sa").val(match[2]); // 기본주소
		            $("#employee_da").val(match[3].trim()); // 상세주소
		        } else {
		            console.warn('주소 형식이 잘못되었습니다:', rowData.employee_ad);
		        }
		    }
		
		    if (rowData.employee_em) {
		        const [email_id, domain] = rowData.employee_em.split('@');
		        if (email_id && domain) {
		            $('#email_id').val(email_id);
		            if (domain === 'custom') {
		                $('#employee_domain').val('');
		                $('#custom_domain').val(domain).prop('disabled', false);
		            } else {
		                $('#employee_domain').val(domain);
		                $('#custom_domain').val('').prop('disabled', true);
		            }
		        } else {
		            console.warn('이메일 형식이 잘못되었습니다:', rowData.employee_em);
		        }
		    }
		
		    if (rowData.employee_pi) {
		        const imagePath = `/upload/${rowData.employee_pi}`; // 수정된 부분
		        $('#photoPreview').attr('src', imagePath).show();
		        $('#uploadText').hide();
		        $('#removePhotoBtn').show();
		    } else {
		        resetPhoto();
		    }
		
		    $('#employee_pi').val('');
		
		    $('#modal_appointment_save').modal('show');
		
		    console.log("수정 모달 열림", rowData); // 수정된 부분
		}

		
		// 사진 초기화 함수
		function resetPhoto() {
		    $('#photoPreview').hide().attr('src', '');
		    $('#uploadText').show();
		    $('#removePhotoBtn').hide();
		    $('#employee_pi').val('');
		}

		// 아이디 입력 유효성 처리
		$('#employee_id').on('blur', function () {
		    const employee_id = $(this).val().trim();

		    // 입력값이 없으면 초기화
		    if (employee_id === '') {
		        $('#employee_id_check').text('아이디를 입력해주세요').css('color', 'red');
		        return;
		    }

			// 정규식으로 아이디 형식 검사
			const regex = /^[a-zA-Z0-9]{4,16}$/;  // 4자 이상 16자 이하, 영문 대소문자, 숫자만 허용
			if (!regex.test(employee_id)) {
			    $('#employee_id_check').text('아이디는 4자 이상 16자 이하이며, 영어 대소문자와 숫자만 허용됩니다.').css('color', 'red');
			    return;
			}
			
		    // AJAX로 아이디 유효성 검사
		    $.ajax({
		        url: '/check_employee_id', // 서버의 유효성 검사 엔드포인트
		        method: 'POST',
		        headers: { 'X-CSRF-TOKEN': csrfToken }, // CSRF 토큰 추가
		        contentType: 'application/json',  // JSON 형식으로 데이터 보내기
		        dataType: 'json',  // 응답도 JSON 형식으로 받기
		        data: JSON.stringify({ employee_id: employee_id }), // JSON으로 변환하여 보내기
		        success: function (response) {
		            if (response.isValid) {
		                $('#employee_id_check').text('사용 가능한 아이디입니다.').css('color', 'green');
		            } else {
		                $('#employee_id_check').text('이미 존재하는 아이디입니다.').css('color', 'red');
		            }
		        },
		        error: function () {
		            $('#employee_id_check').text('유효성 검사 중 오류가 발생했습니다.').css('color', 'red');
		        }
		    });
		});


		
	    // 이메일 아이디 유효성 검사
	    $('#email_id').on('blur', function () {
	        const email_id = $(this).val().trim();
	        const emailIdRegex = /^[a-zA-Z0-9_-]{1,20}$/; // 영어, 숫자, 하이픈(-), 밑줄(_)만 허용

	        if (!emailIdRegex.test(email_id)) {
	            $('#email_id_check').text('이메일 아이디는 영어, 숫자, 하이픈(-), 밑줄(_)만 허용됩니다.').css('color', 'red');
	        } else {
	            $('#email_id_check').text('');
	        }
	    });

	    // 도메인 선택에 따른 동작
	    $('#employee_domain').on('change', function () {
	        const selectedDomain = $(this).val();

	        if (selectedDomain === 'custom') {
	            // "직접 입력" 선택 시 custom_domain 활성화
	            $('#custom_domain').prop('disabled', false).val(''); // 초기화
	            $('#custom_domain_check').text(''); // 에러 메시지 초기화
	        } else {
	            // 다른 도메인 선택 시 custom_domain에 선택된 도메인 값을 설정
	            $('#custom_domain').prop('disabled', true).val(selectedDomain);
	            $('#custom_domain_check').text('');
	        }
	    });

	    // 직접 입력 도메인 유효성 검사
	    $('#custom_domain').on('blur', function () {
	        const customDomain = $(this).val().trim();
	        const domainRegex = /^[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/; // 도메인 형식 검사

	        if ($('#employee_domain').val() === 'custom') {
	            // 직접 입력 도메인의 유효성 검사 수행
	            if (!domainRegex.test(customDomain)) {
	                $('#custom_domain_check').text('올바른 도메인 형식이 아닙니다.').css('color', 'red');
	            } else {
	                $('#custom_domain_check').text('');
	            }
	        }
	    });



		// 패스워드 입력 유효성 처리
		$('#employee_pw').on('blur', function () {
		    const employee_pw = $(this).val().trim();

		    // 입력값이 없으면 초기화
		    if (employee_pw === '') {
		        $('#employee_pw_check').text('패스워드를 입력해주세요').css('color', 'red');
		        return;
		    }

		    // 정규식으로 패스워드 형식 검사
		    const passwordRegex = /^[a-zA-Z0-9!@#$%^&*()_+={}\[\]:;"'<>,.?/\\|-]{4,16}$/;
		    if (!passwordRegex.test(employee_pw)) {
		        $('#employee_pw_check').text('패스워드는 4자 이상 16자 이하로 입력해주세요').css('color', 'red');
		    } else {
		        $('#employee_pw_check').text('사용 가능한 패스워드입니다.').css('color', 'green');
		    }
		});
		

		
		
		// 폼 제출 이벤트
		$('#appointment_form').off('submit').on('submit', function (event) {
		    event.preventDefault();

			
			//  employee_mg 값 처리 (부서장/부서직원)
			let employeeMgValue = $('#employee_mg').val();
			const finalEmployeeMgValue = (employeeMgValue === "부서장" || employeeMgValue === "true") ? true : false;

			//  employee_us 값 처리 (사용중/사용중지)
			let employeeUsValue = $('#employee_us').val();
			const finalEmployeeUsValue = (employeeUsValue === "사용" || employeeUsValue === "1") ? true : false;


			
		    let employee_pw = $('#employee_pw').val().trim(); // 패스워드 필드 값 가져오기

		    // 패스워드가 비어있으면 employee_pw를 빈 문자열로 설정
		    if (!employee_pw) {
		        employee_pw = ''; // 빈 문자열로 설정
		    }		
			
		    const formData = new FormData(); // FormData 객체 생성
		    const mode = $('#modal_submit_button').text().trim(); // 등록/수정 모드 확인
		    const url = mode === '등록' ? '/insert_EMPLOYEE' : '/update_EMPLOYEE';

		    // DTO 데이터를 JSON으로 생성
		    const employeeDTO = {
		        employee_cd: $('#employee_cd').val(),
		        employee_id: $('#employee_id').val(),
		        employee_pw: employee_pw, // 비밀번호 필드 처리
		        employee_dp: $('#employee_dp').val(),
		        employee_gd: $('#employee_gd').val(),
		        employee_hd: $('#employee_hd').val(),
		        employee_rd: $('#employee_rd').val(),
		        employee_rr: $('#employee_rr').val(),
		        employee_cg: $('#employee_cg').val(),
		        employee_nt: $('#employee_nt').val(),
		        employee_nm: $('#employee_nm').val(),
		        employee_bd: $('#employee_bd').val(),
		        employee_ad: $('#employee_ad').val(),
		        employee_sb: $('#employee_sb').val(),
		        employee_ph: $('#employee_ph').val(),
		        employee_em: $('#employee_em').val(),
		        employee_bs: $('#employee_bs').val(),
		        employee_bk: $('#employee_bk').val(),
		        employee_an: $('#employee_an').val(),
		        employee_dt: $('#employee_dt').val(),
		        employee_wr: $('#employee_wr').val(),
		        employee_wd: $('#employee_wd').val(),
		        employee_mf: $('#employee_mf').val(),
		        employee_md: $('#employee_md').val(),
		        employee_rl: $('#employee_rl').val(),
		        employee_mg: finalEmployeeMgValue,
		        employee_us: finalEmployeeUsValue,
		        photoDeleted: $('#photoDeleted').val() // 사진 삭제 여부 추가
		    };

		    const fileInput = $('#employee_pi')[0].files[0]; // 파일 선택

		    formData.append('employeeDTO', new Blob([JSON.stringify(employeeDTO)], { type: 'application/json' })); // JSON 추가

		    if (fileInput) {
		        formData.append('employee_pi', fileInput); // 파일 추가
		    }

		    $.ajax({
		        url: url,
		        method: 'POST',
		        processData: false,
		        contentType: false, // 멀티파트 전송 처리
		        headers: { 'X-CSRF-TOKEN': csrfToken }, // CSRF 토큰 추가
		        data: formData,
		        success: function () {
		        	Swal.fire({
		        		  icon: 'success',
		        		  title: mode === '등록' ? '등록 완료' : '수정 완료',
		        		  text: mode === '등록' ? '등록이 완료되었습니다.' : '수정이 완료되었습니다.',
		        		  confirmButtonText: '확인'
		        		});

		            $('#modal_appointment_save').modal('hide'); // 모달 닫기
		            setTimeout(() => {
		                location.reload();
		            }, 1000);
		        },
		        error: function (xhr) {
		            console.error('AJAX Error:', xhr.responseText);
		            console.error('AJAX Error:', employeeDTO);
		            Swal.fire({
		                icon: 'error',
		                title: '오류 발생!',
		                text: '작업 중 오류가 발생했습니다.',
		                confirmButtonText: '확인'
		            });
		        }
		    });
		});
		
		

		// 폼 제출 시 필수값 체크
		$('#modal_submit_button').click(function(event) {
		    if (!validateForm()) {
		        event.preventDefault(); // 폼 제출을 막음
		    }
		});

		// 필수값 검증 함수
		function validateForm() {
		    let isValid = true;

		    // 필수값 필드 목록
		    const requiredFields = [
		        { id: '#employee_id', message: '아이디를 입력해주세요.' },
		        { id: '#employee_nm', message: '사원명을 입력해주세요.' },
		        { id: '#employee_hd', message: '입사일을 입력해주세요.' }
		    ];

		    // 각 필드가 비어있는지 체크
		    $.each(requiredFields, function(index, field) {
		        const inputElement = $(field.id);
		        if (inputElement.val().trim() === '') {
		            // Swal.fire로 오류 메시지 표시
		            Swal.fire({
		                icon: 'error',
		                title: '오류 발생!',
		                text: field.message,
		                confirmButtonText: '확인'
		            });
		            inputElement.focus(); // 해당 필드에 포커스 설정
		            isValid = false;
		            return false; // $.each 반복문 중단
		        }
		    });

		    // 비밀번호 필드가 활성화된 경우 검증
		    const passwordField = $('#employee_pw');
		    if (!passwordField.prop('disabled') && passwordField.val().trim() === '') {
		        Swal.fire({
		            icon: 'error',
		            title: '오류 발생!',
		            text: '비밀번호를 입력해주세요.',
		            confirmButtonText: '확인'
		        });
		        passwordField.focus(); // 비밀번호 필드에 포커스 설정
		        isValid = false;
		    }

		    return isValid;
		}

    });
	
	
	
	
	
</script>
</html>