<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<style>

.tui-datepicker {
	z-index: 9999 !important;
	overflow: visible !important;
}

.tui-timepicker {
	z-index: 9999 !important;
	overflow: visible !important;
}

</style>
<body id="testtest">
	<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body ">
							<h5 class="card-title">입출고관리</h5>
							<div id="filterModule" class="mb-3"></div>
							<div id="grid"></div>
							<div id="btn_area" class="mt-2">
								<button type="button" class="btn btn-primary" id="btn_insert">등록</button>
<!-- 								<button type="button" class="btn btn-primary" id="btn_delete">삭제</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	// 변수 지정
	let grid, order_grid, item_grid, iw_grid, iwList_grid, ow_grid, owList_grid, lot_grid, treeMap, modal;
	const btn_insert = $('#btn_insert');
	const btn_delete = $('#btn_delete');
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	const today = new Date();
	const filterConfig = [
		{ key: 'startDate', label: '조회기간 시작일', type: 'daterangepicker', format: 'YYYY-MM-dd', value:getPrevDate(7) },
		{ key: 'endDate', label: '조회기간 종료일', type: 'daterangepicker', format: 'YYYY-MM-dd', value: getDate(today) },
	    { key: 'inout_io', label: '입출고구분', type: 'select', list: [], col: 'col-2' },
	    { key: 'inout_tp', label: '수발주구분', type: 'select', list: [], col: 'col-2' },
	    { key: 'inout_co', label: '수발주코드', type: 'text', list: [], col: 'col-2' },
	    { key: 'inout_wh', label: '창고', type: 'select', list: [], col: 'col-2' },
	    { key: 'inout_wa', label: '창고구역', type: 'select', list: [], col: 'col-2' },
	    { key: 'item_gc', label: '품목대분류', type: 'select', list: [], col: 'col-2' },
	    { key: 'item_cc', label: '품목소분류', type: 'select', list: [], col: 'col-2' },
	    { key: 'item_nm', label: '품목명', type: 'text', placeholder: '품목명 입력', col: 'col-2' },
	    { key: 'employee_cd', label: '담당자코드', type: 'text', placeholder: '품목명 입력', col: 'col-2' },
	    { key: 'employee_nm', label: '담당자명', type: 'text', placeholder: '품목명 입력', col: 'col-2' },
	];
	let commonList = [];
	let warehouseList = /*[[${warehouseList}]]*/[];
	let conFlag = false;
	let ioListGridList = {
		iw: iwList_grid,
		ow: owList_grid
	};
	let ioGridList = {
	  get iw() { return iw_grid; },
	  get ow() { return ow_grid; }
	};
	let clickRow = -1;


	// ------------------------------
	
	$(function() {
		setGridTheme();
		make_grid();
		getGridList();
		getList();
		setElementHeight('.card', -105);
		setGridHeight(grid, -396);
		
		$(window).resize(function() {
			setTimeout(() => {
				setElementHeight('.card', -105);
				setGridHeight(grid, -400);
				setGridWidth(grid, 0);
			}, 300);
		});
		
		
		// 검색필터
        initializeFilterModule('filterModule', filterConfig, (filterValues) => {
           	getGridList(filterValues);
        });
		
		// 엑셀 버튼 추가
		addExcelButton(grid, '입출고관리');
		
		$(document).on('filterToggled', function(e) {
		    if(e.detail.isVisible) {
		        setGridHeight(grid, -536);
		    } else {
		    	setGridHeight(grid, -396);
		    }
		});
		
		// 필터 엔터키 검색 이벤트
		$(document).on('keypress', '#filterModule', function(e) {
		    if (e.keyCode !== 13) return;
		    
		    const filterValues = {};
		    
		    for (const config of filterConfig) {
		        const input = $(`#${config.key}`);
		        const value = input.val();
		        filterValues[config.key] = value;
		    }
		    getGridList(filterValues);
		});
		// 필터 체인지 검색 이벤트
		$(document).on('change', '#filterModule select', function(e) {
		    const filterValues = {};
		    
		    for (const config of filterConfig) {
		        filterValues[config.key] = $(`#${config.key}`).val();
		    }
		    getGridList(filterValues);
		});
		
		console.log('mainDateRangeStartInput', mainDateRangeStartInput);

		// 보관창고 선택
		$(document).on('change', '#inout_wh', function() {
			changeSelectBox('#inout_wh', '#inout_wa', '/select_WAREAREA_CC', 'warehouse_cd');
		});
		
		// 보관구역 선택
		$(document).on('click', '#inout_wa', function(ev) {
			if(!$('#inout_wh').val()) {
				showAlert($('#inout_wh'), 'info', '보관창고 선택', '보관창고를 먼저 선택해주세요.');
				return;
			}
		});
		
		// 품목대분류
		$(document).on('change', '#item_gc', function() {
			changeSelectBox('#item_gc', '#item_cc', '/select_PRODUCT_CC', 'product_gc');
		});
		
		// 보관구역 선택
		$(document).on('click', '#item_cc', function(ev) {
			if(!$('#item_gc').val()) {
				showAlert($('#item_gc'), 'info', '대분류 선택', '품목 대분류를 먼저 선택해주세요.');
				return;
			}
		});
		
		// 모달 이벤트 ---------------------------
		// 입출고 등록
		btn_insert.on('click', function() {
			make_modal_detail();
		});
		
		// 입출고구분 선택
		$(document).on('change', '#modal_inout_io', function() {
			inputClear('io');
			
			const value = $(this).val();
			if(iw_grid != null) iw_grid.destroy();
			make_iw_grid(value);
			iw_grid.refreshLayout();
		});

		// 수발주구분 선택
		$(document).on('click', '#modal_inout_tp', function() {
			if(!$('#modal_inout_io').val()) {
				showAlert($('#modal_inout_io'), 'warning', '입출고구분 선택', '입출고구분을 선택해주세요.');
				return;
			}
		});
		$(document).on('change', '#modal_inout_tp', function() {
			inputClear('tp');
			
			conFlag = $(this).val() == 'C';
			$('.div_contract')[conFlag ? 'show' : 'hide']();
		});
		
		// 수발주코드 선택
		$(document).on('click', '#modal_inout_co', function() {
			if(!$('#modal_inout_tp').val()) {
				showAlert($('#modal_inout_tp'), 'warning', '수발주구분 선택', '수발주구분을 선택해주세요.');
				return;
			}

			make_order_modal(conFlag);
		});
		
		// 수발건 로트 선택 선택
		$(document).on('click', '#modal_inout_ln, #modal_inout_pc', function() {
			if(!$('#modal_inout_co').val()) {
				showAlert($('#modal_inout_co'), 'warning', '수발주코드 선택', '수발주코드를 선택해주세요.');
				return;
			}
			make_lot_modal($('#modal_inout_co').val());
		});
		
		// 품목 선택
		$(document).on('click', '#modal_inout_ic, #modal_inout_in', function() {
			if(!$('#modal_inout_co').val()) {
				showAlert($('#modal_inout_co'), 'warning', '수발주코드 선택', '수발주 건을 선택해주세요.');
				return;
			}
			if(conFlag && !$('#modal_inout_ln').val()) {
				showAlert($('#modal_inout_ln'), 'warning', '로트번호 선택', '로트번호를 선택해주세요.');
				return;
			}
			make_item_modal(conFlag, $('#modal_inout_co').val());				
		});
				
		// --------------------입출고창고--------------------
		$(document).on('click', '#btn_iow_add', function() {
			if(!$('#modal_inout_ic').val()) {
				showAlert($('#modal_inout_ic'), 'warning', '품목 선택', '품목을 선택해주세요.');
				return;
			}
			const newRowKey = iw_grid.appendRow(
			        { focus: true }
			    );
				
			iw_grid.getData().forEach((row, index) => {
					iw_grid.addCellClassName(index, 'iw_warehouse_nm', 'bg-opacity-50');
					iw_grid.addCellClassName(index, 'iw_warehouse_nm', 'text-black');
					iw_grid.addCellClassName(index, 'iw_warehouse_nm', 'bg-warning');
					iw_grid.addCellClassName(index, 'ow_warehouse_nm', 'bg-opacity-50');
					iw_grid.addCellClassName(index, 'ow_warehouse_nm', 'text-black');
					iw_grid.addCellClassName(index, 'ow_warehouse_nm', 'bg-warning');
			});
		});
		
		$(document).on('click', '#btn_iow_remove', function() {
			let checkedRows = iw_grid.getCheckedRows();
			if (!checkedRows.length) {
				showAlert('', 'warning', '삭제 항목 체크', '삭제할 입출고창고를 체크해주세요.');
			    return;
			}
			checkedRows.forEach(row => {
				iw_grid.removeRow(row.rowKey);
			});

		});
		
		//모달 초기화
		$(document).on('click', '#btn_modal_reset' ,function() {
			inputClear('all');
		});
		
		// 모달 등록 버튼
		$(document).on('click', '#btn_modal_save', function (){
			if (iw_grid.getFocusedCell()) {
			    iw_grid.finishEditing();
			}
			insert_INOUT();
		});
		
		// 모달 이벤트 끝 ---------------------------
		
		// 재고 삭제
		btn_delete.on('click', function() {
			let checkedRows = grid.getCheckedRows();
			console.log(checkedRows);
			if (!checkedRows.length) {
				showAlert('', 'warning', '삭제 항목 체크', '삭제할 재고를 체크해주세요.');
			    return;
			}
			delete_STOCK(checkedRows, grid['flag']);				
		});
		
	});
	
	//  함수 --------------------------------
	
	// 인풋 초기화
function inputClear(gubun) {
    const fieldGroups = {
        io: [
            '#modal_inout_tp', '#modal_inout_co', '#modal_inout_ec', '#modal_inout_en',
            '#modal_inout_ln', '#modal_inout_pc', '#modal_process_cd',
            '#modal_inout_ic', '#modal_inout_in', '#modal_inout_nn', '#modal_inout_un'
        ],
        tp: [
            '#modal_inout_co', '#modal_inout_ec', '#modal_inout_en',
            '#modal_inout_ln', '#modal_inout_pc', '#modal_process_cd',
            '#modal_inout_ic', '#modal_inout_in', '#modal_inout_nn', '#modal_inout_un'
        ],
        co: [
            '#modal_inout_ec', '#modal_inout_en',
            '#modal_inout_ln', '#modal_inout_pc', '#modal_process_cd',
            '#modal_inout_ic', '#modal_inout_in', '#modal_inout_nn', '#modal_inout_un'
        ],
        ln: [
            '#modal_inout_ic', '#modal_inout_in', 
            '#modal_inout_nn', '#modal_inout_un'
        ]
    };

    let fieldsToClear;
    if (gubun === 'all') {
        // 모든 그룹의 값을 합치고 중복을 제거
        fieldsToClear = Object.values(fieldGroups).reduce((acc, arr) => acc.concat(arr), []);
        fieldsToClear = [...new Set(fieldsToClear)];
        fieldsToClear.push('#modal_inout_io');
        fieldsToClear.push('#modal_inout_dt');
    } else {
        fieldsToClear = fieldGroups[gubun] || [];
    }

    fieldsToClear.forEach(selector => $(selector).val(''));

    iw_grid.resetData([]);

    if (gubun === 'io' || gubun === 'all') {
        $('.div_contract').hide();
    }
}


	
	function resetSearchInput(gubun){

		// 검색인풋 초기화하기
		
		if(!$('#additionalFilters').hasClass('d-none')) {
			$('#toggleFilters').click();
		}
		
	}


	// prefix 결정
	function getPrefix(flag) {
	    return flag ? 'contract' : 'order';
	}
	
	
	// 그리드, 모달 -----------------------
	
	// 그리드 생성
	function make_grid() {
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data: [],
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
// 				{type : 'checkbox',}, 
			],
			bodyHeight : 600,
			columns : [
				{header: '입출고일자', name: 'inout_dt', width: '160', align: 'center', sortable: true, filter: 'select'},
				{header: '입출고구분', name: 'inout_ionm', sortable: true, filter: 'select'},
				{header: '수발주구분', name: 'inout_tpnm', sortable: true, filter: 'select'},
				{header: '수발주코드', name: 'inout_co', sortable: true, filter: 'text'},
				{header: '창고명', name: 'inout_whnm', sortable: true, filter: 'select'},
				{header: '구역명', name: 'inout_wanm', sortable: true, filter: 'select'},
			    {header: '품목대분류', name: 'item_gn', sortable: true, filter: 'select'},
			    {header: '품목소분류', name: 'item_cn', sortable: true, filter: 'select'},
			    // {header: '품목대분류코드', name: 'stock_cd', hidden: true},
			    // {header: '품목분류코드', name: 'stock_cd', hidden: true},
	   		    // {header: '품목코드', name: 'item_cd', sortable: true, filter: 'text'},
			    {header: '품목명', name: 'item_nm', sortable: true, filter: 'text'},
			    {header: '입출고수량', name: 'inout_nn', align: 'right', sortable: true, 
					formatter: ({value}) => {
						return `${Number(value)?.toLocaleString()}`	
					},
		    	},
			    {header: '불량수량', name: 'inout_fn', align: 'right', sortable: true, 
					formatter: ({value}) => {
						return `${Number(value)?.toLocaleString()}`	
					},
		    	},
			    {header: '단위', name: 'item_un', align: 'center'},
			    {header: '담당자코드', name: 'employee_cd', sortable: true, filter: 'text'},
			    {header: '담당자명', name: 'employee_nm', sortable: true, filter: 'text'},
			],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	employee_nm: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
				},
			},
		});
		
		grid.on('dblclick', function(ev) {
			let row = grid.getRow(ev.rowKey);
			// make_modal_detail('update', grid['flag']);
			// setModalInput(row, getPrefix(grid['flag']));
		});
    }
	
	// 상세 모달
	function make_modal_detail(process) {
		let text = !process ? '등록' : '수정';
		let title = `입출고 ${text}`;
		const div_modal = 'div_INOUT_modal';
		let modalElement = document.getElementById('#${div_modal}');
		
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-xl">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row mb-3">
								<!-- 좌측 -->
								<div class="col-6">
									<div class="row">
										<div class="col-6 mb-3">
											<label for="modal_inout_io" class="form-label">입출고구분<span class="text-danger">*</span></label>
											<select class="form-select" id="modal_inout_io"></select>
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_dt" class="form-label">입출고일자<span class="text-danger">*</span></label>
											<input type="text" class="form-control" id="modal_inout_dt" readonly>
											<div id="wrapper" style="margin-left: -1px;"></div>
										</div>
										<div class="col-6 mb-3 div_contract" style="display: none;">
											<label for="modal_inout_ln" class="form-label ">로트번호<span class="text-danger">*</span></label>
											<input type="text" id="modal_inout_ln" class="form-control " readonly>
										</div>
										<div class="col-6 mb-3 div_contract" style="display: none;">
											<label for="modal_inout_pc" class="form-label">공정명<span class="text-danger">*</span></label>
											<input type="text" id="modal_inout_pc" class="form-control" readonly>
											<input type="hidden" id="modal_process_cd">
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_ec" class="form-label">담당자코드<span class="text-danger">*</span></label>
											<input type="text" id="modal_inout_ec" class="form-control" disabled>
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_en" class="form-label">담당자명<span class="text-danger">*</span></label>
											<input type="text" id="modal_inout_en" class="form-control" disabled>
										</div>
									</div>
								</div>
								<!-- 우측 -->
								<div class="col-6">
									<div class="row">
										<div class="col-6 mb-3">
											<label for="modal_inout_tp" class="form-label">수발주구분<span class="text-danger">*</span></label>
											<select id="modal_inout_tp" class="form-select"></select>
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_co" class="form-label">수발주코드<span class="text-danger">*</span></label>
											<input type="text" id="modal_inout_co" class="form-control" readonly>
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_ic" class="form-label">품목코드<span class="text-danger">*</span></label>
											<input type="text" class="form-control" id="modal_inout_ic" readonly>
											<input type="hidden" id="modal_product_gc">
											<input type="hidden" id="modal_product_cd">
											<input type="hidden" id="modal_item_cd">
											<input type="hidden" id="modal_item_sz">
											<input type="hidden" id="modal_item_cr">
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_in" class="form-label">품목명<span class="text-danger">*</span></label>
											<input type="text" class="form-control" id="modal_inout_in" readonly>
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_nn" class="form-label">지시수량<span class="text-danger">*</span></label>
											<input type="text" class="form-control" id="modal_inout_nn" disabled>
										</div>
										<div class="col-6 mb-3">
											<label for="modal_inout_un" class="form-label">기준단위<span class="text-danger">*</span></label>
											<input type="text" class="form-control" id="modal_inout_un" disabled>
										</div>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-12 d-flex justify-content-between">
									<div class="my-auto">입출고창고 지정<span class="text-danger">*</span></div>
									<div id="div_btn_ow">
										<button type="button" class="btn btn-primary" id="btn_iow_add">행추가</button>
										<button type="button" class="btn btn-primary" id="btn_iow_remove">삭제</button>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col" id="iw_grid"></div>
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-between">
							<button type="button" class="btn btn-danger" id="btn_modal_reset">초기화</button>
							<div>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
								<button type="submit" id="btn_modal_save" class="btn btn-primary">${text}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		
        modalElement.addEventListener('shown.bs.modal', function () {
			createSelectBox($('#modal_inout_tp'), commonList['COTYPE'], '선택하세요.');
			createSelectBox($('#modal_inout_io'), commonList['IOTYPE'], '선택하세요.');
			
			let datepicker = new tui.DatePicker('#wrapper', {
				language: 'ko',
		        date: new Date(),
		        input: {
		            element: '#modal_inout_dt',
		            format: 'yyyy-MM-dd HH:mm' // 초까지 포함한 포맷
		        },
		        timePicker: { inputType: 'spinbox' },
		        container: document.body,
		    });
			
			make_iw_grid();
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
 			$('button, input, select, textarea').each(function () {
                $(this).blur();
            });
 			itemFlag = false;
			modalElement.remove();
		});
		
		modal.show();
		
	}
	
	// 창고구역그리드
	function make_iw_grid(prefix) {
		let owColumns = [
			{header: '출고창고코드', name: 'ow_warehouse_cd', hidden: true},
			{header: '출고구역코드', name: 'ow_warearea_cd', hidden: true},
			{header: '출고창고명', name: 'ow_warehouse_nm', width: '120', sortable: true, validation: {required: true,},},				
			{header: '출고구역명', name: 'ow_warearea_nm', sortable: true,},
			{header: '최대적재량', name: 'ow_warearea_cp', align: 'right', 
				formatter: ({value}) => {
					if (value == null || isNaN(value)) return '';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
			{header: '품목적재량', name: 'ow_stock_aq', align: 'right', sortable: true, 
				formatter: ({value}) => {
					if (value == null || value == 0 || isNaN(value)) return '';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
			{header: '출고수량', name: 'ow_inout_nn', align: 'right', editor: 'text', validation: {required: true,}, 
				formatter: ({value}) => {
					if (value == null || isNaN(value)) return '';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
			{header: '출고불량수', name: 'ow_inout_fn', align: 'right', editor: 'text',
				formatter: ({value}) => {
					if (value == null || isNaN(value)) return '0';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
		];
		
		let iwColumns = [
			{header: '입고창고코드', name: 'iw_warehouse_cd', hidden: true},
			{header: '입고구역코드', name: 'iw_warearea_cd', hidden: true},
			{header: '입고창고명', name: 'iw_warehouse_nm', width: '120', sortable: true, validation: {required: true,},},
			{header: '입고구역명', name: 'iw_warearea_nm', sortable: true,},
			{header: '최대적재량', name: 'iw_warearea_cp', align: 'right', 
				formatter: ({value}) => {
					if (value == null || isNaN(value)) return '';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
			{header: '창고여유량', name: 'iw_warearea_lp', align: 'right', sortable: true,
				formatter: ({value}) => {
					if (value == null || value == 0 || isNaN(value)) return '';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
			{header: '입고수량', name: 'iw_inout_nn', align: 'right', editor: 'text', validation: {required: true,},
				formatter: ({value}) => {
					if (value == null || isNaN(value)) return '';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
			{header: '입고불량수', name: 'iw_inout_fn', align: 'right', editor: 'text',
				formatter: ({value}) => {
					if (value == null || isNaN(value)) return '0';
					return `${Number(value)?.toLocaleString()}`	
				},
			},
		];
		
		const columnsMap = {
		'A': [...owColumns, ...iwColumns],
		'I': [...iwColumns],
		'O': [...owColumns]
		};

		let finalColumns = columnsMap[prefix] || [];
		
		iw_grid = new tui.Grid({
			el : document.getElementById('iw_grid'),
			data: [],
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			bodyHeight : 100,
			columns : finalColumns,
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	iw_inout_nn: {
			            template: (valueMap) => {
			                return `<div style="text-align: right;">${valueMap.sum.toLocaleString()}</div>`
			            }
			        },
			    	ow_inout_nn: {
			            template: (valueMap) => {
			                return `<div style="text-align: right;">${valueMap.sum.toLocaleString()}</div>`
			            }
			        },
			    	iw_inout_fn: {
			            template: (valueMap) => {
			                return `<div style="text-align: right;">${valueMap.sum.toLocaleString()}</div>`
			            }
			        },
			    	ow_inout_fn: {
			            template: (valueMap) => {
			                return `<div style="text-align: right;">${valueMap.sum.toLocaleString()}</div>`
			            }
			        }
				},
			},
		});
		
		
		iw_grid.on('dblclick', function(ev) {
			clickRow = ev.rowKey;
			if (ev.columnName == 'ow_warehouse_nm' || ev.columnName == 'ow_warearea_nm') {
				// 출발 창고
				let itemVal = $('#modal_inout_ic').val();
				if (!itemVal) {
					showAlert($('#modal_inout_ic'), 'warning', '품목 선택', '품목을 선택해주세요.');
					return;
				}
				add_iwow_list(itemVal, 'ow');
			} else if(ev.columnName == 'iw_warehouse_nm' || ev.columnName == 'iw_warearea_nm') {
				// 출발 창고
				let itemVal = $('#modal_inout_ic').val();
				if (!itemVal) {
					showAlert($('#modal_inout_ic'), 'warning', '품목 선택', '품목을 선택해주세요.');
					return;
				}
				add_iwow_list(itemVal, 'iw');
			}
		});
	}
	
	// 수발주 리스트 모달
	function make_order_modal(flag) {
		let prefix = getPrefix(flag);
		let text = $("#modal_inout_tp option:selected").text();
		let title = `${text} 선택`;
		const div_modal = 'div_order_modal';
		let modalElement = document.getElementById('#${div_modal}');
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-lg">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">

							<div id="order_grid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		
        modalElement.addEventListener('shown.bs.modal', function () {
			make_order_grid(flag);
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
 			$('button, input, select, textarea').each(function () {
                $(this).blur();
            });
			modalElement.remove();
		});
		
		modal.show();
		
	}
	
	// 수발주 리스트 그리드
	function make_order_grid(flag) {
		let prefix = getPrefix(flag);
		let text = $("#modal_inout_tp option:selected").text();

		const dataSource = {
			    api: {
			        readData: {
			            url: `/select_INOUT_${prefix.toUpperCase()}`,
			            method: 'POST',
			            contentType: 'application/json',
			            headers: {
			                [header]: token
			            },
			        }
			    }
			}
		
		order_grid = new tui.Grid({
			el : document.getElementById('order_grid'),
			data: dataSource,
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
			],
			bodyHeight : 400,
			columns : [
			    {header: `${text}코드`, name: 'inout_co', sortable: true, filter: 'select'},
			    {header: '거래처코드', name: 'account_cd', sortable: true, filter: 'select'},
			    {header: '거래처명', name: 'account_nm', sortable: true, filter: 'select'},
			    {header: `${text}일자`, name: 'inout_dt', sortable: true, filter: 'select'},
			    {header: '담당자코드', name: 'employee_cd', sortable: true, filter: 'select'},
			    {header: '담당자명', name: 'employee_nm', sortable: true, filter: 'select'},
				{header: '선택', name: 'choice', width: '80', align: 'center',
					formatter: () => `<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">선택</button>`
				}
			],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	choice: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
				},
			},
		});

		order_grid.on('click', function(ev) {
			if (ev.columnName == 'choice') {
				let row = order_grid.getRow(ev.rowKey);
				inputClear('co');
				$('#modal_inout_co').val(row['inout_co']);	
				if(!conFlag) {
					$('#modal_inout_ec').val(row['employee_cd']);	
					$('#modal_inout_en').val(row['employee_nm']);
				}
			}
		});
    }
	
	// 로트, 공정 모달
	function make_lot_modal(value) {
		let title = `로트 선택`;
		const div_modal = 'div_lot_modal';
		let modalElement = document.getElementById('#${div_modal}');
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-xl">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="lot_grid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		
	    modalElement.addEventListener('shown.bs.modal', function () {
			make_lot_grid(value);
	    });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
			$('button, input, select, textarea').each(function () {
	            $(this).blur();
	        });
			modalElement.remove();
		});
		
		modal.show();
		
	}
	
	// 로트 리스트 그리드
	function make_lot_grid(value) {
		const dataSource = {
			    api: {
			        readData: {
			            url: `/select_INOUT_LOT`,
			            method: 'POST',
			            contentType: 'application/json',
			            headers: {
			                [header]: token
			            },
						initParams: {
							contract_cd: value
						}
			        }
			    }
			}
		
		lot_grid = new tui.Grid({
			el : document.getElementById('lot_grid'),
			data: dataSource,
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
			],
			bodyHeight : 400,
			columns : [
			    {header: `로트번호`, name: 'lot_cd', width: '200', sortable: true, filter: 'select'},
			    {header: '공정코드', name: 'process_cd', width: '100', sortable: true, filter: 'select'},
			    {header: '공정명', name: 'process_nm', sortable: true, filter: 'select'},
			    {header: '생산제품코드', name: 'product_cd', hidden: true},
			    {header: '생산제품', name: 'product_nm', sortable: true, filter: 'select'},
			    {header: '완제품코드', name: 'item_cd', hidden: true},
			    {header: '완제품', name: 'item_nm', width: '150', sortable: true, filter: 'select'},
			    {header: '색상코드', name: 'item_cr', hidden: true},
			    {header: '사이즈코드', name: 'item_sz', hidden: true},
			    {header: '담당자코드', name: 'employee_cd', width: '120', sortable: true, filter: 'select'},
			    {header: '담당자명', name: 'employee_nm', width: '120', sortable: true, filter: 'select'},
				{header: '선택', name: 'choice', width: '80', align: 'center',
					formatter: () => `<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">선택</button>`
				}
			],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	choice: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
				},
			},
		});

		lot_grid.on('click', function(ev) {
			if (ev.columnName == 'choice') {
				inputClear('ln');
				
				let row = lot_grid.getRow(ev.rowKey);
				$('#modal_inout_ln').val(row['lot_cd']);	
				$('#modal_inout_pc').val(row['process_nm']);	
				$('#modal_process_cd').val(row['process_cd']);
				$('#modal_inout_ec').val(row['employee_cd']);
				$('#modal_inout_en').val(row['employee_nm']);
				$('#modal_product_cd').val(row['product_cd']);
				$('#modal_product_gc').val(row['product_cd']);
				$('#modal_item_cd').val(row['item_cd']);
				$('#modal_item_cr').val(row['item_cr']);
				$('#modal_item_sz').val(row['item_sz']);
				
			}
		});
	}
	
	// 품목코드 모달
	function make_item_modal(flag, code) {
		let prefix = getPrefix(flag);
		let title = `${code}건 품목 선택`;
		const div_modal = 'div_item_modal';
		let modalElement = document.getElementById('#${div_modal}');
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-lg">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="item_grid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		
        modalElement.addEventListener('shown.bs.modal', function () {
			make_item_grid(flag, code);
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
 			$('button, input, select, textarea').each(function () {
                $(this).blur();
            });
			modalElement.remove();
		});
		
		modal.show();
		
	}
	
	// 품목코드 리스트 그리드
	function make_item_grid(flag, code) {
		let prefix = getPrefix(flag);
		let text = $("#modal_inout_tp option:selected").text();
		
		const dataSource = {
			    api: {
			        readData: {
			            url: `/select_INOUT_${prefix.toUpperCase()}DETAIL`,
			            method: 'POST',
			            contentType: 'application/json',
			            headers: {
			                [header]: token
			            },
			            initParams: {
			            	[`${prefix}_cd`]: code,
							...(flag ? {
								product_cd: $('#modal_product_cd').val(),
								item_cd: $('#modal_item_cd').val(),
								item_cr: $('#modal_item_cr').val(),
								item_sz: $('#modal_item_sz').val(),
								process_cd: $('#modal_process_cd').val(),
							} : {})
		            	}
			        }
			    }
			}
		
		item_grid = new tui.Grid({
			el : document.getElementById('item_grid'),
			data: dataSource,
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
			],
			bodyHeight : 400,
			columns : [
			    {header: '품목대분류코드', name: 'item_gc', hidden: true},
			    {header: '품목소분류코드', name: 'item_cc', hidden: true},
			    {header: '대분류', name: 'item_gn', sortable: true, filter: 'select'},
			    {header: '소분류', name: 'item_cn', sortable: true, filter: 'select'},
			    {header: '품목코드', name: 'item_cd', sortable: true, filter: 'select'},
			    {header: '품목명', name: 'item_nm', sortable: true, filter: 'select'},
			    {header: '지시수량', name: 'inout_nn', sortable: true, filter: 'select'},
			    {header: '단위', name: 'item_un', align: 'center', sortable: true, filter: 'select'},
				{header: '선택', name: 'choice', width: '80', align: 'center',
					formatter: () => `<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">선택</button>`
				}
			],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	choice: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
				},
			},
		});

		item_grid.on('click', function(ev) {
			if (ev.columnName == 'choice') {
				iw_grid.resetData([]);
				
				let row = item_grid.getRow(ev.rowKey);
				$('#modal_product_gc').val(row['item_gc']);	
				$('#modal_inout_ic').val(row['item_cd']);	
				$('#modal_inout_in').val(row['item_nm']);	
				$('#modal_inout_un').val(row['item_un']);
				$('#modal_inout_nn').val(row['inout_nn']);
				
			}
		});
    }
	
	
	
	

	// ajax 함수 --------------------
	// 공통코드 조회
	async function getList() {
		commonList = await getCommonList("COTYPE", "IOTYPE", "PRDTYPE");
		console.log(commonList['IOTYPE']);
		createSelectBox($('#inout_io'), commonList['IOTYPE'].reverse());
		createSelectBox($('#inout_tp'), commonList['COTYPE'], '선택하세요.');
		createSelectBox($('#inout_wh'), warehouseList, '선택하세요.');
		createSelectBox($('#item_gc'), commonList['PRDTYPE'], '선택하세요.');
	}
	
	// 그리드 조회
	async function getGridList(filter = {}) {
	    try {
	        const jsonData = {
	            inoutFilter: {
					...filter,
		        	startDate: getPrevDate(7), 
	        	 	endDate: getDate(today),
				}
	        };
	        
	        const ajaxData = await callAjaxPost(`/select_INOUT_list`, JSON.stringify(jsonData));
	        grid.resetData(ajaxData.data.contents);

	    } catch (error) {
	        console.log(error);
	        showAlert('', 'error', '조회 실패', error.msg);
	    }
	}

	
	// 품목 대분류 선택
	async function changeSelectBox(sourceId, targetId, api, key, rowValue) {
		const source = sourceId && $(`${sourceId}`);
		const value = source?.val() || rowValue;

	    try {
	        let ajaxData = await callAjaxPost(api, JSON.stringify({[key]: value}));
	        createSelectBox($(`${targetId}`), ajaxData['list'], '선택하세요.');
	    } catch (error) {
	        showAlert('', 'error', '조회 실패', error.msg);
	    }
	}
	
	// 출발창고 조회
	async function add_iwow_list(item, prefix) {
		try {
			let data = {
				item_cd: item,
			}
			
		    let ajaxData = await callAjaxPost(`select_INOUT_${prefix.toUpperCase()}`, JSON.stringify(data));
			
			let text = prefix == 'ow' ? '출고' : '입고'
			let title = `${text}창고 조회`;
			const div_modal = 'div_item_modal';
			let modalElement = document.getElementById('#${div_modal}');
			if(!modalElement) {
				let modalHtml = `
				<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false">
					<div class="modal-dialog modal-dialog-centered modal-lg">
			            <div class="modal-content">
							<div class="modal-header">
			            		<h5 class="modal-title">${title}</h5>
			                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div id="${prefix}List_grid"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							</div>
						</div>
					</div>
				</div>
				`;
				
				document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
				
				modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
			}
			const modal = new bootstrap.Modal(modalElement);  // 모달 초기화

			modalElement.addEventListener('shown.bs.modal', function () {
			
				let baseColumns = [
					{header: '창고명', name: 'warehouse_nm', sortable: true},
					{header: '구역명', name: 'warearea_nm', sortable: true},
					{header: '최대적재량', name: 'warearea_cp', align: 'right', 
						formatter: ({value}) => {
							if (value == null || isNaN(value)) return '';
							return `${Number(value)?.toLocaleString()}`	
						},
					},
				];
				let owColumns = [
					{header: '품목적재량', name: 'stock_aq', align: 'right', sortable: true, 
						formatter: ({value}) => {
							if (value == null || isNaN(value)) return '';
							return `${Number(value)?.toLocaleString()}`	
						},
					},
				];
				let iwColumns = [
					{header: '창고여유량', name: 'warearea_lp', align: 'right', sortable: true, 
						formatter: ({value}) => {
							if (value == null || value == 0 || isNaN(value)) return '';
							return `${Number(value)?.toLocaleString()}`	
						},
					},
				];
				let finalColumns = [
					...baseColumns,
					...(prefix == 'iw' ? iwColumns : owColumns),
					{header: '선택', name: 'choice', width: '80', align: 'center',
						formatter: () => `<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">선택</button>`
					}
				];
				
				
				ioListGridList[prefix] = new tui.Grid({
					el : document.getElementById(`${prefix}List_grid`),
					data: ajaxData,
					scrollX : false,
					scrollY : true,
					rowHeaders : [
						{type : 'rowNum',}, 
					],
					bodyHeight : 200,
					columns : finalColumns,
					summary: {
					    height: 40,
					    position: 'bottom', // or 'top'
					    columnContent: {
					    	[prefix === 'iw' ? 'warearea_lp' : 'stock_aq' ]: {
					            template: (valueMap) => {
					                return `총  ${valueMap.cnt} 건`
					            }
					        }
						},
					},
				});
				
				ioListGridList[prefix].on('click', function(ev) {
					let row = ioListGridList[prefix].getRow(ev.rowKey);
					if (ev.columnName == 'choice' && prefix == 'iw') {
						iw_grid.setValue(clickRow, 'iw_warehouse_nm', row.warehouse_nm);
						iw_grid.setValue(clickRow, 'iw_warehouse_cd', row.warehouse_cd);
						iw_grid.setValue(clickRow, 'iw_warearea_nm', row.warearea_nm);
						iw_grid.setValue(clickRow, 'iw_warearea_cd', row.warearea_cd);
						iw_grid.setValue(clickRow, 'iw_warearea_cp', row.warearea_cp);
						iw_grid.setValue(clickRow, 'iw_warearea_lp', row.warearea_lp);
					} else if(ev.columnName == 'choice' && prefix == 'ow') {
						iw_grid.setValue(clickRow, 'ow_warehouse_nm', row.warehouse_nm);
						iw_grid.setValue(clickRow, 'ow_warehouse_cd', row.warehouse_cd);
						iw_grid.setValue(clickRow, 'ow_warearea_nm', row.warearea_nm);
						iw_grid.setValue(clickRow, 'ow_warearea_cd', row.warearea_cd);
						iw_grid.setValue(clickRow, 'ow_warearea_cp', row.warearea_cp);
						iw_grid.setValue(clickRow, 'ow_stock_aq', row.stock_aq);
					}
					console.log('구역코드는 : ', row.warearea_cd);
				});
			});

			modalElement.addEventListener('hidden.bs.modal', function () {
				modalElement.remove();
			});

			modal.show();
		} catch (error) {
			console.log(error);
		    showAlert('', 'error', '조회 실패', error.msg);
		}
	}
	
	// 입출고 등록
	async function insert_INOUT() {
		let msg = '';
		const iwQty = iw_grid.getData().reduce((sum, row) => { // 출고수량
		  return sum + (Number(row.iw_inout_nn) || 0);
		}, 0);
		const iwfnQty = iw_grid.getData().reduce((sum, row) => { // 출고불량수량
		  return sum + (Number(row.iw_inout_fn) || 0);
		}, 0);
		const owQty = iw_grid.getData().reduce((sum, row) => { // 입고수량
		  return sum + (Number(row.ow_inout_nn) || 0);
		}, 0);
		const owfnQty = iw_grid.getData().reduce((sum, row) => { // 입고불량수량
		  return sum + (Number(row.ow_inout_fn) || 0);
		}, 0);
		
	    const validations = [
	        { field: $('#modal_inout_io'), message: '입출고구분을 선택해주세요.' },
	        { field: $('#modal_inout_dt'), message: '입출고일자를 선택해주세요.' },
	        { field: $('#modal_inout_tp'), message: '수발주구분을 선택해주세요.' },
	        { field: $('#modal_inout_co'), message: '수발주코드를 선택해주세요.' },
			{ field: $('#modal_inout_ln'), message: '로트번호를 선택해주세요.', checkIf: () => $('.div_contract').is(':visible') },
			{ field: $('#modal_inout_pc'), message: '공정코드를 선택해주세요.', checkIf: () => $('.div_contract').is(':visible') },
	        { field: $('#modal_inout_ic'), message: '품목코드를 선택해주세요.' },
	    ];
	
	    const invalidField = validations.find(v => {
	        if (v.checkIf && !v.checkIf()) return false;
	        const value = v.field.val();
	        return !value?.trim();
	    });
	
	    if (invalidField) {
	        showAlert(invalidField.field, 'warning', '', invalidField.message);
	        return;
	    }
		
		if(iw_grid.getData().length == 0) {
			showAlert($('#btn_iow_add'), 'warning', '입출고창고 선택', '창고를 추가해주세요.');
			return;
		}
		
		let validationResult = iw_grid.validate();
		const valChecked = validationResult.some(row => {
		    const rowKey = row['rowKey'];

		    return row.errors.some(cell => {
		        const columnName = cell['columnName'];

		        const column = iw_grid.getColumns().find(col => col['name'] === columnName);
		        const header = column['header'];
				const errorType = cell.errorCode[0];
				msg = `${rowKey + 1}행의 ${header}을(를) 입력해주세요.`;
				showAlert('', 'warning', '입력 체크', msg);
				iw_grid.focus(rowKey, columnName);
		        
		        return true;	
		    });
		});
		
		if (valChecked) {
		    return;
		}
		/*
		if(iwQty > Number($('#modal_inout_nn').val())) {
			let msg = `(품목수량 : ${$('#modal_inout_nn').val()}개, 출고수량 : ${iwQty}개)`;
			showAlert('',  'warning', '출고수량 초과', msg);
			return;
		}

		if(iwQty < Number($('#modal_inout_nn').val())) {
			let msg = `(품목수량 : ${$('#modal_inout_nn').val()}개, 출고수량 : ${iwQty}개)`;
			showAlert('',  'warning', '출고수량 부족', msg);
			return;
		}
		if(owQty > Number($('#modal_inout_nn').val())) {
			let msg = `(품목수량 : ${$('#modal_inout_nn').val()}개, 입고수량 : ${owQty}개)`;
			showAlert('',  'warning', '입고수량 초과', msg);
			return;
		}

		if(owQty < Number($('#modal_inout_nn').val())) {
			let msg = `(품목수량 : ${$('#modal_inout_nn').val()}개, 입고수량 : ${owQty}개)`;
			showAlert('',  'warning', '입고수량 부족', msg);
			return;
		}
	    msg = `입출고 수량을 맞춰주십시오.`;
		if(iwQty - iwfnQty != owQty - owfnQty && !await showAlert('', 'warning', `입출고수량 확인`, msg)) {
			return;
		}
	    msg = `지시수량보다 출고수량이 적습니다<br>그래도 등록하시겠습니까?`;
		if(iwQty < Number($('#modal_inout_nn').val()) && !await showConfirm(`지시수량 확인`, msg)) {
			return;
		} else if(!await showConfirm(`입출고 등록`, `입출고 내역을 등록하시겠습니까?`)) {
			return;
		}
		*/
		
	    // 기본 제품 정보
	    const data = {
    		inout: {
    			inout_io: $('#modal_inout_io').val(),
    			inout_dt: $('#modal_inout_dt').val(),
    			inout_tp: $('#modal_inout_tp').val(),
    			inout_co: $('#modal_inout_co').val(),
    			employee_cd: $('#modal_inout_ec').val(),
    			item_gc: $('#modal_product_gc').val(),
    			item_cd: $('#modal_inout_ic').val(),
    			inout_nn: $('#modal_inout_nn').val(),
				...($('.div_contract').is(':visible') ? {
					lot_cd: $('#modal_inout_ln').val(),
					process_cd: $('#modal_process_cd').val(),
					} : {})
    		},
			iwList: iw_grid.getData(),
			inoutFilter: {
	        	startDate: getPrevDate(7), 
        	 	endDate: getDate(today),
			}
	    }
	    
		try {
		    let ajaxData = await callAjaxPost('/insert_INOUT', JSON.stringify(data));
		    
			grid.resetData(ajaxData['list']);
			// resetSearchInput();
			modal.hide();
			showAlert('', 'success', `등록 성공`, `등록에 성공하였습니다.`);
		} catch (error) {
			console.log(error);
			showAlert('', 'error', `입출고 실패`, error['msg']);
		}
	}
	
	/*
	
	// 모달 조회
	async function setModalInput(row, prefix) {
		console.log('읽을데이터', row);
		let data = {
			[`${prefix}_cd`]: row[`${prefix}_cd`],
			[`${prefix}_cc`]: row[`${prefix}_cc`]
		}
		let jsonData = JSON.stringify(data);
		try {
		    let ajaxData = await callAjaxPost(`/select_${prefix.toUpperCase()}_detail`, jsonData);
			let item = ajaxData[prefix];
			console.log('ajax 아이템', item);
			modalData = {
				[`${prefix}_cd`]: item[`${prefix}_cd`],
				[`${prefix}_nm`]: item[`${prefix}_nm`],
				[`${prefix}_pc`]: item[`${prefix}_pc`],
				[`${prefix}_gc`]: item[`${prefix}_gc`],
				[`${prefix}_cc`]: item[`${prefix}_cc`],
				[`${prefix}_gd`]: item[`${prefix}_gd`],
				[`${prefix}_un`]: item[`${prefix}_un`],
				[`${prefix}_pr`]: item[`${prefix}_pr`],
				...(prefix == 'product' ? {
				    product_sz: item['product_sz'],
				    product_cr: item['product_cr']
				} : {}),
				[`${prefix}_wh`]: item[`${prefix}_wh`],
				[`${prefix}_us`]: item[`${prefix}_us`] == true ? 1 : 0,
				[`${prefix}_rm`]: item[`${prefix}_rm`],
				ccList: ajaxData['product_cc'],
			};
			console.log('modaldata', modalData);
			setModalValues(modalData, prefix);
		} catch (error) {
			console.log(error)
			showAlert('', 'error', '조회 실패', error.msg);
		}
	}
	

	
	// 품목 등록
	async function insert_PRODUCT(flag) {
		let prefix = getPrefix(flag);
		let text = Object.keys(modalData).length > 0 ? '수정' : '등록';
	    const validations = [
	        { field: modal_product_cd, message: '품목코드를 입력해주세요.' },
	        { field: modal_product_nm, message: '품목명을 입력해주세요.' },
	        { field: modal_product_gc, message: '품목대분류를 선택해주세요.' },
	        { field: modal_product_cc, message: '품목소분류를 선택해주세요.' },
	        { field: modal_product_sz, message: '사이즈를 선택해주세요.', isMultiple: true, checkIf: () => $('.div_select').is(':visible') },
	        { field: modal_product_cr, message: '색상을 선택해주세요.', isMultiple: true, checkIf: () => $('.div_select').is(':visible') },
	        { field: modal_product_gd, message: '성별을 선택해주세요.', checkIf: () => $('.div_select').is(':visible') },
	        { field: modal_product_un, message: '기준단위를 선택해주세요.' },
	        { field: modal_product_pr, message: '기준단가를 입력해주세요.' },
	        { field: modal_product_wh, message: '보관창고를 선택해주세요.' },
	        { field: modal_product_us, message: '사용여부를 선택해주세요.' }
	    ];

	    const invalidField = validations.find(v => {
	        if (v.checkIf && !v.checkIf()) return false;
	        const value = v.field.val();
	        return v.isMultiple ? (!value || value.length === 0) : !value?.trim();
	    });

	    if (invalidField) {
	        showAlert(invalidField.field, 'warning', '', invalidField.message);
	        return;
	    }

		if(!await showConfirm(`품목 ${text}`, `품목을 ${text}하시겠습니까?`)) {
			return;
		}
		
	    const formData = new FormData();
	    
	    // 기본 제품 정보
	    const data = {
	        [`${prefix}_cd`]: modal_product_cd.val().trim(),
	        [`${prefix}_nm`]: modal_product_nm.val().trim(),
	        [`${prefix}_gc`]: modal_product_gc.val(),
	        [`${prefix}_cc`]: modal_product_cc.val(),
	        [`${prefix}_gd`]: modal_product_gd.val(),
	        [`${prefix}_un`]: modal_product_un.val(),
	        [`${prefix}_pr`]: modal_product_pr.val(),
	        [`${prefix}_wh`]: modal_product_wh.val(),
	        [`${prefix}_us`]: modal_product_us.val() == 1,
	        [`${prefix}_rm`]: modal_product_rm.val().trim()
	    };

	    const requestData = {
	        [prefix]: data,
	        ...($('.div_select').is(':visible') ? {
	            sizeList: modal_product_sz.val(),
	            colorList: modal_product_cr.val()
	        } : {}),
	    };

	    formData.append('requestData', new Blob([JSON.stringify(requestData)], {type: 'application/json'}));

	    const imageFile = $('#product_pc')[0].files[0];
	    if (imageFile) {
	        formData.append('image', imageFile);
	    }
	    
		try {
		    let ajaxData = await callAjaxFileUpload(`/insert_${prefix.toUpperCase()}`, formData);
			grid.resetData(ajaxData['list']);
			resetSearchInput();
			modal.hide();
			showAlert('', 'success', `${text} 성공`, `${text}에 성공하였습니다.`);
		} catch (error) {
			console.log(error);
			console.log('실패');
			showAlert('', 'error', `${text} 실패`, `${text}에 실패하였습니다.`);
		}
	}
	
	// 품목 삭제
	async function delete_PRODUCT(checkedRows, flag) {
		let prefix = getPrefix(flag);
		if (!await showConfirm(`품목 삭제`, '선택한 품목을 삭제하시겠습니까?')) { 
			return;
		}
		let data = {
			[`${prefix}List`]: checkedRows,
			[`${prefix}_gc`]: groupValue
		}
		
		let ajaxData = await callAjaxPost(`/delete_${prefix.toUpperCase()}`, JSON.stringify(data));
		try {
			grid.resetData(ajaxData['list']);
			resetSearchInput();
			showAlert('', 'success', '삭제 성공', '삭제에 성공했습니다.');
		} catch (error) {
			console.log(error);
			showAlert('', 'error', '삭제 실패', error['msg']);
		}
	}
	
*/


</script>
</html>