<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
		
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar" layout:fragment="aside">
		
		<ul class="sidebar-nav" id="sidebar-nav">
			<div sec:authorize="hasAnyRole('SYS_ADMIN','HR_ADMIN')">
				<li class="nav-heading">인사관리</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-person-vcard"></i><span>인사카드</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="employee_list">
								<i class="bi bi-circle"></i><span>인사카드관리</span>
							</a>
						</li>
						<li>
							<a href="employee_chart">
								<i class="bi bi-circle"></i><span>인사현황</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#formss-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-arrow-left-right"></i><span>인사발령</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="formss-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="employee_list">
								<i class="bi bi-circle"></i><span>인사발령 등록</span>
							</a>
						</li>
						<li>
							<a href="employee_chart">
								<i class="bi bi-circle"></i><span>인사발령 현황</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div sec:authorize="hasAnyRole('SYS_ADMIN','AT_ADMIN')">
				<li class="nav-heading">근태관리</li>
				<li class="nav-item">
				    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
				        <i class="bi bi-calendar2-plus"></i><span>휴가관리</span><i class="bi bi-chevron-down ms-auto"></i>
				    </a>
				    <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
				        <li>
				            <a href="annual_regist">
				                <i class="bi bi-circle"></i><span>연차 등록</span>
				            </a>
				        </li>
				        <li>
				            <a href="holiday_regist">
				                <i class="bi bi-circle"></i><span>휴가 등록</span>
				            </a>
				        </li>
				        <li>
				            <a href="attendance_list">
				                <i class="bi bi-circle"></i><span>연차 조회</span>
				            </a>
				        </li>
				    </ul>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-calendar-week"></i><span>출퇴근관리</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="commute_type">
								<i class="bi bi-circle"></i><span>근로관리</span>
							</a>
						</li>
						<li>
							<a href="commute">
								<i class="bi bi-circle"></i><span>출퇴근기록부</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div sec:authorize="hasAnyRole('SYS_ADMIN','PR_ADMIN')">
				<li class="nav-heading">급여관리</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-database-check"></i><span>급여현황</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="charts-chartjs.html">
								<i class="bi bi-circle"></i><span>급여조회</span>
							</a>
						</li>
						<li>
							<a href="charts-apexcharts.html">
								<i class="bi bi-circle"></i><span>급여계산기</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-calculator"></i><span>급여관리</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="icons-bootstrap.html">
								<i class="bi bi-circle"></i><span>급여이체</span>
							</a>
						</li>
						<li>
							<a href="icons-remix.html">
								<i class="bi bi-circle"></i><span>급여설정</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-heading">사원목록</li>
			</div>
				<li class="nav-item">
					<a class="nav-link collapsed" href="approval_list">
						<i class="bi bi-person"></i>
						<span>인사</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="approval_list">
						<i class="bi bi-calendar-date"></i>
						<span>근태</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="approval_list">
						<i class="bi bi-calculator"></i>
						<span>급여</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="approval_list">
						<i class="bi bi-layout-text-sidebar-reverse"></i>
						<span>전자결재</span>
					</a>
				</li>
			<div sec:authorize="hasRole('SYS_ADMIN')">
				<li class="nav-item">
					<a class="nav-link collapsed" href="log_list">
						<i class="bi bi-card-heading"></i>
						<span>로그</span>
					</a>
				</li>
			</div>
		</ul>

	</aside>

</body>

</html>