<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
		
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar" layout:fragment="aside">
		
		<ul class="sidebar-nav" id="sidebar-nav">
			<div sec:authorize="hasAnyRole('SYS_ADMIN, HR_ADMIN, AT_ADMIN, PR_ADMIN')">
				<li class="nav-heading">관리자메뉴</li>
			</div>
			
			<div sec:authorize="hasAnyRole('SYS_ADMIN','HR_ADMIN')">
				<li class="nav-heading">인사관리</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-person-fill-gear"></i><span>인사관리</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="employee_list">
								<i class="bi bi-circle"></i><span>인사카드관리</span>
							</a>
						</li>
						<li>
							<a href="employee_chart">
								<i class="bi bi-circle"></i><span>인사현황</span>
							</a>
						</li>
						<li>
							<a href="transfer_list">
								<i class="bi bi-circle"></i><span>인사발령 등록</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div sec:authorize="hasAnyRole('SYS_ADMIN','AT_ADMIN')">
				<li class="nav-heading">근태관리</li>
				<li class="nav-item">
				    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
				        <i class="bi bi-calendar2-plus"></i><span>휴가관리</span><i class="bi bi-chevron-down ms-auto"></i>
				    </a>
				    <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
				        <li>
				            <a href="annual_regist">
				                <i class="bi bi-circle"></i><span>연차등록</span>
				            </a>
				        </li>
				        <li>
				            <a href="holiday_regist">
				                <i class="bi bi-circle"></i><span>휴일등록</span>
				            </a>
				        </li>
				        <li>
				            <a href="attendance_list">
				                <i class="bi bi-circle"></i><span>휴가현황</span>
				            </a>
				        </li>
				    </ul>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-clock"></i><span>출퇴근관리</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="commute_type">
								<i class="bi bi-circle"></i><span>근로관리</span>
							</a>
						</li>
						<li>
							<a href="commute">
								<i class="bi bi-circle"></i><span>출퇴근기록부</span>
							</a>
						</li>
						<li>
							<a href="commute_chart">
								<i class="bi bi-circle"></i><span>출퇴근현황</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div sec:authorize="hasAnyRole('SYS_ADMIN','PR_ADMIN')">
				<li class="nav-heading">급여관리</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#iconss-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-database-gear"></i><span>급여관리</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="iconss-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="check_pradmin">
								<i class="bi bi-circle"></i><span>급여이력조회</span>
							</a>
						</li>
						<li>
							<a href="prsend">
								<i class="bi bi-circle"></i><span>급여이체</span>
							</a>
						</li>
						<li>
							<a href="prcode">
								<i class="bi bi-circle"></i><span>급여코드</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div sec:authorize="hasAnyRole('EMPLOYEE')">
				<li class="nav-heading">나의메뉴</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#form1s-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-person-vcard"></i><span>인사</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="form1s-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="employee_list">
								<i class="bi bi-circle"></i><span>인사카드관리</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#form2s-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-calendar-check"></i><span>근태</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="form2s-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="attendance_list">
								<i class="bi bi-circle"></i><span>휴가조회</span>
							</a>
						</li>
						<li>
							<a href="commute">
								<i class="bi bi-circle"></i><span>출퇴근기록부</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" data-bs-target="#form12s-nav" data-bs-toggle="collapse" href="#">
						<i class="bi bi-cash-stack"></i><span>급여</span><i class="bi bi-chevron-down ms-auto"></i>
					</a>
					<ul id="form12s-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
						<li>
							<a href="check_salary">
								<i class="bi bi-circle"></i><span>급여조회</span>
							</a>
						</li>
						<li>
							<a href="prcal">
								<i class="bi bi-circle"></i><span>급여계산기</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="approval_list">
						<i class="bi bi-files"></i>
						<span>전자결재</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="notice_list">
						<i class="bi bi-megaphone"></i>
						<span>공지사항</span>
					</a>
				</li>
			</div>
			<div sec:authorize="hasRole('SYS_ADMIN')">
				<li class="nav-heading">시스템 권한</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="common_code">
						<i class="bi bi-grid"></i>
						<span>공통코드관리</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="log_list">
						<i class="bi bi-card-heading"></i>
						<span>로그</span>
					</a>
				</li>
			</div>
				<li class="nav-heading">기준정보관리</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="warehouse_list">
						<i class="bi bi-grid"></i>
						<span>창고관리</span>
					</a>
				</li>
		</ul>

	</aside>

</body>

</html>