<script src="/assets/js/jquery-3.7.1.min.js"></script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>


<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<!-- Toast UI Calendar JS File -->
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<!-- Toast UI time-picker JS File -->
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<!-- Toast UI date-picker JS File -->
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<!-- Toast UI grid JS File -->
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!-- Toast UI editor JS File -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<!-- Toast UI Pagination JS File -->
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<!-- SweetAlert2 JS File-->	
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
