<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<style>
	.orgchart{
		background-image: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		overflow: auto; /* 필요하면 스크롤 가능하도록 설정 */
	}
	.orgchart .node .title{
		background-color: none !important;
	}
	@keyframes blink {
	    0% { opacity: 1;}
	    40% { opacity: 0.5;}
	    100% { opacity: 1;}
	}
	
	.blinking-node {
	    animation: blink 2s infinite;
	}
</style>
<body>
	<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<h1 class="card-title">로트 추적</h1>
							<div class="mb-3 row d-flex align-items-center justify-content-end">
								<div class="col d-flex align-items-center justify-content-start">
									<input type="text" id="group_search" class="form-control me-2" placeholder="로트번호" style="width:130px;">
									<input type="button" id="btn_group_search" class="btn btn-primary" value="검색">
								</div>
								<div class="col-auto">
									<div id="filterModule" class="mb-3"></div>
								</div>
							</div>
							<div id="grid"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<h1 class="card-title">차트</h1>
							<div id="chart"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>																																																																																																																																																																																																																											
<script th:inline="javascript">
	let grid;
	let chart = $("#chart");
	let useList = /*[[${commonList['USE']}]]*/[];
	let productList = /*[[${commonList['PRDTYPE']}]]*/[];
	let processList = /*[[${processList}]]*/ [];

	let transformedProcessList = processList.map(item => {
	    return {
	        common_cd: item.COMMON_CD,
	        common_nm: item.COMMON_NM
	    };
	});

	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	const filterConfig = [
		{ key: 'product_cd', label: '로트번호', type: 'text', placeholder: '로트번호 입력', col: 'col-4' },
		{ key: 'product_nm', label: '수주번호', type: 'text', placeholder: '수주번호 입력', col: 'col-4' },
		{ key: 'product_cc', label: '품목분류', type: 'select', list: setFilterList(productList), col: 'col-4' },
		{ key: 'process_nm', label: '공정명', type: 'select', list: setFilterList(transformedProcessList), col: 'col-4' },
		{ key: 'product_us', label: '사용여부', type: 'radio', list: [ 
				{ value: 'ALL', text: '전체' },
				{ value: 'PENDING', text: '대기' },
				{ value: 'IN_PROGRESS', text: '진행중' },
				{ value: 'COMPLETED', text: '완료' }
			], col: 'col' },
	];
	
	// 로딩
	$(function() {
		tui.Grid.setLanguage('ko');
		tui.Grid.applyTheme('striped');
		make_grid();
		setElementHeight('.card', -105);
		setGridHeight(grid, -430);
		
		$(window).resize(function() {
			setTimeout(() => {
				setElementHeight('.card', -105);
				setGridHeight(grid, -430);
				setGridWidth(grid, 0);
			}, 300);
		});
		
		// 검색필터
        initializeFilterModule('filterModule', filterConfig, (filterValues) => {
        	select_LOT_list(filterValues, groupValue);
        });

		// 필터 엔터키 검색 이벤트
		$('#filterModule').on('keypress', function(e) {
		    if (e.keyCode !== 13) return;
		    
		    const filterValues = {};
		    
		    for (const config of filterConfig) {
		        const input = $(`#${config.key}`);
		        const value = input.val();
		        filterValues[config.key] = value;
		    }
		});
		
	});
	
	// ------------함수------------
	// 그리드 생성 함수
	function make_grid() {
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : [
				{
					lot_cd: '10012',
					contract_cd: 'Seoul',
					product_cd: 'South Korea',
					product_cr: 'South Korea',
					product_sz: 'South Korea',
					lot_st: 'South Korea',
					workorder_st: false,
				},
				{
					lot_cd: '10013',
					contract_cd: 'Seoul',
					product_cd: 'South Korea',
					product_cr: 'South Korea',
					product_sz: 'South Korea',
					lot_st: 'South Korea',
					workorder_st: true,
				},
				{
					lot_cd: '10014',
					contract_cd: 'Seoul',
					product_cd: 'South Korea',
					product_cr: 'South Korea',
					product_sz: 'South Korea',
					lot_st: 'South Korea',
					workorder_st: true,
				},
			  ],
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',},
				{type : 'checkbox',}, 
			],
			bodyHeight : 400,
			columns : [
				{header : '로트번호', name : 'lot_cd', sortable : true, filter: 'text'},
				{header : '수주번호', name : 'contract_cd', sortable : true, filter: 'text'},
				{header : '공정명', name : 'product_cd', sortable : true, filter: 'text'},
				{header : '색상', name : 'product_cr', sortable : true, filter: 'text'}, 
				{header : '사이즈', name : 'product_sz', sortable : true, filter: 'text'}, 
				{header : '생성일자', name : 'lot_st', sortable : true, filter: 'text'}, 
				{header : '완료여부', name : 'workorder_st', sortable : true, filter: 'select',
					formatter: function({value}) {
						return value == true ? '최종완료' : value == false ? '진행중' : '';
					}
				}, 
			],
			summary: {
				height: 40,
				position: 'bottom', // or 'top'
				columnContent: {
					workorder_st: {
						template: (valueMap) => {
							return `총 ${valueMap.cnt} 건`
						}
					}
				}
			},

		});
		
		
		grid.on('dblclick', function(ev) {
			chart.empty();
			let row = grid.getRow(ev.rowKey);
			if(row == null) {
				return;
			}
			make_chart(row);
			//modal_detail(row);
		});
	}
	
	// 차트 생성 함수
	function make_chart(data){
		var datascource = {
			'name': '조던1', 'title': '제품', 'lot_st': 11311, 'process': '대기중', // title은 품목코드, name은 productname, processname
			'children': [
				{ 'name': '나염/고주파&재봉', 'title': '반제품', 'className': 'middle-level', 'lot_st': 11111, 'process': '완료',},
				{ 'name': '파일론', 'title': '반제품', 'className': 'middle-level', 'lot_st': 1112,'process': '진행중',
					'children': [
						{ 'name': '미드솔', 'title': '반제품', 'className': 'rd-dept', 'lot_st': 1111, 'process': '완료',},
						{ 'name': '아웃솔', 'title': '반제품', 'className': 'rd-dept', 'lot_st': 112212111, 'process': '완료',}
					]
				},
				{ 'name': '인솔', 'title': '원자재', 'className': 'rd-dept', 'lot_st': 114511, 'process': '완료',},
			]
		};
		chart.orgchart({
			'data': datascource, // 데이터 입력
			'nodeContent': data.lot_st, // 노드에 표시할 속성
			'pan': true, // 패닝 활성화
			'direction': 't2b', // 방향 설정 (bottom to top)
			'nodeTemplate': function(data) {
				console.log(data);
				let background = '#997af3'; // 기본 배경색 (파란색)
				// 직급(title)에 따라 다른 배경색 적용
				if (data.title === '제품') {
					background = '#ff5733'; // 주황색
				} else if (data.title === '반제품') {
					background = '#997af3'; // 초록색
				} else if (data.title === '원자재') {
					background = '#17a2b8'; // 하늘색
				}
	
				return `
					<div class="node" style="background-color: ${background}; color: white;">
						<div class="title" style="background-color: ${background};">${data.title}</div>
						<div class="name">${data.lot_st}</div>
						<div class="process">${data.process}</div>
					</div>
				`;
			}
        });
		
		document.querySelectorAll('.orgchart .fa').forEach(el => {
			el.style.pointerEvents = 'none'; // 클릭 이벤트 비활성화
		});
		
		document.querySelectorAll('.orgchart .node').forEach(node => {
			if(node.textContent.includes("진행중")) {
				node.classList.add('blinking-node');
			}
		});

	}
	
	// 모달 생성
	function modal_detail(data) {
		let text = !data ? '등록' : '수정';
		let title = `로트 ${text}`;
		const div_modal = 'div_modal';
		let modalElement = document.getElementById('#${div_modal}');
		
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-xl">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="modal_grid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary" id="btn_COMMUTE_show">등록</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		

		
        modalElement.addEventListener('shown.bs.modal', function () {
			
        	make_modal_grid(date);
			
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
/* 			$('button, input, select, textarea').each(function () {
                $(this).blur();
            }); */
			modalElement.remove();
		});
		
		modal.show();
		
		$(window).resize(function() {
			setGridHeight(modal_grid, -600);
		});
	}
	
	// 모달 그리드 생성
	function make_modal_grid(data) {
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : [
				{
					lot_cd: '10012',
					contract_cd: 'Seoul',
					product_cd: 'South Korea',
					product_cr: 'South Korea',
					product_sz: 'South Korea',
					lot_st: 'South Korea',
					workorder_st: true,
				},
			  ],
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',},
				{type : 'checkbox',}, 
			],
			bodyHeight : 200,
			columns : [
				{header : '로트번호', name : 'lot_cd', sortable : true, filter: 'text'},
				{header : '수주번호', name : 'contract_cd', sortable : true, filter: 'text'},
				{header : '공정명', name : 'product_cd', sortable : true, filter: 'text'},
				{header : '색상', name : 'product_cr', sortable : true, filter: 'text'}, 
				{header : '사이즈', name : 'product_sz', sortable : true, filter: 'text'}, 
				{header : '작업시작일', name : 'lothistory_st', sortable : true, filter: 'text'}, 
				{header : '작업종료일', name : 'lothistory_en', sortable : true, filter: 'text'}, 
				{header : '작업수량', name : 'lothistory_wq', sortable : true, filter: 'text'}, 
				{header : '불량수량', name : 'lothistory_bq', sortable : true, filter: 'text'}, 
				{header : '완료여부', name : 'workorder_st', sortable : true, filter: 'select',
					formatter: function({value}) {
						return value == true ? '사용' : value == false ? '미사용' : '';
					}
				}, 
			],
			summary: {
				height: 40,
				position: 'bottom', // or 'top'
				columnContent: {
					workorder_st: {
						template: (valueMap) => {
							return `총 ${valueMap.cnt} 건`
						}
					}
				}
			},

		});
		
	}
	
</script>
</html>