<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    
    <typeAliases>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.Common_codeDTO" alias="CommonCode"/>
    </typeAliases>
</configuration>
