<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.Common_codeDTO" alias="CommonCode"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.WorkinghourDTO" alias="Workinghour"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.CommuteDTO" alias="Commute"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.EmployeeDTO" alias="Employee"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.WarehouseDTO" alias="Warehouse"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.ProductDTO" alias="Product"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.MaterialDTO" alias="Material"/>
        <typeAlias type="com.itwillbs.c4d2412t3p1.domain.StockDTO" alias="Stock"/>
    </typeAliases>
</configuration>