<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<!-- Toast UI grid CSS File-->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<body>
	<main id="main" class="main">
	<div class="pagetitle">
	
		<!-- Page Title --> 
			<h1>급여</h1>
		<!-- Start Page Title -->
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/log">급여</a></li>
					<li class="breadcrumb-item">급여 조회</li>
				</ol>
				
			</nav>
		</div>
		<!-- End Page Title -->
		<div id="grid"></div>
	</main>
</body>
	<!-- Toast UI grid JS File -->
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<script type="text/javascript">
		const grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      columns: [
		        {
		          header: 'Name',
		          name: 'name'
		        },
		        {
		          header: 'Artist',
		          name: 'artist'
		        },
		        {
		          header: 'Type',
		          name: 'type'
		        },
		        {
		          header: 'Release',
		          name: 'release'
		        },
		        {
		          header: 'Genre',
		          name: 'genre'
		        }
		      ],
		      data: [
		    	  {
		    		  name:"test",
		    		  artist:"test",
		    		  type:"test",
		    		  release:"test",
		    		  genre:"test"
		    	  },
		      ]
		    });
	</script>
</html>