<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
	<main id="main" class="main">
	<div class="pagetitle">
	
		<!-- Page Title -->
			<h1>공통코드</h1>
		<!-- Start Page Title -->
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/log">TEST</a></li>
					<li class="breadcrumb-item">test1</li>
					<li class="breadcrumb-item active">test2</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->



		<section class="section">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body ">
							<div class="d-flex align-items-center justify-content-between">
								<h5 class="card-title">코드 분류</h5>
								<input type="button" id="btn_group_insert" class="btn btn-primary" value="등록">
							</div>
							<!-- 대분류 그리드 -->
							<div id="group_grid"></div>

						</div>
					</div>
				</div>
				<div class="col-lg-6">

					<div class="card">
						<div class="card-body">
							<div class="d-flex align-items-center justify-content-between">
								<h5 class="card-title">상세 코드</h5>
								<div>
									<input type="button" id="btn_code_clear" class="btn btn-primary" value="초기화">
									<input type="button" id="btn_code_insert" class="btn btn-primary" value="등록">
								</div>
							</div>
							<table>
								<tr>
									<td>그룹코드<td>
									<td>
										<div class="col-sm-10">
			                    			<input type="text" id="COMMON_GC" class="form-control" readonly>
			                 			</div>
									</td>
									<td>상세코드<td>
									<td>
										<div class="col-sm-10">
			                    			<input type="text" id="COMMON_CC" class="form-control">
			                 			</div>
									</td>
								</tr>
								<tr>
									<td>코드명칭<td>
									<td>
										<div class="col-sm-10">
			                    			<input type="text" id="COMMON_NM" class="form-control">
			                 			</div>
									</td>
									<td>설명<td>
									<td>
										<div class="col-sm-10">
			                    			<input type="text" id="COMMON_CT" class="form-control">
			                 			</div>
									</td>
								</tr>
								<tr>
									<td>정렬순서<td>
									<td>
										<div class="col-sm-10">
			                    			<input type="text" id="COMMON_IN" class="form-control">
			                 			</div>
									</td>
									<td>사용여부<td>
									<td>
										<div class="col-sm-10">
			                    			<input type="text" id="COMMON_US" class="form-control">
			                 			</div>
									</td>
								</tr>
							</table>
							<!-- 소분류 그리드 -->
							<div id="grid"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	// 변수 지정
	let group_grid;
	let grid;
	
	const btn_group_insert = $('#btn_group_insert');
	const btn_code_clear = $('#btn_code_clear');
	const btn_code_insert = $('#btn_code_insert');
	const COMMON_GC = $('#COMMON_GC');
	const COMMON_CC = $('#COMMON_CC');
	const COMMON_NM = $('#COMMON_NM');
	const COMMON_CT = $('#COMMON_CT');
	const COMMON_IN = $('#COMMON_IN');
	const COMMON_US = $('#COMMON_US');
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	const name = $("#userName").val();
	
	
	// ------------------------------
	
	$(function() {
		
		make_group_grid();
		make_grid();
		
		// 코드분류 그리드
		group_grid.on('click', function(ev) {
		    let rowdata = group_grid.getRow(ev.rowKey);
			
			if(!rowdata || rowdata['COMMON_CC'] == '') {
				return;
			}
			console.log(rowdata);			
			console.log(ev.rowKey);	
			select_code(rowdata);
		});
		
		// 상세코드 그리드
		grid.on('click', function(ev) {
			let rowdata = grid.getRow(ev.rowKey);
			
			if(rowdata == null) {
				return;
			}
			
			COMMON_CC.val(rowdata['COMMON_CC']);
			COMMON_NM.val(rowdata['COMMON_NM']);
			COMMON_CT.val(rowdata['COMMON_CT']);
			COMMON_IN.val(rowdata['COMMON_IN']);
			COMMON_US.val(rowdata['COMMON_US']);
		});

		// 상세코드 초기화
/* 		btn_code_clear.on('click', function() {
			input_clear();
			grid.uncheckAll();
		}); */
		
		// 코드 분류 행 추가
/* 		btn_group_insert.on('click', () => {
            group_grid.appendRow({
                    "COMMON_CC": "",
                    "COMMON_NM": "",
                },
                {focus: true}
            );
        }); */
		
		btn_group_insert.on('click', function(ev) {
			const modifiedData = group_grid.getModifiedRows();
			console.log(modifiedData);
			
			// group_grid.request('updateData');

		});
		
		// 상세코드 행 추가
		btn_code_clear.on('click', () => {
            grid.appendRow({
                    "COMMON_CC": "",
                    "COMMON_NM": "",
                    "COMMON_CT": "",
                    "COMMON_IN": "",
                    "COMMON_US": "",
                },
                {focus: true}
            );
        });
		
		// 상세코드 등록
/* 		btn_code_insert.on('click', function(ev) {
			let COMMON_CODE_LIST = grid.getData();
			console.log(COMMON_CODE_LIST);
			
 			$.ajax({
				type: "post",
				url: "/INSERT_COMMON_CODE",
				dataType: 'json',
		        contentType: "application/json",
		        data: JSON.stringify(COMMON_CODE_LIST),
		        beforeSend : function(xhr) { // 시큐리티 CSRF 대책
		            xhr.setRequestHeader(header, token);
		        },
				success: function(data) {
					//let row = data.data.contents;
					//COMMON_GC.val(code);
					//grid.resetData(row);
				},
				error : function(xhr, textStatus, errorThrown) {
					console.log('조회 실패');
				}
			});
		}); */
		

	});
	

	// ----------- 초기화 -------------
	function input_clear() {
		COMMON_CC.val('');
		COMMON_NM.val('');
		COMMON_CT.val('');
		COMMON_IN.val('');
		COMMON_US.val('');
	}
	
	
	
	// 함수 영역 -------------------
	
	
	
	function select_code(rowdata) {
		let code = rowdata['COMMON_CC'];
		$.ajax({
			type: "get",
			url: "/test222",
			data: {
				code : code
			},
			success: function(data) {
				let row = data.data.contents;
				COMMON_GC.val(code);
				grid.resetData(row);
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패');
			}
		});
	}

	function make_group_grid(gridData) {
		const dataSource = {
				  api: {
					    readData: { url: 'test222', method: 'GET' },
					    createData: { url: 'test3', method: 'POST' },
					    updateData: { url: 'test4', method: 'POST' },
					    modifyData: { url: 'test5', method: 'PUT' },
					    deleteData: { url: 'test6', method: 'DELETE' }
				  }
				}
		
		group_grid = new tui.Grid({
			el : document.getElementById('group_grid'),
/* 			data : {
				api : {
					readData : {
						url : '/test222',
						method : 'get',
						// initParams:{ code : ''}
					},
				}
			}, */
			data : dataSource,
			scrollX : false,
			scrollY : false,
			rowHeaders : [ // 헤더 추가
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			selectionUnit : 'row', // 행 선택
			bodyHeight : 600,
			columns : [ 
				{header : '항목', name : 'COMMON_CC', sortable : true, editor: 'text'},
				{header : '항목명', name : 'COMMON_NM', sortable : true, editor: 'text'}, 
			]
		});

	}

	function make_grid() {
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : [],
			scrollX : false,
			scrollY : false,
			rowHeaders : [
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			selectionUnit : 'row', // 행 선택
			bodyHeight : 600,
			columns : [ 
				{header : '항목', name : 'COMMON_CC', sortable : true, editor: 'text'},
				{header : '항목명', name : 'COMMON_NM', sortable : true, editor: 'text'}, 
				{header : '설명', name : 'COMMON_CT', sortable : true, editor: 'text'}, 
				{header : '정렬순서', name : 'COMMON_IN', sortable : true, editor: 'text'}, 
				{header : '사용여부', name : 'COMMON_US', sortable : true, 
					editor: {
						type: 'select',
						options: {
							listItems : [
								{text : '사용', value : 'true'},
								{text : '미사용', value : 'false'}
							]
						}
					},
					formatter: function({value}) {
						return value == 'true' ? '사용' : value == 'false' ? '미사용' : '';
					}
				}, 
			]
		});
	}
</script>
</html>