<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
	<main id="main" class="main">
	<div class="pagetitle">
	
		</div>
		<section class="section">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body ">
							<div class="d-flex align-items-center justify-content-between">
								<h5 class="card-title">공통 코드</h5>
								<div>
									<input type="button" id="btn_group_remove" class="btn btn-primary" value="삭제">
									<input type="button" id="btn_group_add" class="btn btn-primary" value="행추가">
									<input type="button" id="btn_group_insert" class="btn btn-primary" value="등록">
								</div>
							</div>
							<!-- 대분류 그리드 -->
							<div id="group_grid"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">

					<div class="card">
						<div class="card-body">
							<div class="d-flex align-items-center justify-content-between">
								<h5 class="card-title">상세 코드</h5>
								<div>
									<input type="button" id="btn_code_remove" class="btn btn-primary" value="삭제">
									<input type="button" id="btn_code_add" class="btn btn-primary" value="행추가">
									<input type="button" id="btn_code_insert" class="btn btn-primary" value="등록">
								</div>
							</div>
							<!-- 소분류 그리드 -->
							<div id="grid"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	// 변수 지정
	let group_grid;
	let sub_grid;
	let group_code = '';
	let changeFlag = false; // 그리드 변경 전 이벤트 판별 플래그
	let group_row = {};
	const btn_group_remove = $('#btn_group_remove');
	const btn_group_add = $('#btn_group_add');
	const btn_group_insert = $('#btn_group_insert');
	const btn_code_remove = $('#btn_code_remove');
	const btn_code_add = $('#btn_code_add');
	const btn_code_insert = $('#btn_code_insert');
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	
	
	// ------------------------------
	
	$(function() {
		make_group_grid();
		make_sub_grid();
		
		// 그룹코드 그리드 ----------------------
		
		group_grid.on('click', function(ev) {
			group_row = group_grid.getRow(ev.rowKey);
			if(group_row['common_cc'] == null || group_row['common_cc'] == '') {
				sub_grid.resetData([]);
			} else {
				select_code(group_row);
			}
			
		});
		
		// 행 추가
		btn_group_add.on('click', function() {
		   const newRowKey = group_grid.appendRow(
			        {
			            "common_cc": '',
			            "common_nm": '',
			            "common_us": '',
			        },
			        { focus: true }
			    );
		});
		
		// 행 등록
		btn_group_insert.on('click', function(ev) {
			insert_code(group_grid);
		});
		
		// 행 데이터 삭제
		btn_group_remove.on('click', function() {
			let checkedRows = group_grid.getCheckedRows();
			if (checkedRows.length == 0) {
				Swal.fire({
				    icon: "warning",
				    title: "삭제 항목 체크",
				    text: "삭제할 항목을 체크해주세요.",
				});
			    return;
			}
			let newRows = checkedRows.filter(row => row['common_gc'] == null);
			checkedRows = checkedRows.filter(row => row['common_gc'] != null);
			
			if(checkedRows.length > 0) {
				delete_code(group_grid, checkedRows);				
			}
		    if (newRows.length > 0) {
		    	newRows.forEach(row => {
		    		group_grid.removeRow(row.rowKey);
		    	});
		    }
		});
		
		// 상세코드 그리드 ------------------------

		// 상세코드 행 추가
		btn_code_add.on('click', function() {
			if(Object.keys(group_row) == 0) {
				Swal.fire({
				    icon: "warning",
				    title: "공통 코드 선택",
				    text: "공통 코드를 선택해주세요.",
				});
				return;
			}
			if(group_row['common_gc'] == null) {
				Swal.fire({
				    icon: "warning",
				    title: "공통 코드 선택",
				    text: "공통 코드 등록 후 선택해주세요.",
				});
				return
			}
			sub_grid.appendRow({
                    "common_cc": '',
                    "common_nm": '',
                    "common_ct": '',
                    "common_in": '',
                    "common_us": '',
                },
                {focus: true}
            );
        });
		
		// 상세코드 등록
		btn_code_insert.on('click', function(ev) {
			insert_code(sub_grid);
		});
	});
	
	// 상세코드 삭제
	btn_code_remove.on('click', function() {
		if(Object.keys(group_row) == 0) {
			Swal.fire({
			    icon: "warning",
			    title: "공통 코드 선택",
			    text: "공통 코드를 선택해주세요.",
			});
			return;
		}
		if(group_row['common_gc'] == null) {
			Swal.fire({
			    icon: "warning",
			    title: "공통 코드 선택",
			    text: "공통 코드 등록 후 선택해주세요.",
			});
			return
		}
		
		let checkedRows = sub_grid.getCheckedRows();
		if (checkedRows.length == 0) {
			Swal.fire({
			    icon: "warning",
			    title: "삭제 항목 체크",
			    text: "삭제할 항목을 체크해주세요.",
			});
		    return;
		}
		let newRows = checkedRows.filter(row => row['common_gc'] == null);
		checkedRows = checkedRows.filter(row => row['common_gc'] != null);
		
		
		if(checkedRows.length > 0) {
			delete_code(sub_grid, checkedRows);				
		}
	    if (newRows.length > 0) {
	    	newRows.forEach(row => {
	    		sub_grid.removeRow(row.rowKey);
	    	});
	    }
		
	});
	
	
	
	// 함수 영역 -------------------
	
	// 상세코드 조회
	function select_code(rowdata) {
		group_code = rowdata['common_cc'];
		$.ajax({
			type: 'get',
			url: '/select_common_code',
			data: {
				code : group_code
			},
			success: function(data) {
				let row = data.data.contents;
				sub_grid.resetData(row);
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패');
			}
		});
	}
	
	
	function insert_code(grid) {
		let validationResult = grid.validate();
		const valChecked = validationResult.some(row => {
		    const rowKey = row['rowKey'];

		    return row.errors.some(cell => {
		        const columnName = cell['columnName'];

		        const column = grid.getColumns().find(col => col['name'] === columnName);
		        const header = column['header'];
				const errorType = cell.errorCode[0];
				
				let msg = '';
				if (errorType == 'REGEXP') {
				    msg = `${rowKey + 1}행의 ${header}은(는) 올바른 형식이 아닙니다.`;
				} else if (errorType == 'REQUIRED') {
				    msg = `${rowKey + 1}행의 ${header}을(를) 입력해주세요.`;
				}
				Swal.fire({
				    icon: "error",
				    title: "입력 체크",
				    text: `${rowKey + 1}행의 ${header}은(는) 올바른 형식이 아닙니다.`,
				});

				grid.focus(rowKey, columnName);
		        
		        return true;	
		    });
		});

		if (valChecked) {
		    return;
		}

		const modifiedData = grid.getModifiedRows();
		const createdRows = modifiedData.createdRows;
		const updatedRows = modifiedData.updatedRows;

		if(grid != group_grid && group_code == '') {
			Swal.fire({
			    icon: "warning",
			    title: "공통 코드 선택",
			    text: "공통 코드를 선택해주세요.",
			});
			return;
		}
		
		if(createdRows.length == 0 && updatedRows.length == 0) {
			Swal.fire({
			    icon: "warning",
			    title: "등록 항목 체크",
			    text: "등록할 항목이 없습니다.",
			});
			return;
		}

		const json = {
			createdRows: createdRows,
			updatedRows: updatedRows,
			code: grid == group_grid ? '' : group_code
		}
		
		let icon = 'success';
		let title = '등록 성공';
		let text = '등록하였습니다.';
		
		const jsonData = JSON.stringify(json);			
		$.ajax({
			type: 'post',
			url: '/insert_common_code',
			data: jsonData,
			contentType: 'application/json',
			beforeSend : function(xhr) {
			    xhr.setRequestHeader(header, token);
			},
			success: function(data) {
				if(!data['result']) {
					let icon = 'error';
					let title = '등록 실패';
					let text = '등록에 실패하였습니다.';
				} else {
					const row = data.data.contents;
					grid.uncheckAll();
					// group_grid.focus(-1);
					grid.resetData(row);
				}
				
				Swal.fire({
				    icon: icon,
				    title: title,
				    text: text,
				});
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패');
			}
		});
	}

	// 코드 삭제
	function delete_code(grid, rows) {
		let msg = '선택한 항목을 삭제하시겠습니까?';
		
		if(grid == group_grid) {
			group_code = '';
			msg = '상세 코드가 있을 경우 모두 지워집니다.<br>선택한 항목을 삭제하시겠습니까?';
		}
		
		const json = {
				deletedRows: rows,
				code: group_code
			}
			
		const jsonData = JSON.stringify(json);	
		
		Swal.fire({
		   icon: 'warning',
		   title: '선택 항목 삭제',
		   html: msg,
		   
		   showCancelButton: true,
		   confirmButtonColor: '#0d6efd',
		   cancelButtonColor: '#6c757d',
		   confirmButtonText: '승인',
		   cancelButtonText: '취소',
		   
		   reverseButtons: true, // 버튼 순서 거꾸로
		   
		}).then(result => {
			if (result.isConfirmed) { 
				$.ajax({
					type: 'post',
					url: '/delete_common_code',
					data: jsonData,
					contentType: 'application/json',
					beforeSend : function(xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success: function(data) {
						let row = data.data.contents;
						grid.resetData(row);
						if(grid == group_grid) {
							group_code = '';	
							group_row = {};
							sub_grid.resetData([]);
						}
					},
					error : function(xhr, textStatus, errorThrown) {
						console.log('조회 실패');
					}
				});
			}
		});
	}
	
	function make_group_grid(gridData) {
		const dataSource = {
				  api: {
					    readData: {url: '/select_common_code', method: 'GET' },
				  	}
				}
		
		group_grid = new tui.Grid({
			el : document.getElementById('group_grid'),
			data : dataSource,
			scrollX : false,
			scrollY : false,
			rowHeaders : [ // 헤더 추가
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			selectionUnit : 'row', // 행 선택
			bodyHeight : 590,
			columns : [ 
				{header : '그룹코드명', name : 'common_gc', hidden: true},
				{header : '기존 코드명', name : 'beforeCommon_cc', hidden: true},
				{header : '코드명', name : 'common_cc', sortable : true, editor: 'text',
					validation: {
						required: true,
						regExp: /^[^ㄱ-ㅎㅏ-ㅣ가-힣]*$/
					},
					filter: {
						type: 'select',
						showApplyBtn: true,
						showClearBrn: true 
					}
				},
				{header : '항목명', name : 'common_nm', sortable : true, editor: 'text',
					validation: {
						required: true
					},
					filter: {
						type: 'select',
						showApplyBtn: true,
						showClearBrn: true 
					}
				}, 
				{header : '설명', name : 'common_ct', sortable : true, editor: 'text',
					filter: {
						type: 'text',
						showApplyBtn: true,
						showClearBrn: true 
					}
				}, 
				{header : '사용여부', name : 'common_us', hidden: true }
			]
		});
		
		group_grid.on('beforeChange', ev => {
			if (changeFlag) {
			    return;
			}
			const row = ev['changes'][0];
			
			if(row['columnName'] == 'common_cc') {
				changeFlag = true;
				group_grid.setValue(row['rowKey'], 'beforeCommon_cc', row['value']);
				changeFlag = false;
			}
		  
		});
	}

	function make_sub_grid() {
		sub_grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : [],
			scrollX : false,
			scrollY : false,
			rowHeaders : [
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			selectionUnit : 'row', // 행 선택
			bodyHeight : 590,
			columns : [
				{header : '기존 코드명', name : 'beforeCommon_cc', hidden: true},
				{header : '코드명', name : 'common_cc', sortable : true, editor: 'text',
					validation: {
						required: true,
						regExp: /^[^ㄱ-ㅎㅏ-ㅣ가-힣]*$/
					}
				},
				{header : '항목명', name : 'common_nm', sortable : true, editor: 'text',
					validation: {
						required: true
					}
				}, 
				{header : '정렬순서', name : 'common_in', sortable : true, align: 'center',
					editor: 'text',
					validation: {
						required: true,
						dataType: 'number',
						min: 0,
						regExp: /^\d*$/ // 숫자만 허용
					}
				}, 
				{header : '사용여부', name : 'common_us', sortable : true, 
					editor: {
						type: 'select',
						options: {
							listItems : [
								{text : '사용', value : 'true'},
								{text : '미사용', value : 'false'}
							]
						}
					},
					validation: {
						required: true
					},
					formatter: function({value}) {
						return value == 'true' ? '사용' : value == 'false' ? '미사용' : '';
					}
				}, 
				{header : '설명', name : 'common_ct', sortable : true, editor: 'text'}, 
			]
		});
	
		
		sub_grid.on('beforeChange', ev => {
			if (changeFlag) {
				return;
			}
			const row = ev['changes'][0];
		  
			if(row['columnName'] == 'common_cc') {
				changeFlag = true;
				sub_grid.setValue(row['rowKey'], 'beforeCommon_cc', row['value']);
				changeFlag = false;
			}
		  
		});
	}
	
	
	// -------- 미사용 ------------
	function modal_detail(flag, data) {
		let title = '상세 코드';
		let display = '';
		if(flag) {
			title = '공통 코드';
			display = 'd-none';
		}		

		const div_modal = 'div_common_modal';
		let modalElement = document.getElementById('#${div_modal}');
		
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="false">
				<div class="modal-dialog modal-dialog-centered">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-6">
									<label for="common_cc" class="form-label">코드명</label>
									<input type="text" class="form-control" id="common_cc">
								</div>
								<div class="col-6">
									<label for="common_nm" class="form-label">항목명</label>
									<input type="text" class="form-control" id="common_nm">
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<label for="common_ct" class="form-label">설명</label>
									<input type="text" class="form-control" id="common_ct">
								</div>
							</div>
							<div class="row ${display}">
								<div class="col-6">
									<label for="common_in" class="form-label">정렬순서</label>
									<input type="text" class="form-control" id="common_in">
								</div>
								<div class="col-6">
									<label for="common_us" class="form-label">사용여부</label>
									<select class="form-select">
										<option value="true">사용</option>
										<option value="false">미사용</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary">등록</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		
		let common_cc = $('#common_cc');
		let common_nm = $('#common_nm');
		let common_ct = $('#common_ct');
		let common_in = $('#common_in');
		let common_us = $('#common_us');
		
        modalElement.addEventListener('shown.bs.modal', function () {
        	if(data != undefined) {
        		common_cc.val(data['common_cc']);
        		common_nm.val(data['common_nm']);
        		common_ct.val(data['common_ct']);
        		common_in.val(data['common_in']);
        		common_us.val(data['common_us']);
        	}
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
			$('button, input, select, textarea').each(function () {
                $(this).blur();
            });
			modalElement.remove();
		});
		
		modal.show();
	}
</script>
</html>