<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
	<main id="main" class="main">

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card"  style="height:800px;">
						<div class="card-body">
							<h1 class="card-title">출퇴근 기록부</h1>
							<!-- 탭 헤드 -->
							<ul class="nav nav-pills mb-3" id="commute-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="btn_calendar_tab" data-bs-toggle="pill" data-bs-target="#tab_calendar" 
									type="button" role="tab" aria-controls="tab_calendar" aria-selected="true">달력</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="btn_grid_tab" data-bs-toggle="pill" data-bs-target="#tab_grid" 
									type="button" role="tab" aria-controls="tab_grid" aria-selected="false">그리드</button>
								</li>
							</ul>
							<!-- 탭 바디 -->
							<div class="tab-content pt-2" id="myTabContent">
								<!-- 달력 탭 -->
								<div class="tab-pane fade show active" id="tab_calendar" role="tabpanel" aria-labelledby="calendar-tab">
									<div class="text-center" id='btn_calendar'>
										<button type='button' class='btn btn-outline-secondary' id='btn_calendar_prev'>이전</button>
										<span></span>
										<button type='button' class='btn btn-outline-secondary' id='btn_calendar_next'>다음</button>
										<div id="div_calendar" style="height: 600px;"></div>
									</div>
								</div>
								<!-- 그리드 탭 -->
								<div class="tab-pane fade" id="tab_grid" role="tabpanel" aria-labelledby="grid-tab">
									<div id="grid"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	// 변수 지정
	let grid, calendar;
	changeFlag = false;
	
	// const btn_group_remove = $('#btn_group_remove');
	// const btn_group_add = $('#btn_group_add');
	// const btn_group_insert = $('#btn_group_insert');
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	
	const btn_calendar_tab = $('#btn_calendar_tab');
	const btn_grid_tab = $('#btn_grid_tab');
	const div_calendar = document.getElementById('div_calendar');
	const btn_calendar = document.getElementById('btn_calendar');
	const btn_grid_filter = document.getElementById('btn_grid_filter');
	const btn_calendar_prev = document.getElementById('btn_calendar_prev');
	const btn_calendar_next = document.getElementById('btn_calendar_next');
	const tab = document.getElementById('pills-home-tab');
	
	
	// ------------------------------
	
	$(function() {
		
		make_calendar();
		getCommuteList();
		
		btn_grid_tab.on('click', function() {
			console.log(grid);
			if(grid == null) {
				make_grid();				
			}
		});
		
		// 달력
		
		
		// 그리드 ----------------------
		
	});
	

	// ----------- 초기화 -------------

	
	
	
	// 함수 영역 -------------------
	
	
	function make_calendar(){ 
		calendar = new tui.Calendar(div_calendar, {
			usageStatistics: false,
			defaultView: 'month',
			template: {
			    monthDayname: function (dayname) {
			      return `<span class="calendar-dayname">${dayname.label}</span>`;
			    },
			},
			isReadOnly: true,
			month: {
				isAlways6Weeks: false, // 해당 달만 표시 (6주 고정 아님)
			},
			theme: {
				common: {
					holiday: {
					    color: 'rgba(255, 64, 64)', // 공휴일 텍스트 색상
					},
					saturday: {
					    color: 'rgba(64, 64, 255)', // 토요일 텍스트 색상
					},
				},
			},
			calendars: [
				{
					id: 'cal1',
					name: '총결원',
					backgroundColor: '#03bd9e',
				},
				{
					id: 'cal2',
					name: '휴가자',
					backgroundColor: '#ffffff',
					borderLeft: '#ffffff',
				},
				{
					id: 'cal3',
					name: '출장',
					backgroundColor: '#ffffff',
				},
			]
		});
		
		
		// Date 객체 문자열 형식으로 변환
 		const originalDate = calendar.getDate(); 
		const year = originalDate.getFullYear();
		const month = originalDate.getMonth() + 1;
		const formattedDate = `${year}년 ${month}월`;
		$("#btn_calendar span").text(formattedDate);
		
		
		// 이전 달 보기 이벤트
/* 		btn_calendar_prev.addEventListener('click', function(){ 
			
			calendar.prev();
			
			const originalDate = calendar.getDate(); 
			const year = originalDate.getFullYear();
			const month = originalDate.getMonth() + 1;
			const formattedDate = `${year}년 ${month}월`;
			$("#btn_calendar span").text(formattedDate);
		
		}); */
		
		
		// 다음 달 보기 이벤트
/* 		btn_calendar_next.addEventListener('click', function(){ 
			
			calendar.next();

			const originalDate = calendar.getDate(); 
			const year = originalDate.getFullYear();
			const month = originalDate.getMonth() + 1;
			const formattedDate = `${year}년 ${month}월`;
			$("#btn_calendar span").text(formattedDate);
			
			
		}); */
		
/*  		calendar.on('clickDayname', function(event) {
		    const clickedDate = event.date; // 클릭된 날짜 정보
		    console.log('클릭된 날짜:', clickedDate);

		    // 모달 열기 및 날짜 정보 전달
		    openModal(clickedDate);
		}); */
		
	    calendar.on('selectDateTime', function (event) {
	    	console.log(event);
			let date = convertDate(event.start);

	        console.log('클릭된 날짜:', date); // 출력: 2025-01-02
	        // modal_detail(clickedDate);
	      });
	    
	    calendar.on('clickEvent', ({ event }) => {
    	  modal_detail(event);
    	});

	};
	
	
	function convertDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
	}
	
	function getCommuteList() {
		$.ajax({
			type: 'post',
			url: '/select_COMMUTE_list',
			contentType: 'application/json',
			beforeSend : function(xhr) {
			    xhr.setRequestHeader(header, token);
			},
			success: function(data) {
				if(!data['result']) {
					Swal.fire({
					    icon: "error",
					    title: "기록부 조회 실패",
					    html: "기록부 조회에 실패하였습니다.<br>다시 접속해주세요.",
					});
				} else {
					let list = data['list'];
					const event = list.map(commute => ({
		                id: `${commute.commute_dt}`,
		                title: `${commute.total} ()`, // 예제 제목 형식
		                start: commute.commute_dt,
		                end: commute.commute_dt,
		                isAllday: true,
		                category: 'allday',
		                backgroundColor: '#fff', // 스타일 적용 (필요 시 변경 가능)
		                customStyle: {
		                    fontSize: '20px', // 폰트 크기
		                    fontWeight: 'bold', // 폰트 두께
		                    color: '#333' // 텍스트 색상
		                }
		            }));
					
					calendar.createEvents(event);
				}
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패');
			}
		});
	}
	
	function make_grid() {
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : {api: {readData: {
				url: '/select_COMMUTE', 
				method: 'POST' ,
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
				}}},
			scrollX : false,
			scrollY : false,
			rowHeaders : [
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			bodyHeight : 600,
			columns : [
				{header : '일자', name : 'commute_dt', sortable : true},
				{header : '사원명', name : 'employee_cd', sortable : true}, 
				{header : '소속부서', name : 'employee_dp', sortable : true}, 
				{header : '출근시간', name : 'commute_wt', sortable : true}, 
				{header : '퇴근시간', name : 'commute_lt', sortable : true},
				{header : '내/외근', name : 'commute_', sortable : true},
			]
		});
	}

	function modal_detail(data) {
		console.log(data);
		let date = convertDate(data.start);
		console.log(date);
		let title = '상세 코드';

		const div_modal = 'div_common_modal';
		let modalElement = document.getElementById('#${div_modal}');
		
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="false">
				<div class="modal-dialog modal-dialog-centered modal-xl">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="modal_grid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary">확인</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		

		
        modalElement.addEventListener('shown.bs.modal', function () {
        	make_modal_grid(date);
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
/* 			$('button, input, select, textarea').each(function () {
                $(this).blur();
            }); */
			modalElement.remove();
		});
		
		modal.show();
	}
	
	function make_modal_grid(date) {
		grid = new tui.Grid({
			el : document.getElementById('modal_grid'),
			data : {api: {readData: {url: '/select_COMMUTE', method: 'GET', initParams: {commute_dt: date} }}},
			scrollX : false,
			scrollY : false,
			rowHeaders : [
				{type : 'rowNum',}, 
				{type : 'checkbox',}, 
			],
			bodyHeight : 600,
			columns : [
				{header : '일자', name : 'commute_dt', sortable : true},
				{header : '사원명', name : 'employee_cd', sortable : true}, 
				{header : '소속부서', name : 'employee_dp', sortable : true}, 
				{header : '출근시간', name : 'commute_wt', sortable : true}, 
				{header : '퇴근시간', name : 'commute_lt', sortable : true},
				{header : '내/외근', name : 'commute_', sortable : true},
			]
		});
		
	}
</script>
</html>