<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<style>
	.tui-grid-cell-summary {
	    background-color: #ddd;
	    border-color: #fff;
	    border-left-width: 1px;
	    border-right-width: 1px;
	    color: #333;
	}
</style>
<body>
	<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card"  style="height:800px;">
						<div class="card-body">
							<div class="d-flex align-items-center justify-content-between">
								<h5 class="card-title" id="current_year"></h5>
								<div>
									<input type="button" id="btn_annual_modal" class="btn btn-primary" value="연차등록" data-bs-toggle="modal" data-bs-target="#modal_appointment_save">
									<div class="modal fade" id="modal_appointment_save" tabindex="-1" aria-labelledby="modal_appointment_save_label" data-bs-backdrop="false" data-bs-keyboard="false" >
										<div class="modal-dialog modal-dialog-centered modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="modal_appointment_save_label">연차 등록</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<div class="col">
														<div class="input-group">
															<table class="table table-striped">
															    <thead>
															        <tr>
															            <th scope="col">근속 연수</th>
															            <th scope="col">발생 연차 일수</th>
															        </tr>
															    </thead>
															    <tbody>
															        <tr>
															            <td>1년 미만</td>
															            <td>1개월 경과 시 1일 (최대 11일)</td>
															        </tr>
															        <tr>
															            <td>1년 이상 ~ 3년 미만</td>
															            <td>15일</td>
															        </tr>
															        <tr>
															            <td>3년</td>
															            <td>16일</td>
															        </tr>
															        <tr>
															            <td>5년</td>
															            <td>17일</td>
															        </tr>
															        <tr>
															            <td>7년</td>
															            <td>18일</td>
															        </tr>
															        <tr>
															            <td>...</td>
															            <td>...</td>
															        </tr>
															        <tr>
															            <td>23년 이상</td>
															            <td>최대 25일</td>
															        </tr>
															    </tbody>
															</table>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
														<button type="button" class="btn btn-primary" id="btn_insert_ANNUAL">등록</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
<!--							<div class="d-flex align-items-center justify-content-between">-->
<!--								<form id="modal_appointment_save" method="get" th:action="@{/select_ANNUAL}">-->
<!--									<div class="row mb-3">-->
<!--										<div class="col">-->
<!--											<input type="text" id="employ_nm" class="form-control">-->
<!--										</div>-->
<!--										<div class="col">-->
<!--											<button type="submit" class="btn btn-primary" id="btn_select_ANNUAL">검색</button>-->
<!--										</div>-->
<!--									</div>-->
<!--								</form>-->
<!--							</div>-->
							<div id="grid_container"></div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	const token = $("meta[name='_csrf']").attr("content");
	const header = $("meta[name='_csrf_header']").attr("content");
	const grid_container = document.getElementById('grid_container');
	let grid = null;
	const modal_appointment_save = new bootstrap.Modal(document.getElementById('modal_appointment_save'));
	
	const { year, month, day, hours, minutes, seconds } = formatDate(); // 함수가 반환한 값 사용
	
	$(function () {

		grid_function();
		tui.Grid.setLanguage('ko');
		tui.Grid.applyTheme('striped');
		$("#current_year").text(`${year}년 연차 등록`);
		
	});

	
	function formatDate() {
		const originalDate = new Date(); // 기존 날짜 가져오기
	    const year = originalDate.getFullYear();
	    const month = String(originalDate.getMonth() + 1).padStart(2, '0'); // 2자리로 포맷
	    const day = String(originalDate.getDate()).padStart(2, '0'); // 2자리로 포맷
	    const hours = String(originalDate.getHours()).padStart(2, '0'); // 2자리로 포맷
	    const minutes = String(originalDate.getMinutes()).padStart(2, '0'); // 2자리로 포맷
	    const seconds = String(originalDate.getSeconds()).padStart(2, '0'); // 2자리로 포맷
		
		return {
		        year,
		        month,
		        day,
		        hours,
		        minutes,
		        seconds
		    };
	}
	
	// grid_function에서 grid 초기화 및 설정
	function grid_function() {

	    // 처음 불러오는 데이터
	    $.ajax({
	        type: "get",
	        url: "/select_ATTENDANCE",
	        success: function (respose) {
				if(!respose['result']) {
					Swal.fire({
					    icon: "error",
					    title: "연차 조회 실패",
					    html: "연차 조회에 실패하였습니다.",
					});
				} else {
					grid.resetData(respose['data']);
					console.log(respose['data']);
				}
	        },
			error : function(xhr, textStatus, errorThrown) {
				Swal.fire({
				    icon: "error",
				    title: "연차 조회 실패",
				    html: "연차 조회에 실패하였습니다.",
				});
				console.log('조회 실패', xhr.responseText);
			}
	    });

		grid = new tui.Grid({
			el : grid_container,
			data : [],
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
			],
			bodyHeight : 600,
			columns : [
				{ header: '사용년도', name: 'ANNUAL_YR', align: 'center', sortable: true, filter: 'text'},
	            { header: '이름', name: 'EMPLOYEE_NM', align: 'center', sortable: true , filter: 'select'},
	            { header: '부서명', name: 'COMMON_NM', align: 'center', sortable: true },
	            { header: '근속연수', name: 'SERVICE_YEARS', align: 'center', sortable: true },
	            { header: '사용연차', name: 'ANNUAL_UA', align: 'center', sortable: true },
	            { header: '잔여연차', name: 'ANNUAL_RA', align: 'center', sortable: true },
	            { header: '예상 총연차', name: 'EXPECT_ANNUAL', align: 'center', sortable: true },
	        ],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	EXPECT_ANNUAL: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
			    }
			},
		});
	}
	
	$('#btn_insert_ANNUAL').on("click", function () {
		let annual_yr = new Date().getFullYear();

		
		$.ajax({
			type: 'post',
			url: '/insert_ANNUAL',
			data: {"annual_yr": annual_yr},
			contentType: 'application/json',
			beforeSend : function(xhr) {
			    xhr.setRequestHeader(header, token);
			},
			success: function (result) {
				if(!result['result']) {
					Swal.fire({
					    icon: "error",
					    title: "연차 등록 실패",
					    html: "연차 등록에 실패하였습니다.",
					});
				} else {
					Swal.fire({
					    icon: "success",
					    title: "연차 등록 성공",
					    html: "연차 등록에 성공하였습니다.",
					});
					grid.resetData(result['data']);
				}
				modal_appointment_save.hide();
	        },
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패', xhr.responseText);
				Swal.fire({
				    icon: "error",
				    title: "입력할 연차가 없습니다.",
				    text: "이미 완료되었거나 아직 등록할 수 없습니다.",
				});
				modal_appointment_save.hide();
			}
		});
	});
	
</script>
</html>