<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
	<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card"  style="height:800px;">
						<div class="card-body">
							<div class="d-flex align-items-center justify-content-between">
								<h5 class="card-title">휴가 등록</h5>
								<div>
									<input type="button" id="btn_annual_modal" class="btn btn-primary" value="연차등록">
								</div>
							</div>
							<div id="grid_container"></div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	const token = $("meta[name='_csrf']").attr("content");
	const header = $("meta[name='_csrf_header']").attr("content");
	const grid_container = document.getElementById('grid_container');
	let grid = null;
	
	window.onload = function(){
		grid_function();
		
	}
	
	// grid_function에서 grid 초기화 및 설정
	function grid_function() {

	    // 처음 불러오는 데이터
	    $.ajax({
	        type: "get",
	        url: "/select_ATTENDANCE",
	        success: function (result) {
	            grid.resetData(result);
	        },
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패', xhr.responseText);
			}
	    });

	    // 그리드 객체 생성 + 초기 세팅
	    grid = new tui.Grid({
	        el: grid_container,
	        scrollX: true,
	        scrollY: true,
	        columns: [
	            { header: '사용년도', name: 'annual_yr', align: 'center', sortable: true },
	            { header: '이름', name: 'employee_nm', align: 'center', sortable: true },
	            { header: '부서명', name: 'common_nm', align: 'center', sortable: true },
	            { header: '근속연수', name: 'service_years', align: 'center', sortable: true },
	            { header: '사용연차', name: 'annual_ua', align: 'center', sortable: true },
	            { header: '잔여연차', name: 'annual_ra', align: 'center', sortable: true },
	            { header: '총연차', name: 'annual_aa', align: 'center', sortable: true },
	        ],
	    });
	}
	
</script>
</html>