<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				layout:decorate="~{layout}" 
				layout:fragment="content">
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css"/>
<body>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>근태 조회</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/log">근태 관리</a></li>
					<li class="breadcrumb-item">근태 조회</li>
					<li class="breadcrumb-item active">월별 조회</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
		<div id="calendar" style="height: 800px"></div>
	</main><!-- End #main -->
</body>
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<script>
	const calendar = new tui.Calendar('#calendar', {
		defaultView: 'month',
		template: {
			time(event) {
				const { start, end, title } = event;

				return `<span style="color: white;">${formatTime(start)}~${formatTime(end)} ${title}</span>`;
		},
			allday(event) {
				return `<span style="color: gray;">${event.title}</span>`;
			},
		},
		calendars: [
			{
				id: 'cal1',
				name: 'Personal',
				backgroundColor: '#03bd9e',
			},
			{
				id: 'cal2',
				name: 'Work',
				backgroundColor: '#00a9ff',
			},
		],
	});
</script>
</html>