<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<style>
	.toastui-calendar-weekday-event-title { /* 캘린더 이벤트 조절 */
	    font-size: 16px !important;
	    font-weight: normal !important;
	}
  
	.tui-datepicker {
		z-index: 9999 !important;
		overflow: visible !important;
	}

	.tui-timepicker {
		z-index: 9999 !important;
		overflow: visible !important;
	}
	
	.tui-grid-cell-summary {
	    background-color: #ddd;
	    border-color: #fff;
	    border-left-width: 1px;
	    border-right-width: 1px;
	    color: #333;
	}
</style>
<body>
	<main id="main" class="main">
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card" id="div_card" style="min-height: 400px;">
						<div class="card-body">
							<h1 class="card-title">휴가조회</h1>
							<!-- 탭 헤드 -->
							<ul class="nav nav-pills mb-3" id="commute-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="btn_calendar_tab" data-bs-toggle="pill" data-bs-target="#tab_calendar" 
									type="button" role="tab" aria-controls="tab_calendar" aria-selected="true">달력</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="btn_grid_tab" data-bs-toggle="pill" data-bs-target="#tab_grid" 
									type="button" role="tab" aria-controls="tab_grid" aria-selected="false">그리드</button>
								</li>
							</ul>
							<!-- 탭 바디 -->
							<div class="tab-content pt-2" id="myTabContent">
								<!-- 달력 탭 -->
								<div class="tab-pane fade show active" id="tab_calendar" role="tabpanel" aria-labelledby="calendar-tab">
									<div class="d-flex justify-content-center align-items-center mb-2">
									    <button type="button" class="btn btn-outline-secondary" id="btn_calendar_prev">이전</button>
									    <span id="title_calendar" class="d-inline-block text-center mx-4 fs-4 fw-bold" style="min-width: 140px;"></span>
									    <button type="button" class="btn btn-outline-secondary" id="btn_calendar_next">다음</button>
									</div>
									<div id="div_calendar"></div>
								</div>
								<!-- 그리드 탭 -->
								<div class="tab-pane fade" id="tab_grid" role="tabpanel" aria-labelledby="grid-tab">
									<div id="filterModule" class="mb-3"></div>
									<div id="grid"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
<script th:inline="javascript">
	// 변수 지정
	let grid, calendar, modal_grid, select_EMPLOYEE_grid;
	changeFlag = false;
	let employee_cd, employee_nm, commute_wt, commute_lt; // 사원선택모달 인풋
	let workinghour_id;
	let calendarStartDate; // 캘린더 시작일
	let calendarEndDate; // 캘린더 종료일
	
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	
	const btn_attendance = $('#btn_attendance');
	const btn_grid_tab = $('#btn_grid_tab');
	const btn_drop = $('#btn_drop'); // 드롭다운
	const div_calendar = document.getElementById('div_calendar');
	const btn_calendar_prev = $('#btn_calendar_prev');
	const btn_calendar_next = $('#btn_calendar_next');
	// 관리자인지 확인(권한 설정 후 달라질 수 있음)
	const isAdmin = /*[[${#authorization.expression('hasAnyRole("SYS_ADMIN", "AT_ADMIN")')}]]*/ false;
	// ------------------------------
	const urlParams = new URLSearchParams(window.location.search);
	const type = urlParams.get("type");
	console.log(type);

	

	
	
	$(function() {
		setGridTheme();
		make_calendar();
		
		// 달력 ----------------------
		// 이전 달 보기 이벤트
		btn_calendar_prev.on('click', function(){ 
			calendar.prev();
			updateCalendarTitle();
			getCalendarList();
		}); 


		// 다음 달 보기 이벤트
		btn_calendar_next.on('click', function(){ 
			calendar.next();
			updateCalendarTitle();
			getCalendarList();
		});
	
		
		// 그리드 ----------------------
		// 그리드탭 클릭
		btn_grid_tab.on('click', function() {
			if(grid == null) {
				make_grid();
				setGridHeight(grid, -430);
			}
			getGridList();
		});

		
		
		// 창크기 -------------------------
		setElementHeight('#div_card', -105);
		setElementHeight('#div_calendar', -320);
		
		$(window).resize(function() {
		    setElementHeight('#div_card', -105);
			setElementHeight('#div_calendar', -320);
			if(grid != null) {
				setGridHeight(grid, -430);
			}
		});

		$(document).on('filterToggled', function(e) {
		    if(e.detail.isVisible) {
		        setGridHeight(grid, -500);
		    } else {
		        setGridHeight(grid, -430);
		    }
		});
		
	});
	

	// ----------- 초기화 -------------

	
	
	
	// 함수 영역 -------------------
	
	// 달력 만들기
	function make_calendar(){ 
		calendar = new tui.Calendar(div_calendar, {
			usageStatistics: false,
			defaultView: 'month',
			isReadOnly: true,
			month: {
				isAlways6Weeks: false, // 해당 달만 표시 (6주 고정 아님)
			},
			theme: {
				common: {
					holiday: {
					    color: 'rgba(255, 64, 64)', // 공휴일 텍스트 색상
					},
					saturday: {
					    color: 'rgba(64, 64, 255)', // 토요일 텍스트 색상
					},
				},
			},
		});
		
		updateCalendarTitle(); // 년월 타이틀
		getCalendarList(); // 출퇴근 목록 조회
		
		calendar.on('clickDayname', function(event) {
		    const clickedDate = event.date; // 클릭된 날짜 정보
		    console.log('클릭된 날짜:', clickedDate);
		});
	    
	    calendar.on('clickEvent', ({ event }) => {
			//if(isAdmin) {
				modal_detail(event);
			//}
		});

	};
	
	// 달력 제목 업데이트
	function updateCalendarTitle() {
	    const currentDate = calendar.getDate();
	    const year = currentDate.getFullYear();
	    const month = currentDate.getMonth() + 1;
	    const formattedDate = `${year}년 ${month}월`;
	    $("#title_calendar").empty().text(formattedDate);
	}
	
	// 달력 데이터 조회
	function getCalendarList() {
		calendarStartDate = getDate(calendar.getDateRangeStart().toDate());
		calendarEndDate = getDate(calendar.getDateRangeEnd().toDate());
		
		$.ajax({
			type: 'post',
			url: '/select_calendar_ANNUAL',
			contentType: 'application/json',
			beforeSend : function(xhr) {
			    xhr.setRequestHeader(header, token);
			},
			data: JSON.stringify({
			    holiday_dt1: calendarStartDate,
			    holiday_dt2: calendarEndDate,
				...(type != null && { type })
			}),
			success: function(data) {
				if(!data['result']) {
					showAlert('', 'error', '휴가 조회 실패', '휴가 조회에 실패하였습니다.<br>다시 접속해주세요.');
				} else {
					// 캘린더 템플릿 업데이트
					calendar.setOptions({
						template: {
							monthGridHeader: function(model) {
								const date = model.date;
								const dayNum = date.split('-')[2];
								const holiday = data.holidayList.find(h => h.HOLIDAY_DT == date);
								const isToday = date == getDate(new Date());
								if(holiday) {
									return `
									<span class="tui-full-calendar-weekday-grid-date ms-1" style="color: #ff4040">
										${dayNum}
										<span class="holiday-name" style="font-size: 12px;">
											${holiday.HOLIDAY_NM}
										</span>
									</span>`;
								}
								if(isToday) {
					                return `<span class="toastui-calendar-weekday-grid-date 
									toastui-calendar-weekday-grid-date-decorator 
									toastui-calendar-template-monthGridHeader" style="color: #fff">${dayNum}</span>`;
					            }
					            return `<span class="tui-full-calendar-weekday-grid-date">${dayNum}</span>`;
							},
							time: function(schedule) {
							    return `<span class="calendar-event" 
							        data-bs-toggle="tooltip" 
							        data-bs-placement="top" 
							        title="${schedule.title}">
							        ${schedule.title}
							    </span>`;
							}
						}
					});
					   
					// calendar.render();
					calendar.clear();
									
					let list = data['data'];
					const event = list.map(annual => {
					    if (isAdmin) {
					        return {
					            id: `${annual.GENERATED_DATE}`,
					            title: `${annual.EMPLOYEE_NM} ${annual.ANNUALTYPE}`,
					            start: annual.GENERATED_DATE,
					            end: annual.GENERATED_DATE,
					            isAllday: true,
					            category: 'allday',
					            backgroundColor: '#fff'
					        };
					    } 
					    return {
				            id: `${annual.GENERATED_DATE}`,
				            title: `${annual.ANNUALTYPE}`,
				            start: annual.GENERATED_DATE,
				            end: annual.GENERATED_DATE,
				            isAllday: true,
				            category: 'allday',
				            backgroundColor: '#fff'
				        };
					});
					console.log(event);
					calendar.createEvents(event);
					console.log(calendar);
				}
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패');
			}
		});
	}
	
	// 그리드 데이터 조회
	function getGridList(filter) {
		const originalDate = new Date(); // 기존 날짜 가져오기
	    const year = originalDate.getFullYear();
		$.ajax({
			type: 'POST',
			url: '/select_APPROVAL_ANNUAL',
			contentType: 'application/json',
			beforeSend : function(xhr) {
			    xhr.setRequestHeader(header, token);
			},
			data: JSON.stringify({
				ANNUAL_YR : year,
				...(type != null && { type })
			}),
			success: function(data) {
				grid.resetData(data['data']);
			},
			error : function(xhr, textStatus, errorThrown) {
				console.log('조회 실패');
			}
		});
	}
	
	function make_grid() {
		grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : [],
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
			],
			bodyHeight : 400,
			columns : [
				{header : '사원코드', name : 'EMPLOYEE_CD', hidden : true},
				{header : '사원명', name : 'EMPLOYEE_NM', sortable : true, filter: 'text', align: 'center'}, 
				{header : '부서명', name : 'EMPLOYEE_DP', sortable : true, filter: 'select', align: 'center'}, 
				{header : '직위명', name : 'EMPLOYEE_GD', sortable : true, filter: 'select', align: 'center'}, 
				{header : '사용연차', name : 'ANNUAL_UA', sortable : true, align: 'center'},
				{header : '잔여연차', name : 'REMAINING_ANNUAL', sortable : true, align: 'center'},
				{header : '총연차', name : 'TOTAL_ANNUAL', sortable : true, filter: 'select', align: 'center'},
			],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	TOTAL_ANNUAL: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
			    }
			},
		});
		
	}

	// 달력 상세 모달
	function modal_detail(data) {
		let date = getDate(data.start);
		let title = `${date}`;

		const div_modal = 'div_COMMUTE_modal';
		let modalElement = document.getElementById('#${div_modal}');
		
		if(!modalElement) {
			let modalHtml = `
			<div class="modal" id="${div_modal}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-xl">
		            <div class="modal-content">
						<div class="modal-header">
		            		<h5 class="modal-title">${title}</h5>
		                	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="modal_grid"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary" id="btn_COMMUTE_show">등록</button>
						</div>
					</div>
				</div>
			</div>
			`;
			
			document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
			
			modalElement = document.getElementById(div_modal); // 새로 추가된 모달 참조
		}
		const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
		

		
        modalElement.addEventListener('shown.bs.modal', function () {
			
        	make_modal_grid(date);
			
        });
		
		modalElement.addEventListener('hidden.bs.modal', function () {
/* 			$('button, input, select, textarea').each(function () {
                $(this).blur();
            }); */
			modalElement.remove();
		});
		
		modal.show();
		
		$(window).resize(function() {
			setGridHeight(modal_grid, -600);
		});
	}
	
	// 달력 상세 모달의 그리드
	function make_modal_grid(date) {
		modal_grid = new tui.Grid({
			el : document.getElementById('modal_grid'),
			data : {api: {readData: {url: '/select_detail_ANNUAL', method: 'GET', initParams: {date: date, ...(type != null && { type })} }}},
			scrollX : false,
			scrollY : true,
			rowHeaders : [
				{type : 'rowNum',}, 
			],
			bodyHeight : 600,
			columns : [
						{header : '갯수', name : 'RECORD_COUNT', hidden : true}, 
						{header : '날짜', name : 'GENERATED_DATE', sortable : true, filter: 'text', align: 'center'}, 
						{header : '사원명', name : 'EMPLOYEE_NM', sortable : true, filter: 'text', align: 'center'}, 
						{header : '부서명', name : 'EMPLOYEE_DP', sortable : true, filter: 'text', align: 'center'}, 
						{header : '직위명', name : 'EMPLOYEE_GD', sortable : true, filter: 'text', align: 'center'}, 
						{header : '휴가종류', name : 'ANNUALTYPE', sortable : true, align: 'center'},
						{header : '사유', name : 'REASONS', sortable : true, filter: 'text'},
			],
			summary: {
			    height: 40,
			    position: 'bottom', // or 'top'
			    columnContent: {
			    	REASONS: {
			            template: (valueMap) => {
			                return `총  ${valueMap.cnt} 건`
			            }
			        }
			    }
			},

		});
		
		
	}
	
	
	function createSelectBox(el, list, title) {
	    const selectBox = $(el);

	    selectBox.empty();
		
		if(title) {
		    selectBox.append('<option value="">부서를 선택하세요</option>');		
		}

	    list.forEach(data => {
	        selectBox.append(`<option value="${data.common_cc}">${data.common_nm}</option>`);
	    });
	}
	
</script>
</html>