<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				layout:decorate="~{layout}" 
				layout:fragment="content">

	<body>
		<main id="main" class="main">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">근태현황</h5>
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
								type="button" role="tab" aria-controls="pills-home" aria-selected="true">달력</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
								type="button" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="grid_function()">그리드</button>
						</li>
					</ul>
					
					<!-- 본문 -->
					<div class="tab-content pt-2" id="myTabContent"> 
						<!-- 달력 -->
						<div class="text-center" id='btn_calendar'>
							<button type='button' class='btn btn-outline-secondary' id='btn_calendar_prev'>이전</button>
							<span></span>
							<button type='button' class='btn btn-outline-secondary' id='btn_calendar_next'>다음</button>
						</div>
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="home-tab" style="height: 600px;">
						</div>
						
						<!-- 그리드 -->
						<div id='btn_grid'>
							<button type='button' class='btn btn-outline-secondary' id='btn_grid_filter' style="display: none;">필터</button>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="profile-tab">
						</div>
					</div>
				</div>
			</div>
			
		</main>
	</body>
	
	<script th:inline="javascript">
		const calendar_container = document.getElementById('pills-home');
		const grid_container = document.getElementById('pills-profile');
		const btn_calendar = document.getElementById('btn_calendar');
		const btn_grid_filter = document.getElementById('btn_grid_filter');
		const btn_calendar_prev = document.getElementById('btn_calendar_prev');
		const btn_calendar_next = document.getElementById('btn_calendar_next');
		const tab = document.getElementById('pills-home-tab');
		
		// 첫 로딩
		window.onload = function(){
			calendar_function();
		}
		
		// 캘린더 버튼 이벤트
		tab.addEventListener('click', function(){
			btn_grid_filter.style.display = "none";
		});

		// 그리드 버튼 누르면 호출 함수
		function grid_function(){ 
			btn_calendar.innerHTML = '';
			grid_container.innerHTML = '';
			btn_grid_filter.style.display = "block";
			
			// 처음 불러오는 데이터
			$.ajax({
				type: "get",
				url: "/select_base_ATTENDANCE",
				success: function(result) {
					grid.resetData(result);
				},
				error : function(result) {
					console.log('조회 실패');
				}
			});
			
			// 필터 클릭할때마다 데이터 바뀌도록
			let grid_data= { 
				api: {
					readData: {url: 'select_base_ATTENDANCE', method:'GET'},
				}
			}
			
			// 그리드 객체 생성 + 초기 세팅
			const grid = new tui.Grid({
				el: grid_container,
				data: grid_data,
				scrollX: false,
				scrollY: true,
				columns: [
					{
						header: '이름', // 출력명
						name: 'NAME' // 칼럼명
					},
					{
						header: '부서명', 
						name: 'DEPT' 
					},
					{
						header: '입사일',
						name: 'HIRE'
					},
					{
						header: '근속연수', 
						name: 'PERIOD'
					},
					{
						header: '사용연차',
						name: 'USE'
					},
					{
						header: '남은연차',
						name: 'AVAILABLE'
					},
					{
						header: '총연차',
						name: 'TOTAL'
					},
					
				],
			});
		} 
		
		// 캘린더 호출 함수
		function calendar_function(){ 
			
			// 캘린더 초기세팅
			let options = {  
				defaultView: 'month',
				useDetailPopup: true,
				isReadOnly: true,
				calendars: [
					{
						id: 'cal1',
						name: '총결원',
						backgroundColor: '#03bd9e',
					},
					{
						id: 'cal2',
						name: '휴가자',
						backgroundColor: '#ffffff',
						borderLeft: '#ffffff',
					},
					{
						id: 'cal3',
						name: '출장',
						backgroundColor: '#ffffff',
					},
				],
		
			};
		
			let calendar = new tui.Calendar(calendar_container, options);
			
			
			// 각 이벤트 만들어주는 메서드
			calendar.createEvents([
				{
					id: 'event1',
					calendarId: 'cal1',
					title: '10/1',
					start: '2025-01-01',
					end: '2025-01-01',
					isAllday: true,  // allday 타임스탬프 노상관
					category: 'allday',
				}, 
				{
					id: 'event2',
					calendarId: 'cal2',
					title: '김길동',
					start: '2025-01-01T09:36:50',
					end: '2025-01-01T09:36:37',
					isAllday: true,
					category: 'allday',
				},
				{
					id: 'event3',
					calendarId: 'cal3',
					title: '홍길동',
					start: '2025-01-01T09:36:50',
					end: '2025-01-01T09:36:37',
					isAllday: true,
					category: 'allday',
				},
			]);
			
			
			calendar.setOptions({
				
				// 해당 달만 보여주기
				month: {
					isAlways6Weeks: false, 
				},
				
			});
			
			calendar.setTheme({
				
				// 주말 css
				month: {
						weekend: {
							backgroundColor: 'rgba(255, 64, 64, 0.1)',
						},
				},
			});
			
			
			// Date 객체 문자열 형식으로 변환
			const originalDate = calendar.getDate(); 
			const year = originalDate.getFullYear();
			const month = originalDate.getMonth() + 1;
			const formattedDate = `${year}년 ${month}월`;
			$("#btn_calendar span").text(formattedDate);
			
			
			// 이전 달 보기 이벤트
			btn_calendar_prev.addEventListener('click', function(){ 
				
				calendar.prev();
				
				const originalDate = calendar.getDate(); 
				const year = originalDate.getFullYear();
				const month = originalDate.getMonth() + 1;
				const formattedDate = `${year}년 ${month}월`;
				$("#btn_calendar span").text(formattedDate);
			
			});
			
			
			// 다음 달 보기 이벤트
			btn_calendar_next.addEventListener('click', function(){ 
				
				calendar.next();

				const originalDate = calendar.getDate(); 
				const year = originalDate.getFullYear();
				const month = originalDate.getMonth() + 1;
				const formattedDate = `${year}년 ${month}월`;
				$("#btn_calendar span").text(formattedDate);
				
				
			});
	
		};
		
		
	</script>
</html>