<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.HolidayMapper">
    
    <select id="select_period_HOLIDAY" resultType="map">
	    SELECT *
	    FROM HOLIDAY
	    <where> 1=1
	            AND #{holiday_dt1} &lt;= holiday_dt AND holiday_dt &lt;= #{holiday_dt2}
	    </where>
	</select>
	
 	<!-- 공휴일 삽입 -->
    <insert id="insert_HOLIDAY">
	 	INSERT INTO HOLIDAY (
					          HOLIDAY_DT, 
					          HOLIDAY_NM, 
					          HOLIDAY_WA, 
					          HOLIDAY_AA, 
					          HOLIDAY_MA, 
					          HOLIDAY_WR, 
					          HOLIDAY_WD, 
					          HOLIDAY_MF, 
					          HOLIDAY_MD
							)
							 SELECT 
								    #{holiday_dt}, 
								    #{holiday_nm}, 
								    CASE 
									    WHEN TO_CHAR(TO_DATE(#{holiday_dt}, 'YYYY-MM-DD'), 'D') IN ('1', '7') THEN '1'
								  	    ELSE '0'
								 	    END, 
								    'true', 
								    'false', 
								    #{holiday_wr}, 
								    #{holiday_wd}, 
								    NULL, 
								    NULL
							   FROM DUAL
    </insert>
    
    <insert id="insert_company_HOLIDAY">
	 	INSERT INTO HOLIDAY (
							   HOLIDAY_DT, 
							   HOLIDAY_NM, 
							   HOLIDAY_WA, 
							   HOLIDAY_AA, 
							   HOLIDAY_MA, 
							   HOLIDAY_WR, 
							   HOLIDAY_WD, 
							   HOLIDAY_MF, 
							   HOLIDAY_MD
							)
	    SELECT 
		       #{holiday_dt}, 
		       #{holiday_nm}, 
		       CASE 
		            WHEN TO_CHAR(TO_DATE(#{holiday_dt}, 'YYYY-MM-DD'), 'D') IN ('1', '7') THEN '1'
		            ELSE '0'
		       END, 
		       #{holiday_aa}, 
		       #{holiday_ma}, 
		       #{holiday_wr}, 
		       #{holiday_wd}, 
		       NULL, 
		       NULL
	      FROM DUAL
    </insert>
    
    <update id="update_company_HOLIDAY">
	    UPDATE HOLIDAY
	       SET HOLIDAY_NM = #{holiday_nm},
			   HOLIDAY_WR = #{holiday_wr},
			   HOLIDAY_WD = #{holiday_wd}
	     WHERE HOLIDAY_DT = #{holiday_dt}
	</update>
	
	<select id="isHoliday" resultType="boolean">
		SELECT CASE WHEN COUNT(CASE WHEN HOLIDAY_AA = 'O' THEN 1 END) > 0 
        THEN 1  ELSE 0 END isHoliday
		FROM HOLIDAY 
		WHERE HOLIDAY_DT = #{date}
	</select>
    
</mapper>