<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.BomMapper">

<select id="selectPD" resultType="map">
	SELECT DISTINCT 
		pd.PRODUCT_CD,
		pd.PRODUCT_NM,
		pd.PRODUCT_GC,
		pd.PRODUCT_CC,
		pd.PRODUCT_UN,
		pd.PRODUCT_RM 
	FROM PRODUCT pd
	WHERE pd.PRODUCT_GC = 'PRODUCT'
<!-- 	여기 product를 서버에서 가져와야하는데 sql로 한번에 가져오는게 빠른지, 따로 가져와서 다시 이렇게 가져오는게 빠른지,,, 고민하고 바ㅏ꿔야해. -->
</select>

<select id="checkpcd" resultType="String">
	SELECT DISTINCT 
		bp.PRODUCT_CD 
	FROM BOMPROCESS bp
	WHERE bp.PRODUCT_CD = #{pcd}
</select>

<select id="selectPCs" resultType="map">
	SELECT DISTINCT 
		pc.PROCESS_CD,
		pc.PROCESS_NM,
		pc.PROCESS_GC AS PRODUCT_GC,
		pc.PROCESS_CC AS PRODUCT_CC,
		pd.PRODUCT_CD AS BOMPROCESS_CD,
		pd.PRODUCT_NM,
		pd.PRODUCT_UN 
	FROM PROCESS pc
	JOIN PRODUCT pd ON INSTR(','|| pc.PROCESS_PD || ',', ','|| pd.PRODUCT_CD || ',' ) > 0  
	ORDER BY pc.PROCESS_CD
</select>

</mapper>