<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.CommuteMapper">
	<select id="select_WORKINGHOUR" resultType="Workinghour">
		SELECT WH.WORKINGHOUR_ID, WH.WORKINGHOUR_NM, WH.WORKINGHOUR_US, WH.WORKINGHOUR_RM,
		    '( ' ||COUNT(EM.EMPLOYEE_CD) || ' / ' || 
		    (SELECT COUNT(*) FROM EMPLOYEE WHERE EMPLOYEE_US = 1) || ' )' EMPLOYEE_CNT
		FROM WORKINGHOUR WH
		LEFT JOIN EMPLOYEE EM ON WH.WORKINGHOUR_ID = EM.WORKINGHOUR_ID AND EM.EMPLOYEE_US = 1
		GROUP BY WH.WORKINGHOUR_ID, WH.WORKINGHOUR_NM, WH.WORKINGHOUR_US, WH.WORKINGHOUR_RM
	</select>

	<!-- // 사원추가 모달 - 선택안된 직원 조회 -->
	<select id="select_EMPLOYEE_WORKINGHOUR" resultType="Workinghour">
		SELECT EM.EMPLOYEE_CD, EM.EMPLOYEE_NM, CC.COMMON_NM EMPLOYEE_DP, CC2.COMMON_NM EMPLOYEE_GD, EM.WORKINGHOUR_ID
		FROM EMPLOYEE EM
		LEFT OUTER JOIN WORKINGHOUR WH ON WH.WORKINGHOUR_ID = EM.WORKINGHOUR_ID
		LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'DEPARTMENT' AND CC.COMMON_CC = EM.EMPLOYEE_DP
		LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'POSITION' AND CC2.COMMON_CC = EM.EMPLOYEE_GD
	    WHERE EM.EMPLOYEE_RD IS NULL
	    AND
	    <choose>
	        <when test="workinghour_id == null or workinghour_id == ''">
	            EM.WORKINGHOUR_ID IS NULL
	        </when>
	        <otherwise>
	            EM.WORKINGHOUR_ID = #{workinghour_id}
	        </otherwise>
	    </choose>
	    ORDER BY EM.EMPLOYEE_NM
	</select>
	
	<update id="update_EMPLOYEE_WK">
		UPDATE EMPLOYEE SET 
			WORKINGHOUR_ID = #{workinghour.workinghour_id, jdbcType=VARCHAR}
		WHERE EMPLOYEE_CD = #{workinghour.employee_cd}
	</update>
	
	<!-- 출퇴근 그리드탭 조회 -->
	<select id="select_COMMUTE_grid" resultType="Commute">
		SELECT CM.COMMUTE_WD, CM.COMMUTE_LD, CM.EMPLOYEE_CD, EM.EMPLOYEE_NM, CC.COMMON_NM EMPLOYEE_DP,
			   CC2.COMMON_NM EMPLOYEE_GD, CM.COMMUTE_WT, CM.COMMUTE_LT, CM.WORKINGHOUR_ID,
			   (SELECT CC.COMMON_NM FROM COMMON_CODE CC 
			     WHERE CC.COMMON_GC = 'ATDC' AND CC.COMMON_CC = 
			      CASE WHEN CM.COMMUTE_WT > WH.WORKINGHOUR_WT THEN 'LATE'
			           ELSE 'NORMAL' END) AS COMMUTE_ST
		FROM COMMUTE CM
		LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = CM.EMPLOYEE_CD
		LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'DEPARTMENT' AND CC.COMMON_CC = EM.EMPLOYEE_DP
		LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'POSITION' AND CC2.COMMON_CC = EM.EMPLOYEE_GD
		LEFT OUTER JOIN WORKINGHOUR WH ON WH.WORKINGHOUR_ID = EM.WORKINGHOUR_ID
		WHERE 1 = 1
		<if test="isAdmin == false">AND CM.EMPLOYEE_CD = #{employee_cd}</if>
		ORDER BY CM.COMMUTE_WD DESC
	</select>
	
	<!-- 출퇴근 상세 조회 -->
	<select id="select_COMMUTE_detail" resultType="Commute">
		SELECT CM.COMMUTE_WD, CM.COMMUTE_LD, CM.EMPLOYEE_CD, EM.EMPLOYEE_NM, CC.COMMON_NM EMPLOYEE_DP,
			   CC2.COMMON_NM EMPLOYEE_GD, CM.COMMUTE_WT, CM.COMMUTE_LT, CM.WORKINGHOUR_ID,
			   (SELECT CC.COMMON_NM FROM COMMON_CODE CC 
			     WHERE CC.COMMON_GC = 'ATDC' AND CC.COMMON_CC = 
			      CASE WHEN CM.COMMUTE_WT > WH.WORKINGHOUR_WT THEN 'LATE'
			           ELSE 'NORMAL' END) AS COMMUTE_ST
		FROM COMMUTE CM
		LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = CM.EMPLOYEE_CD
		LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'DEPARTMENT' AND CC.COMMON_CC = EM.EMPLOYEE_DP
		LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'POSITION' AND CC2.COMMON_CC = EM.EMPLOYEE_GD
		LEFT OUTER JOIN WORKINGHOUR WH ON WH.WORKINGHOUR_ID = EM.WORKINGHOUR_ID
		WHERE 1 = 1
		<if test="isAdmin == false">AND CM.EMPLOYEE_CD = #{employee_cd}</if>
		<if test="!commute_wd.equals('')">AND CM.COMMUTE_WD = #{commute_wd}</if>
		ORDER BY CM.COMMUTE_WD
	</select>
	
	<!-- 미출근 사원 조회 -->
	<select id="select_EMPLOYEE_grid" resultType="Commute">
		SELECT EM.EMPLOYEE_CD, EM.EMPLOYEE_NM, CC.COMMON_NM EMPLOYEE_DP, CC2.COMMON_NM EMPLOYEE_GD, EM.WORKINGHOUR_ID
		FROM EMPLOYEE EM
		LEFT OUTER JOIN COMMUTE CM ON CM.EMPLOYEE_CD = EM.EMPLOYEE_CD AND CM.COMMUTE_WD = #{commute_wd}
		LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'DEPARTMENT' AND CC.COMMON_CC = EM.EMPLOYEE_DP
		LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'POSITION' AND CC2.COMMON_CC = EM.EMPLOYEE_GD
		WHERE CM.EMPLOYEE_CD IS NULL
		AND EM.WORKINGHOUR_ID IS NOT NULL
	</select>
	
	<select id="select_COMMUTE_calendar" resultType="Commute">
		SELECT
			<choose>
				<when test="isAdmin == false">COMMUTE_WD, COMMUTE_WT, COMMUTE_LT </when>
				<otherwise>COMMUTE_WD, COUNT(*) total</otherwise>
			</choose>
		FROM COMMUTE CM
		WHERE COMMUTE_WD BETWEEN #{startDate} AND #{endDate}
	    <if test="isAdmin == false">AND EMPLOYEE_CD = #{employee_cd}</if>
		<if test="isAdmin == true">GROUP BY COMMUTE_WD</if>
	</select>	
	
	
	
	
	
	
</mapper>
