<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.DashboardMapper">
    
    <select id="select_total_EMPLOYEE" resultType="map">
		 SELECT e.*, a.*, c.*, w.WORKINGHOUR_WT, w.WORKINGHOUR_LT 
		   FROM EMPLOYEE e
	LEFT OUTER JOIN ANNUAL a 
	        ON e.EMPLOYEE_CD = a.EMPLOYEE_CD 
	       AND ANNUAL_YR = TO_CHAR(SYSDATE, 'YYYY')
		  LEFT JOIN COMMON_CODE c 
		    ON e.EMPLOYEE_DP = c.COMMON_CC 
		   AND c.COMMON_GC = 'DEPARTMENT'
		  LEFT JOIN WORKINGHOUR w 
		    ON e.WORKINGHOUR_ID = w.WORKINGHOUR_ID
		 WHERE e.EMPLOYEE_CD = #{currentCd}
			   
	</select>
	
    
</mapper>
