<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.InoutMapper">
	<select id="select_INOUT_list" resultType="Inout">
SELECT IO.INOUT_DT, IO.INOUT_IW, WH.WAREHOUSE_NM INOUT_IWNM, IO.INOUT_IA, WA.WAREAREA_NM INOUT_IANM,
	   IO.INOUT_OW, WH2.WAREHOUSE_NM INOUT_OWNM, IO.INOUT_OA, WA2.WAREAREA_NM INOUT_OANM,
	   IO.INOUT_CO, IO.INOUT_TP, CC.COMMON_NM INOUT_TPNM, IO.INOUT_IO, CC2.COMMON_NM INOUT_IONM,
	   IO.ITEM_CD, MT.MATERIAL_NM ITEM_NM, MT.MATERIAL_GC ITEM_GC, CC3.COMMON_NM ITEM_GN, MT.MATERIAL_CC ITEM_CC, 
	   CC4.COMMON_NM ITEM_CN, IO.INOUT_NN, OD.MATERIAL_UN ITEM_UN, EM.EMPLOYEE_CD, EM.EMPLOYEE_NM
FROM INOUT IO
LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = IO.INOUT_IW
LEFT OUTER JOIN WAREAREA WA ON WA.WAREHOUSE_CD = IO.INOUT_IW AND WA.WAREAREA_CD = IO.INOUT_IA
LEFT OUTER JOIN WAREHOUSE WH2 ON WH2.WAREHOUSE_CD = IO.INOUT_OW
LEFT OUTER JOIN WAREAREA WA2 ON WA2.WAREHOUSE_CD = IO.INOUT_OW AND WA2.WAREAREA_CD = IO.INOUT_OA
LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'COTYPE' AND CC.COMMON_CC = IO.INOUT_TP
LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'IOTYPE' AND CC2.COMMON_CC = IO.INOUT_IO
LEFT OUTER JOIN MATERIAL MT ON MT.MATERIAL_CD = IO.ITEM_CD
LEFT OUTER JOIN COMMON_CODE CC3 ON CC3.COMMON_GC = 'PRDTYPE' AND CC3.COMMON_CC = MT.MATERIAL_GC
LEFT OUTER JOIN COMMON_CODE CC4 ON CC4.COMMON_GC = MT.MATERIAL_GC AND CC4.COMMON_CC = MT.MATERIAL_CC
LEFT OUTER JOIN ORDERDETAIL OD ON OD.ORDER_CD = IO.INOUT_CO AND OD.MATERIAL_CD = IO.ITEM_CD 
LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = IO.EMPLOYEE_CD
WHERE IO.INOUT_TP = 'O'
UNION ALL 
SELECT IO.INOUT_DT, IO.INOUT_IW, WH.WAREHOUSE_NM INOUT_IWNM, IO.INOUT_IA, WA.WAREAREA_NM INOUT_IANM,
	   IO.INOUT_OW, WH2.WAREHOUSE_NM INOUT_OWNM, IO.INOUT_OA, WA2.WAREAREA_NM INOUT_OANM,
	   IO.INOUT_CO, IO.INOUT_TP, CC.COMMON_NM INOUT_TPNM, IO.INOUT_IO, CC2.COMMON_NM INOUT_IONM,
	   IO.ITEM_CD, PD.PRODUCT_NM ITEM_NM, PD.PRODUCT_GC ITEM_GC, CC3.COMMON_NM ITEM_GN, PD.PRODUCT_CC ITEM_CC,
	   CC4.COMMON_NM ITEM_CN, IO.INOUT_NN, NULL, EM.EMPLOYEE_CD, EM.EMPLOYEE_NM
FROM INOUT IO
LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = IO.INOUT_IW
LEFT OUTER JOIN WAREAREA WA ON WA.WAREHOUSE_CD = IO.INOUT_IW AND WA.WAREAREA_CD = IO.INOUT_IA
LEFT OUTER JOIN WAREHOUSE WH2 ON WH2.WAREHOUSE_CD = IO.INOUT_OW
LEFT OUTER JOIN WAREAREA WA2 ON WA2.WAREHOUSE_CD = IO.INOUT_OW AND WA2.WAREAREA_CD = IO.INOUT_OA
LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'COTYPE' AND CC.COMMON_CC = IO.INOUT_TP
LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'IOTYPE' AND CC2.COMMON_CC = IO.INOUT_IO
LEFT OUTER JOIN (
	SELECT PRODUCT_CD, PRODUCT_NM, PRODUCT_GC, PRODUCT_CC
	FROM PRODUCT
	GROUP BY PRODUCT_CD, PRODUCT_NM, PRODUCT_GC, PRODUCT_CC
) PD ON PD.PRODUCT_CD = IO.ITEM_CD
LEFT OUTER JOIN COMMON_CODE CC3 ON CC3.COMMON_GC = 'PRDTYPE' AND CC3.COMMON_CC = PD.PRODUCT_GC
LEFT OUTER JOIN COMMON_CODE CC4 ON CC4.COMMON_GC = PD.PRODUCT_GC AND CC4.COMMON_CC = PD.PRODUCT_CC
LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = IO.EMPLOYEE_CD
WHERE IO.INOUT_TP = 'C'

	</select>
	
	
	
	<!-- 발주건 조회 -->
	<select id="select_INOUT_ORDER">
		SELECT OD.ORDER_CD INOUT_CO, OD.ACCOUNT_CD, AC.ACCOUNT_NM, 
			   OD.ORDER_SD INOUT_DT, OD.ORDER_PS EMPLOYEE_NM, OD.EMPLOYEE_CD 
		  FROM ORDERS OD
		  LEFT OUTER JOIN ACCOUNT AC ON AC.ACCOUNT_CD = OD.ACCOUNT_CD
		 WHERE OD.ORDER_ST = '진행중'
	</select>
	
	<!-- 발주품목 조회 -->
	<select id="select_INOUT_ORDERDETAIL">
		SELECT  OD.MATERIAL_CD ITEM_CD, MT.MATERIAL_NM ITEM_NM, OD.MATERIAL_UN ITEM_UN, OD.MATERIAL_AM INOUT_NN
	      FROM ORDERDETAIL OD
	      LEFT OUTER JOIN MATERIAL MT ON MT.MATERIAL_CD = OD.MATERIAL_CD
	    WHERE OD.ORDER_CD = 'OD25-0008'
	</select>
	
	
</mapper>
