<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.InoutMapper">
<!-- 	<select id="select_INOUT_list" resultType="Inout"> -->
<!-- SELECT IO.INOUT_DT, IO.INOUT_IW, WH.WAREHOUSE_NM INOUT_IWNM, IO.INOUT_IA, WA.WAREAREA_NM INOUT_IANM, -->
<!-- 	   IO.INOUT_OW, WH2.WAREHOUSE_NM INOUT_OWNM, IO.INOUT_OA, WA2.WAREAREA_NM INOUT_OANM, -->
<!-- 	   IO.INOUT_CO, IO.INOUT_TP, CC.COMMON_NM INOUT_TPNM, IO.INOUT_IO, CC2.COMMON_NM INOUT_IONM, -->
<!-- 	   IO.ITEM_CD, MT.MATERIAL_NM ITEM_NM, MT.MATERIAL_GC ITEM_GC, CC3.COMMON_NM ITEM_GN, MT.MATERIAL_CC ITEM_CC,  -->
<!-- 	   CC4.COMMON_NM ITEM_CN, IO.INOUT_NN, OD.MATERIAL_UN ITEM_UN, EM.EMPLOYEE_CD, EM.EMPLOYEE_NM -->
<!-- FROM INOUT IO -->
<!-- LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = IO.INOUT_IW -->
<!-- LEFT OUTER JOIN WAREAREA WA ON WA.WAREHOUSE_CD = IO.INOUT_IW AND WA.WAREAREA_CD = IO.INOUT_IA -->
<!-- LEFT OUTER JOIN WAREHOUSE WH2 ON WH2.WAREHOUSE_CD = IO.INOUT_OW -->
<!-- LEFT OUTER JOIN WAREAREA WA2 ON WA2.WAREHOUSE_CD = IO.INOUT_OW AND WA2.WAREAREA_CD = IO.INOUT_OA -->
<!-- LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'COTYPE' AND CC.COMMON_CC = IO.INOUT_TP -->
<!-- LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'IOTYPE' AND CC2.COMMON_CC = IO.INOUT_IO -->
<!-- LEFT OUTER JOIN MATERIAL MT ON MT.MATERIAL_CD = IO.ITEM_CD -->
<!-- LEFT OUTER JOIN COMMON_CODE CC3 ON CC3.COMMON_GC = 'PRDTYPE' AND CC3.COMMON_CC = MT.MATERIAL_GC -->
<!-- LEFT OUTER JOIN COMMON_CODE CC4 ON CC4.COMMON_GC = MT.MATERIAL_GC AND CC4.COMMON_CC = MT.MATERIAL_CC -->
<!-- LEFT OUTER JOIN ORDERDETAIL OD ON OD.ORDER_CD = IO.INOUT_CO AND OD.MATERIAL_CD = IO.ITEM_CD  -->
<!-- LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = IO.EMPLOYEE_CD -->
<!-- WHERE IO.INOUT_TP = 'O' -->
<!-- UNION ALL  -->
<!-- SELECT IO.INOUT_DT, IO.INOUT_IW, WH.WAREHOUSE_NM INOUT_IWNM, IO.INOUT_IA, WA.WAREAREA_NM INOUT_IANM, -->
<!-- 	   IO.INOUT_OW, WH2.WAREHOUSE_NM INOUT_OWNM, IO.INOUT_OA, WA2.WAREAREA_NM INOUT_OANM, -->
<!-- 	   IO.INOUT_CO, IO.INOUT_TP, CC.COMMON_NM INOUT_TPNM, IO.INOUT_IO, CC2.COMMON_NM INOUT_IONM, -->
<!-- 	   IO.ITEM_CD, PD.PRODUCT_NM ITEM_NM, PD.PRODUCT_GC ITEM_GC, CC3.COMMON_NM ITEM_GN, PD.PRODUCT_CC ITEM_CC, -->
<!-- 	   CC4.COMMON_NM ITEM_CN, IO.INOUT_NN, NULL, EM.EMPLOYEE_CD, EM.EMPLOYEE_NM -->
<!-- FROM INOUT IO -->
<!-- LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = IO.INOUT_IW -->
<!-- LEFT OUTER JOIN WAREAREA WA ON WA.WAREHOUSE_CD = IO.INOUT_IW AND WA.WAREAREA_CD = IO.INOUT_IA -->
<!-- LEFT OUTER JOIN WAREHOUSE WH2 ON WH2.WAREHOUSE_CD = IO.INOUT_OW -->
<!-- LEFT OUTER JOIN WAREAREA WA2 ON WA2.WAREHOUSE_CD = IO.INOUT_OW AND WA2.WAREAREA_CD = IO.INOUT_OA -->
<!-- LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'COTYPE' AND CC.COMMON_CC = IO.INOUT_TP -->
<!-- LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'IOTYPE' AND CC2.COMMON_CC = IO.INOUT_IO -->
<!-- LEFT OUTER JOIN ( -->
<!-- 	SELECT PRODUCT_CD, PRODUCT_NM, PRODUCT_GC, PRODUCT_CC -->
<!-- 	FROM PRODUCT -->
<!-- 	GROUP BY PRODUCT_CD, PRODUCT_NM, PRODUCT_GC, PRODUCT_CC -->
<!-- ) PD ON PD.PRODUCT_CD = IO.ITEM_CD -->
<!-- LEFT OUTER JOIN COMMON_CODE CC3 ON CC3.COMMON_GC = 'PRDTYPE' AND CC3.COMMON_CC = PD.PRODUCT_GC -->
<!-- LEFT OUTER JOIN COMMON_CODE CC4 ON CC4.COMMON_GC = PD.PRODUCT_GC AND CC4.COMMON_CC = PD.PRODUCT_CC -->
<!-- LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = IO.EMPLOYEE_CD -->
<!-- WHERE IO.INOUT_TP = 'C' -->

<!-- 	</select> -->

	<!-- 입출고조회 -->
	<select id="select_INOUT_list" resultType="Inout">
		WITH COMMON_INOUT AS (
			SELECT IO.INOUT_DT, IO.INOUT_WH, WH.WAREHOUSE_NM INOUT_WHNM, IO.INOUT_WA, WA.WAREAREA_NM INOUT_WANM, IO.ITEM_CD,
					IO.INOUT_IO, CC.COMMON_NM INOUT_IONM, IO.INOUT_CO, IO.INOUT_TP, CC2.COMMON_NM INOUT_TPNM,
					IO.LOT_CD, IO.PROCESS_CD, PC.PROCESS_NM, IO.INOUT_NN, IO.INOUT_FN, IO.EMPLOYEE_CD, EM.EMPLOYEE_NM
			  FROM INOUT IO
			  LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = IO.INOUT_WH
			  LEFT OUTER JOIN WAREAREA WA ON WA.WAREHOUSE_CD = IO.INOUT_WH AND WA.WAREAREA_CD = IO.INOUT_WA
			  LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'IOTYPE' AND CC.COMMON_CC = IO.INOUT_IO 
			  LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = 'COTYPE' AND CC2.COMMON_CC = IO.INOUT_TP
			  LEFT OUTER JOIN PROCESS PC ON PC.PROCESS_CD = IO.PROCESS_CD
		      LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = IO.EMPLOYEE_CD
		),
		FULL_INOUT AS (
			SELECT CI.*, MT.MATERIAL_GC ITEM_GC, CC.COMMON_NM ITEM_GN, MT.MATERIAL_CC ITEM_CC, 
				   CC2.COMMON_NM ITEM_CN, MT.MATERIAL_NM ITEM_NM, MT.MATERIAL_UN ITEM_UN
			  FROM COMMON_INOUT CI
			  LEFT OUTER JOIN MATERIAL MT ON MT.MATERIAL_CD = CI.ITEM_CD 
			  LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'PRDTYPE' AND CC.COMMON_CC = MT.MATERIAL_GC
			  LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = MT.MATERIAL_GC AND CC2.COMMON_CC =MATERIAL_CC
			 WHERE MT.MATERIAL_GC IS NOT NULL
			 UNION ALL 
			SELECT CI.*, PD.PRODUCT_GC ITEM_GC, CC.COMMON_NM ITEM_GN, PD.PRODUCT_CC ITEM_CC, 
				   CC2.COMMON_NM ITEM_CN, PD.PRODUCT_NM ITEM_NM, PD.PRODUCT_UN ITEM_UN
			  FROM COMMON_INOUT CI
			  LEFT OUTER JOIN PRODUCT PD ON PD.PRODUCT_FD = CI.ITEM_CD 
			  LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'PRDTYPE' AND CC.COMMON_CC = PD.PRODUCT_GC
			  LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = PD.PRODUCT_GC AND CC2.COMMON_CC = PD.PRODUCT_CC
			 WHERE PD.PRODUCT_GC IS NOT NULL
		)
		SELECT FI.INOUT_DT, FI.INOUT_WH, FI.INOUT_WHNM, FI.INOUT_WA, FI.INOUT_WANM, FI.ITEM_CD, FI.ITEM_NM,
			   FI.INOUT_IO, FI.INOUT_IONM, FI.INOUT_CO, FI.INOUT_TP, FI.INOUT_TPNM, FI.LOT_CD, FI.PROCESS_CD,
			   FI.PROCESS_NM, FI.INOUT_NN, FI.INOUT_FN, FI.EMPLOYEE_CD, FI.EMPLOYEE_NM,
			   FI.ITEM_GC, FI.ITEM_GN, FI.ITEM_CC, FI.ITEM_CN, FI.ITEM_UN
		FROM FULL_INOUT FI
	</select>
	
	
	<!-- 발주건 조회 -->
	<select id="select_INOUT_ORDER">
		SELECT OD.ORDER_CD INOUT_CO, OD.ACCOUNT_CD, AC.ACCOUNT_NM, 
			   OD.ORDER_SD INOUT_DT, OD.ORDER_PS EMPLOYEE_NM, OD.EMPLOYEE_CD 
		  FROM ORDERS OD
		  LEFT OUTER JOIN ACCOUNT AC ON AC.ACCOUNT_CD = OD.ACCOUNT_CD
		 WHERE OD.ORDER_ST = '진행중'
	</select>
	
	<!-- 발주품목 조회 -->
	<select id="select_INOUT_ORDERDETAIL">
		SELECT MT.MATERIAL_GC ITEM_GC, CC.COMMON_NM ITEM_GN, MT.MATERIAL_CC ITEM_CC,CC2.COMMON_NM ITEM_CN, 
			   OD.MATERIAL_CD ITEM_CD, MT.MATERIAL_NM ITEM_NM, OD.MATERIAL_UN ITEM_UN, OD.MATERIAL_AM INOUT_NN
	      FROM ORDERDETAIL OD
	      LEFT OUTER JOIN MATERIAL MT ON MT.MATERIAL_CD = OD.MATERIAL_CD
	      LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'PRDTYPE' AND CC.COMMON_CC = MT.MATERIAL_GC
  		  LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = MT.MATERIAL_GC AND CC2.COMMON_CC = MT.MATERIAL_CC 
	    WHERE OD.ORDER_CD = #{order}
	      AND OD.ORDER_ED IS NULL
	</select>
	
	<!-- 수주건 조회 -->
	<select id="select_INOUT_CONTRACT">
		SELECT CT.CONTRACT_CD INOUT_CO, CT.ACCOUNT_CD, AC.ACCOUNT_NM,
			   CT.CONTRACT_SD INOUT_DT, CT.CONTRACT_PS EMPLOYEE_NM, CT.EMPLOYEE_CD
		  FROM CONTRACT CT
		  LEFT OUTER JOIN ACCOUNT AC ON AC.ACCOUNT_CD = CT.ACCOUNT_CD
		 <!-- WHERE CT.CONTRACT_ST = '진행중' -->
	</select>
	
	<!-- 수주건 로트조회 -->
	<select id="select_INOUT_LOT">
		WITH BOM_PRODUCT AS (
			SELECT PRODUCT_CD, PRODUCT_NM
			FROM PRODUCT PD
			GROUP BY PRODUCT_CD, PRODUCT_NM
		)
		SELECT LT.LOT_CD, LT.PROCESS_CD, PC.PROCESS_NM, LT.CONTRACT_CD INOUT_CD, PP.PRODUCTPLAN_DD EMPLOYEE_CD, 
			   EM.EMPLOYEE_NM, BP.BOMPROCESS_CD PRODUCT_CD, PD2.PRODUCT_NM, LT.PRODUCT_SZ ITEM_SZ, LT.PRODUCT_CR ITEM_CR,
			   LT.PRODUCT_CD || '-' || LT.PRODUCT_SZ || '-' || LT.PRODUCT_CR AS ITEM_CD,
			   PD.PRODUCT_NM || '-' || PD.PRODUCT_SZ || '-' || CC.COMMON_NM AS ITEM_NM
		  FROM LOT LT
		  LEFT OUTER JOIN PRODUCT PD ON PD.PRODUCT_CD = LT.PRODUCT_CD AND PD.PRODUCT_SZ = LT.PRODUCT_SZ AND PD.PRODUCT_CR = LT.PRODUCT_CR
		  LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'COLOR' AND CC.COMMON_CC = PD.PRODUCT_CR
		  LEFT OUTER JOIN PRODUCTPLAN PP ON PP.CONTRACT_CD = LT.CONTRACT_CD
		  LEFT OUTER JOIN PROCESS PC ON PC.PROCESS_CD = LT.PROCESS_CD
		  LEFT OUTER JOIN PRODUCTPLANPROCESS PS ON PS.CONTRACT_CD = LT.CONTRACT_CD AND PS.PROCESS_CD = LT.PROCESS_CD
		  LEFT OUTER JOIN EMPLOYEE EM ON EM.EMPLOYEE_CD = PP.PRODUCTPLAN_DD
		  LEFT OUTER JOIN BOMPROCESS BP ON BP.PRODUCT_CD = LT.PRODUCT_CD AND BP.PROCESS_CD = LT.PROCESS_CD
		  LEFT OUTER JOIN BOM_PRODUCT PD2 ON PD2.PRODUCT_CD = BP.BOMPROCESS_CD AND LT.PROCESS_CD = BP.PROCESS_CD
		 WHERE LT.CONTRACT_CD = #{contract}
		 ORDER BY LT.LOT_CD, PS.PROCESS_SE
	</select>
	
	<!-- 수주품목 조회 -->
	<select id="select_INOUT_CONTRACTDETAIL">
		WITH BOM_PRODUCT AS (
		    SELECT PD.PRODUCT_GC ITEM_GC, CC.COMMON_NM ITEM_GN, PD.PRODUCT_CC ITEM_CC, CC2.COMMON_NM ITEM_CN, 
		    	   PD.PRODUCT_CD, PD.PRODUCT_NM PRODUCT_NM, DP.DAILYPRODUCTPLAN_JS INOUT_NN, PD.PRODUCT_UN ITEM_UN
		      FROM PRODUCT PD
		      LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'PRDTYPE' AND CC.COMMON_CC = PD.PRODUCT_GC
 		  	  LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = PD.PRODUCT_GC AND CC2.COMMON_CC = PD.PRODUCT_CC 
		      LEFT OUTER JOIN DAILYPRODUCTPLAN DP ON DP.CONTRACT_CD = #{contractCd}
			   AND DP.PRODUCT_CD = #{itemfullCd} AND DP.PROCESS_CD = #{processCd}
	  		 GROUP BY PD.PRODUCT_GC, CC.COMMON_NM, PD.PRODUCT_CC, CC2.COMMON_NM, 
    	   	 	   PD.PRODUCT_CD, PD.PRODUCT_NM, DP.DAILYPRODUCTPLAN_JS, PD.PRODUCT_UN
		),
		PRODUCT_LIST AS (
		SELECT PD.ITEM_GC, PD.ITEM_GN, PD.ITEM_CC, PD.ITEM_CN, 
			   BM.PRODUCT_CD || '-' || #{itemSz} || '-' || #{itemCr} PRODUCT_CD, PD.PRODUCT_NM, PD.INOUT_NN, PD.ITEM_UN
		  FROM BOM BM 
		  LEFT OUTER JOIN BOM_PRODUCT PD ON PD.PRODUCT_CD = BM.PRODUCT_CD
		 WHERE BM.BOMPRODUCT_CD = #{itemCd}
		   AND BM.PRODUCT_CD = #{productCd}
		 GROUP BY PD.ITEM_GC, PD.ITEM_GN, PD.ITEM_CC, PD.ITEM_CN, BM.PRODUCT_CD, PD.PRODUCT_NM, PD.INOUT_NN, PD.ITEM_UN
		 UNION ALL 
		SELECT PD.ITEM_GC, PD.ITEM_GN, PD.ITEM_CC, PD.ITEM_CN, 
			   BM.BOM_CD || '-' || #{itemSz} || '-' || #{itemCr} PRODUCT_CD, PD.PRODUCT_NM, BM.BOM_AM * INOUT_NN INOUT_NN, PD.ITEM_UN
		  FROM BOM BM 
		  LEFT OUTER JOIN BOM_PRODUCT PD ON PD.PRODUCT_CD = BM.BOM_CD
		 WHERE BM.BOMPRODUCT_CD = #{itemCd}
		   AND BM.PRODUCT_CD = #{productCd}
		 UNION ALL 
		SELECT MT.MATERIAL_GC ITEM_GC, CC.COMMON_NM ITEM_GN, MT.MATERIAL_CC ITEM_CC,CC2.COMMON_NM ITEM_CN,
	   	 	   BM.BOM_CD, MT.MATERIAL_NM, BM.BOM_AM * DP.DAILYPRODUCTPLAN_JS INOUT_NN, MT.MATERIAL_UN ITEM_UN
		  FROM BOM BM 
		  LEFT OUTER JOIN MATERIAL MT ON MT.MATERIAL_CD = BM.BOM_CD
		  LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'PRDTYPE' AND CC.COMMON_CC = MT.MATERIAL_GC
 		  LEFT OUTER JOIN COMMON_CODE CC2 ON CC2.COMMON_GC = MT.MATERIAL_GC AND CC2.COMMON_CC = MT.MATERIAL_CC 
		  LEFT OUTER JOIN DAILYPRODUCTPLAN DP ON DP.CONTRACT_CD = #{contractCd}
		   AND DP.PRODUCT_CD = #{itemfullCd} AND DP.PROCESS_CD = #{processCd}
		 WHERE BM.BOMPRODUCT_CD = #{itemCd}
		   AND BM.PRODUCT_CD = #{productCd}
		)
		SELECT PL.ITEM_GC, PL.ITEM_GN, PL.ITEM_CC, PL.ITEM_CN,
			   PL.PRODUCT_CD ITEM_CD, PL.PRODUCT_NM ITEM_NM, PL.INOUT_NN, PL.ITEM_UN
		FROM PRODUCT_LIST PL
		WHERE PL.PRODUCT_NM IS NOT NULL
	</select>
<!--	<select id="select_INOUT_CONTRACTDETAIL">
		SELECT CD.PRODUCT_CD || '-' || CD.PRODUCT_SZ || '-' || CD.PRODUCT_CR ITEM_CD, 
			   PD.PRODUCT_NM || '-' || CD.PRODUCT_SZ || '-' || CC.COMMON_NM ITEM_NM, 
			   CD.PRODUCT_UN ITEM_UN, CD.PRODUCT_AM INOUT_NN
		  FROM CONTRACTDETAIL CD
		  LEFT OUTER JOIN PRODUCT PD ON PD.PRODUCT_CD = CD.PRODUCT_CD AND PD.PRODUCT_SZ = CD.PRODUCT_SZ AND PD.PRODUCT_CR = CD.PRODUCT_CR 
		  LEFT OUTER JOIN COMMON_CODE CC ON CC.COMMON_GC = 'COLOR' AND CC.COMMON_CC = PD.PRODUCT_CR
		 WHERE CD.CONTRACT_CD = #{contract}
	</select>-->
	
	<!-- 출발창고조회 -->
<!--	<select id="select_INOUT_IW" resultType="Warearea">
		SELECT WA.WAREHOUSE_CD, WH.WAREHOUSE_NM, WA.WAREAREA_CD, WA.WAREAREA_NM, WA.WAREAREA_CP, ST.STOCK_AQ
		  FROM WAREAREA WA
		  LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = WA.WAREHOUSE_CD 
		  LEFT OUTER JOIN STOCK ST ON ST.WAREHOUSE_CD = WA.WAREHOUSE_CD AND ST.WAREAREA_CD = WA.WAREAREA_CD
		 WHERE ST.ITEM_CD = #{itemCd}
	</select>-->
	
<!--	<select id="select_INOUT_IW" resultType="Warearea"> 
	SELECT WA.WAREHOUSE_CD, WH.WAREHOUSE_NM, WA.WAREAREA_CD, WA.WAREAREA_NM, WA.WAREAREA_CP, ST.STOCK_AQ 
	FROM WAREAREA WA 
	LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = WA.WAREHOUSE_CD 
	LEFT OUTER JOIN STOCK ST ON ST.WAREHOUSE_CD = WA.WAREHOUSE_CD AND ST.WAREAREA_CD = WA.WAREAREA_CD 
	WHERE ST.ITEM_CD = #{itemCd} 
	<if test="list != null and list.size() &gt; 0"> 
	AND NOT ( <foreach collection="list" item="w" separator=" OR "> (WA.WAREHOUSE_CD = #{w.warehouse_cd} AND WA.WAREAREA_CD = #{w.warearea_cd}) </foreach> ) 
	</if>
	</select>-->
	<select id="select_INOUT_OW" resultType="Warearea"> 
	SELECT WA.WAREHOUSE_CD, WH.WAREHOUSE_NM, WA.WAREAREA_CD, WA.WAREAREA_NM, WA.WAREAREA_CP, ST.STOCK_AQ 
	FROM WAREAREA WA 
	LEFT OUTER JOIN WAREHOUSE WH ON WH.WAREHOUSE_CD = WA.WAREHOUSE_CD 
	LEFT OUTER JOIN STOCK ST ON ST.WAREHOUSE_CD = WA.WAREHOUSE_CD AND ST.WAREAREA_CD = WA.WAREAREA_CD 
	WHERE ST.ITEM_CD = #{itemCd} 
	  AND ST.STOCK_AQ > 0
	</select>
	
	<!-- 도착창고조회 -->
	<select id="select_INOUT_IW" resultType="Warearea">
		WITH STOCK_AGG AS (
			SELECT WAREAREA_CD, WAREHOUSE_CD, SUM(STOCK_AQ) STOCK_AQ
			FROM STOCK
			GROUP BY WAREAREA_CD, WAREHOUSE_CD
		)		
		SELECT WH.WAREHOUSE_CD, WH.WAREHOUSE_NM, WH.WAREHOUSE_TP, WA.WAREAREA_CD, WA.WAREAREA_NM, 
			   WA.WAREAREA_CP, WA.WAREAREA_CP - NVL(SA.STOCK_AQ, 0) AS WAREAREA_LP
		  FROM WAREHOUSE WH
		  LEFT OUTER JOIN WAREAREA WA ON WA.WAREHOUSE_CD = WH.WAREHOUSE_CD
		  LEFT JOIN STOCK_AGG SA ON SA.WAREAREA_CD = WA.WAREAREA_CD AND SA.WAREHOUSE_CD = WA.WAREHOUSE_CD
		 ORDER BY WH.WAREHOUSE_IN, WA.WAREAREA_IN
	</select>
	
	
	<!-- 오더디테일 업데이트 -->
	<update id="updateOrderDetail">
		UPDATE ORDERDETAIL SET
			ORDER_ED = #{date}
		 WHERE MATERIAL_CD = #{item}
		   AND ORDER_CD = #{order}	
	</update>
	
	<!-- 오더디테일 미입고 카운트 -->
	<select id="select_ORDERDETAIL_count"  resultType="int">
		SELECT COUNT(*)
	  	  FROM ORDERDETAIL OD
	  	 WHERE OD.ORDER_CD = #{order}
	  	   AND ORDER_ED IS NULL
	</select>
	
</mapper>
