<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.PRMapper">
	<select id="selectpr" resultType="map">
		SELECT PR.pr_gm, PR.pr_wm, PRDETAIL.prdetail_rs, PR.pr_id
		FROM PR
		JOIN PRDETAIL ON PR.pr_id = PRDETAIL.pr_id
		WHERE PRDETAIL.employee_cd = #{employee_cd}
	</select>

	<select id="checkprmodal" resultType="map">
		SELECT PRDETAIL.prdetail_rs, PRDETAIL.prdetail_ta, PRDETAIL.prdetail_bs, PRDETAIL.prdetail_mt, PRDETAIL.prdetail_ot, PRDETAIL.prdetail_na, PRDETAIL.prdetail_wa, PRDETAIL.prdetail_ha, PRDETAIL.prdetail_aa,
		PRDETAIL.prdetail_bn, PRDETAIL.prdetail_td, PRDETAIL.prdetail_gm, PRDETAIL.prdetail_gy, PRDETAIL.prdetail_gg , PRDETAIL.prdetail_lg
		FROM PRDETAIL
		WHERE pr_id = #{pr_id} AND employee_cd = #{employee_cd}
	</select>
</mapper>
    