<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c4d2412t3p1.mapper.ProcessMapper">

	<select id="selectpclist" resultType="map">
	    SELECT 
	        pp.PROCESS_CD,
	        pp.PROCESS_NM,
	        pp.PROCESS_US,
	        pp.PROCESS_BG,
	        pp.PROCESS_EQ,
	        LISTAGG(DISTINCT pc.PRODUCT_NM, ',') WITHIN GROUP (ORDER BY pp.PART_NO) AS PROCESS_PN, 
	        eq.EQUIPMENT_NM, 
	        pp.PROCESS_PD
	    FROM 
	        (
	            SELECT 
	                pc.PROCESS_CD,
	                pc.PROCESS_NM,
	                pc.PROCESS_US,
	                pc.PROCESS_BG,
	                pc.PROCESS_EQ,
	                pc.PROCESS_PD,
	                REGEXP_SUBSTR(pc.PROCESS_PD, '[^,]+', 1, LEVEL) AS NAME_PART,
	                LEVEL AS PART_NO
	            FROM 
	                PROCESS pc
	            CONNECT BY 
	                PRIOR pc.PROCESS_CD = pc.PROCESS_CD
	                AND PRIOR DBMS_RANDOM.VALUE IS NOT NULL
	                AND LEVEL &lt;= LENGTH(pc.PROCESS_PD) - LENGTH(REPLACE(pc.PROCESS_PD, ',', '')) + 1
	            ORDER BY LEVEL
	        ) pp
	    LEFT JOIN 
	        PRODUCT pc ON pp.NAME_PART = pc.PRODUCT_CD
	    LEFT JOIN 
	        EQUIPMENT eq ON pp.PROCESS_EQ = eq.EQUIPMENT_CD 
	    GROUP BY 
	        pp.PROCESS_CD, pp.PROCESS_NM, pp.PROCESS_US, pp.PROCESS_BG, pp.PROCESS_EQ, pp.PROCESS_PD, eq.EQUIPMENT_NM
	    ORDER BY 
	        pp.PROCESS_CD
	</select>
	
	<select id="selectpc" resultType="map">
		SELECT 
			pc.PROCESS_CD,
			pc.PROCESS_NM,
			pc.PROCESS_GC,
			pc.PROCESS_CC,
			pc.PROCESS_US,
			pc.PROCESS_BG,
			pc.PROCESS_EQ,
			pc.PROCESS_PD
		FROM PROCESS pc
		WHERE pc.PROCESS_CD = #{pccd}
	</select>

	<select id="selectpdgclist" resultType="map">
		<choose>
	    <when test="COMMON_GC == 'PRDTYPE'">
	      SELECT DISTINCT 
	        cc.COMMON_CC, cc.COMMON_NM 
	      FROM COMMON_CODE cc 
	      WHERE cc.COMMON_GC = #{COMMON_GC}
	      ORDER BY cc.COMMON_NM
	    </when>
	    
	    <when test="COMMON_GC == 'MATERIALS' or COMMON_GC == 'SUBMAT'">
	      SELECT DISTINCT 
	        cc.COMMON_CC, cc.COMMON_NM 
	      FROM COMMON_CODE cc 
	      JOIN MATERIAL mt ON cc.COMMON_CC = mt.MATERIAL_CC 
	      WHERE cc.COMMON_GC = #{COMMON_GC}
	    </when>
	    
	    <otherwise>
	      SELECT DISTINCT 
	        cc.COMMON_CC, cc.COMMON_NM  
	      FROM COMMON_CODE cc 
	      JOIN PRODUCT pd ON cc.COMMON_CC = pd.PRODUCT_CC 
	      WHERE cc.COMMON_GC = #{COMMON_GC}
	    </otherwise>
	  </choose>
	</select>
	
	<select id="selectpdcclist" resultType="map">
		  SELECT DISTINCT
		    <choose>
		      <when test="pdgc == 'MATERIALS' or pdgc == 'SUBMAT'">
		        mt.MATERIAL_CD, mt.MATERIAL_NM
		      </when>
		      <otherwise>
		        pd.PRODUCT_CD, pd.PRODUCT_NM
		      </otherwise>
		    </choose>
		  FROM 
		    <choose>
		      <when test="pdgc == 'MATERIALS' or pdgc == 'SUBMAT'">
		        MATERIAL mt
		      </when>
		      <otherwise>
		        PRODUCT pd
		      </otherwise>
		    </choose>
		  WHERE 
		    <choose>
		      <when test="pdgc == 'MATERIALS' or pdgc == 'SUBMAT'">
		        mt.MATERIAL_CC = #{pdcc}
		      </when>
		      <otherwise>
		        pd.PRODUCT_CC = #{pdcc}
		      </otherwise>
		    </choose>
	</select>

	<select id="selecteqlist" resultType="map">
		SELECT DISTINCT eq.EQUIPMENT_CD, EQ.EQUIPMENT_NM  
		FROM EQUIPMENT eq
		JOIN PRODUCT pd ON EQ.PRODUCT_CD  = PD.PRODUCT_CC 
 		WHERE EQ.PRODUCT_CD = #{pd}
		AND EQ.EQUIPMENT_US = 1
<!--  		WHERE EQ.PRODUCT_CD IN  -->
<!-- 		<foreach item="pd" collection="pd" open="(" separator="," close=")"> -->
<!-- 			#{pd} -->
<!-- 		</foreach> -->
	</select>
	
	<insert id="postProcess">
		INSERT 
		INTO PROCESS
		(process_cd, process_nm, process_gc, process_cc, process_pd, process_eq, process_us, process_bg, process_wr, process_wd)
		VALUES 
		<foreach collection="regidata" item="item" separator=",">
		(#{item.process_cd},
		 #{item.process_nm},
		 #{item.process_gc},
		 #{item.process_cc},
		 #{item.process_pd},
		 #{item.process_eq},
		 #{item.process_us},
		 #{item.process_bg},
		 #{item.process_wr},
		 #{item.process_wd})
		</foreach>
	</insert>
	
	<select id="checkpccd" resultType="String">
		SELECT pc.process_cd
		FROM PROCESS pc
		WHERE pc.PROCESS_CD = #{cdvalue}	
	</select>
	
</mapper>