<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" layout:fragment="content">
<!-- Toast UI grid CSS File-->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<main id="main" class="main">
<span id="employee_cd" sec:authentication="principal.employee_cd" style="display: none;"></span>
<span id="employee_nm" sec:authentication="principal.employee_nm" style="display: none;"></span>
	<div class="card">
		<div class="card" id="div_card" style="min-height: 400px;">
			<div class="card-body">
				<div class="card-title">급여 조회</div>
				<div id="grid"></div>
			</div>		
		</div>
	</div>
</main>
<!-- Toast UI grid JS File -->
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="text/javascript">
		var employee_cd = document.getElementById('employee_cd').textContent; // security 수정시 같이 수정 필요 > token에서 뽑아와야함
		var employee_nm = document.getElementById('employee_nm').textContent; // security 수정시 같이 수정 필요 > token에서 뽑아와야함
		tui.Grid.setLanguage('ko');
		tui.Grid.applyTheme('striped');
		
		function formatCurrency(value) {
			if (typeof value === 'number') {
			    return value.toLocaleString('ko-KR') + '원';
			  }
		}
		
		// Ajax로 급여 데이터 조회
		$.ajax({
			url : "/checkpr",
			method : "GET", 
			dataType : "JSON",
			data:{
				employee_cd : employee_cd
			}, 
			success : function(data) {
				console.log('가져온데이터',data);
				const result = data.map((item, index) => ({
					...item,
					INDEX : data.length - index,
					PRDETAIL_RS : formatCurrency(item.PRDETAIL_RS)
				}))
				grid.resetData(result);
			},
			error : function(xhr, status, error) {
				console.error("급여 조회 데이터를 불러오는 데 실패했습니다.", error);
			}
		}); 
		
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			responsive: true,
			scrollX:true,
			scrollY:true,
			//bodyHeight : 485,
			columns : [ 
				{
					header : 'NO.',
					name : 'INDEX',
					align: 'center',
				}, 
				{
					header : '지급년월',
					name : 'PR_GM',
					align: 'center',
				}, 
				{
					header : '귀속년월',
					name : 'PR_WM',
					align: 'center',
				}, 
				{
					header : '실지급액',
					name : 'PRDETAIL_RS',
					align: 'right',
				}, 
				{
					header : '명세서',
					name : 'details',
					align: 'center',
					formatter: function() {
                        return ` 
                            <button type="button" class="btn btn-link btn_detail" data-bs-toggle="modal" data-bs-target="#verticalycentered" >조회</button>
                            <button type="button" class="btn btn-link btn_email">이메일</button>
                        `;
                    }
				} 
			],
		});
		
		// 이벤트 위임 방식으로 클릭 이벤트 처리
       document.getElementById('grid').addEventListener('click', function (event) {
			const target = event.target;
			if (target.classList.contains('btn_detail')) {
				console.log('조회 버튼 클릭 확인');

				// 부모 셀 요소에서 행(Row)의 rowKey 가져오기
				const cellElement = target.closest('.tui-grid-cell'); // 가장 가까운 셀 요소
				const rowKey = cellElement?.dataset?.rowKey; // rowKey 가져오기

				if (rowKey) {
					const rowData = grid.getRow(Number(rowKey)); // 행 데이터 가져오기
					console.log('행 데이터:', rowData);

					// 모달 ID
					const modalId = 'verticalycentered';
					let modalElement = document.getElementById(modalId);

					// 기존 모달이 없으면 새로 생성
					if (!modalElement) {
						const modalHtml = 
						`<div class="modal" id="${modalId}" tabindex="-1">
	                       <div class="modal-dialog modal-dialog-centered modal-xl">
	                           <div class="modal-content">
	                               <div class="modal-header">
	                                   <h5 class="modal-title">${rowData.PR_WM}(귀속년월) 명세서</h5>
	                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                               </div>
	                               <div class="modal-body">
	                                   <div id="gridOnespe"></div>
	                               </div>
	                               <div class="modal-footer">
	                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                                   <button type="button" class="btn btn-primary btn_email">메일보내기</button>
	                               </div>
	                           </div>
	                       </div>
	                   </div>`;
						document.body.insertAdjacentHTML('beforeend', modalHtml); // Modal 동적 추가
						modalElement = document.getElementById(modalId); // 새로 추가된 모달 참조
					}

					// 모달이 열리고 나서 그리드를 초기화
	                const modal = new bootstrap.Modal(modalElement);  // 모달 초기화
	                modalElement.addEventListener('shown.bs.modal', function () {
	                	const pr_id = rowData.PR_ID;
	    				console.log('id 데이터:', pr_id);
	            		$.ajax({
	            			url : "/checkprmodal",
	            			method : "GET",
	            			dataType : "JSON",
	            			data:{
	            				employee_cd : employee_cd,
	            				pr_id : pr_id
	            			}, 
	            			success : function(result) {
	            				console.log('모달데이터',result);
	            				const transresult = result.map(item =>({
	            					...item,
	            					EMPLOYEE_CD : employee_cd,
	            					EMPLOYEE_NM : employee_nm,
	            					PRDETAIL_RS : formatCurrency(item.PRDETAIL_RS),
	            					PRDETAIL_BN : formatCurrency(item.PRDETAIL_BN),
	            					PRDETAIL_BS : formatCurrency(item.PRDETAIL_BS),
	            					PRDETAIL_GG : formatCurrency(item.PRDETAIL_GG),
	            					PRDETAIL_GM : formatCurrency(item.PRDETAIL_GM),
	            					PRDETAIL_GY : formatCurrency(item.PRDETAIL_GY),
	            					PRDETAIL_HA : formatCurrency(item.PRDETAIL_HA),
	            					PRDETAIL_LG : formatCurrency(item.PRDETAIL_LG),
	            					PRDETAIL_MT : formatCurrency(item.PRDETAIL_MT),
	            					PRDETAIL_NA : formatCurrency(item.PRDETAIL_NA),
	            					PRDETAIL_OT : formatCurrency(item.PRDETAIL_OT),
	            					PRDETAIL_TA : formatCurrency(item.PRDETAIL_TA),
	            					PRDETAIL_TD : formatCurrency(item.PRDETAIL_TD),
	            					PRDETAIL_WA : formatCurrency(item.PRDETAIL_WA),
	            					PRDETAIL_RL : formatCurrency(item.PRDETAIL_RL),
	            				}));
	            				gridOnespe.resetData(transresult);
	            			},
	            			error : function(xhr, status, error) {
	            				console.error("급여 모달 조회 데이터를 불러오는 데 실패했습니다.", error);
	            			}
	            		}); 
	                    // 모달이 열릴 때 그리드 초기화
	                    const gridOnespe = new tui.Grid({
	                        el: document.getElementById('gridOnespe'),
	                        scrollX: true,
	                        scrollY: true,
	                        header: {
								height : 160,
	                        	complexColumns:[
		            				{
		            					header : '지급액',
		            					name : 'PAY',
		            					childNames: ['PRDETAIL_BS','PRDETAIL_MT','PRDETAIL_OT','PRDETAIL_NA','PRDETAIL_WA','PRDETAIL_HA','PRDETAIL_RL','PRDETAIL_BN']
		            				}, 
		            				{
		            					header : '공제액',
		            					name : 'DEDUCATION',
		            					childNames: ['PRDETAIL_GM','PRDETAIL_GY','PRDETAIL_GG','PRDETAIL_LG']
		            				}, 
		            				{
		            					header : '명세서',
		            					name : 'SEPC',
		            					childNames: ['PRDETAIL_RS','PRDETAIL_TA','PAY','PRDETAIL_TD','DEDUCATION']
		            				}, 
	                        		
	                        	]
	                        },
	                        columns: [
	                        	{
	            					header : '사원번호',
	            					name : 'EMPLOYEE_CD',
	            					align: 'center',
	            				}, 
	            				{
	            					header : '사원명',
	            					name : 'EMPLOYEE_NM',
	            					align: 'center',
	            				}, 
	            				{
	            					header : '실지급액',
	            					name : 'PRDETAIL_RS',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '총지급액',
	            					name : 'PRDETAIL_TA',
	            					align: 'right',	            				
            					}, 
	            				{
	            					header : '기본급',
	            					name : 'PRDETAIL_BS',
	            					align: 'right',	            				
            					}, 
	            				{
	            					header : '식대',
	            					name : 'PRDETAIL_MT',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '연장수당',
	            					name : 'PRDETAIL_OT',
	            					align: 'right',	            				
            					}, 
	            				{
	            					header : '야근수당',
	            					name : 'PRDETAIL_NA',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '주말근무수당',
	            					name : 'PRDETAIL_WA',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '휴일수당',
	            					name : 'PRDETAIL_HA',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '연차수당',
	            					name : 'PRDETAIL_RL',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '상여',
	            					name : 'PRDETAIL_BN',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '총공제액',
	            					name : 'PRDETAIL_TD',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '국민연금',
	            					name : 'PRDETAIL_GM',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '고용보험',
	            					name : 'PRDETAIL_GY',
	            					align: 'right',	            				
            					}, 
	            				{
	            					header : '건강보험',
	            					name : 'PRDETAIL_GG',
	            					align: 'right',
	            				}, 
	            				{
	            					header : '장기요양',
	            					name : 'PRDETAIL_LG',
	            					align: 'right',
	            				}, 
	                        ],
	                        columnOptions: {
	                			resizable: true,
	                		},
	                    });

	                    // console.log(gridOnespe.getData());
	                });
					
					// 모달이 닫힐 때 DOM에서 제거
					modalElement.addEventListener('hidden.bs.modal', function () {
						modalElement.remove();
						console.log('모달이 닫히고 삭제되었습니다.');
					});
					
					modal.show();
				}
			}

			if (target.classList.contains('btn_email')) {
				console.log('이메일 버튼 클릭 확인');
				/* 이메일 전송 라이브러리 가져올 예정 */
				swal.fire({
					title:"준비중",
					icon:"info"
				})
			}
		});
		
       setElementHeight('#div_card', -105);
		
		$(window).resize(function() {
			setElementHeight('#div_card', -105);
			setElementHeight('#div_calendar', -320);
			if(grid != null) {
				setGridHeight(grid, -430);
			}
		});

</script>
</html>
