<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- Toast UI grid CSS File-->
<link rel="stylesheet"	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<body>
	<main id="main" class="main">
	<div class="pagetitle">
	
		</div>
			<div class="card">
				<h5 class="card-title">급여 계산기</h5>
				<div class="card-body">
					<div id="grid"></div>
					<div id="grid_cal"></div>
				</div>
			</div>
	</main>
</body>
<!-- Toast UI grid JS File -->
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="text/javascript">

//////////////
// 그리드 생성 //
//////////////

/* 계산그리드 */
const grid = new tui.Grid({
	el: document.getElementById('grid'),
	responsive: true,
	scrollX: true,
	scrollY: true,
	columns: [
		{header: '기본급', name: 'bs', editor: 'text'},
		{header: '연장시간', name: 'ot', editor: 'text'},
		{header: '야근시간', name: 'nt', editor: 'text'},
		{header: '주말근무시간', name: 'wt', editor: 'text'},
		{header: '휴일근무시간', name: 'ht', editor: 'text'},
		{header: '남은연차', name: 'aa', editor: 'text'},
	],
	data:[{bs:'0',ot:'0',nt:'0',wt:'0',ht:'0',aa:'0',bn:'0',}],
});

/* 계산그리드 */
const grid_cal = new tui.Grid({
	el: document.getElementById('grid_cal'),
	responsive: true,
	scrollX: true,
	scrollY: true,
	bodyHeight : 330,
	 header: {
			height : 130,
     	complexColumns:[
				{
					header : '지급액',
					name : 'PAY',
					childNames: ['PRDETAIL_BS','PRDETAIL_MT','PRDETAIL_OT','PRDETAIL_NA','PRDETAIL_WA','PRDETAIL_HA','PRDETAIL_AA','PRDETAIL_BN']
				}, 
				{
					header : '공제액',
					name : 'DEDUCATION',
					childNames: ['PRDETAIL_GM','PRDETAIL_GY','PRDETAIL_GG','PRDETAIL_LG']
				}, 
     	]
     },
     columns: [
			{
				header : '실지급액',
				name : 'PRDETAIL_RS'
			}, 
			{
				header : '총지급액',
				name : 'PRDETAIL_TA'
			}, 
			{
				header : '기본급',
				name : 'PRDETAIL_BS'
			}, 
			{
				header : '식대',
				name : 'PRDETAIL_MT'
			}, 
			{
				header : '연장수당',
				name : 'PRDETAIL_OT'
			}, 
			{
				header : '야근수당',
				name : 'PRDETAIL_NA'
			}, 
			{
				header : '주말근무수당',
				name : 'PRDETAIL_WA'
			}, 
			{
				header : '휴일수당',
				name : 'PRDETAIL_HA'
			}, 
			{
				header : '연차수당',
				name : 'PRDETAIL_AA'
			}, 
			{
				header : '상여',
				name : 'PRDETAIL_BN'
			}, 
			{
				header : '총공제액',
				name : 'PRDETAIL_TD'
			}, 
			{
				header : '국민연금',
				name : 'PRDETAIL_GM'
			}, 
			{
				header : '고용보험',
				name : 'PRDETAIL_GY'
			}, 
			{
				header : '건강보험',
				name : 'PRDETAIL_GG'
			}, 
			{
				header : '장기요양',
				name : 'PRDETAIL_LG'
			}, 
     ],
});
</script>