<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				layout:decorate="~{layout}" 
				layout:fragment="content">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- Toast UI grid CSS File-->
<link rel="stylesheet"	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<body>
	<main id="main" class="main">
	<div class="pagetitle">
	
		</div>
			<div class="card">
				<h5 class="card-title">급여 계산기</h5>
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-end">
					<div id="grid"  style="flex-grow: 1;"></div>
					<input type="button" id="btn_cal" class="btn btn-primary ml-3" value="계산하기">
					</div>
					<div id="grid_cal"></div>
				</div>
			</div>
	</main>
</body>
<!-- Toast UI grid JS File -->
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="text/javascript">

$('#btn_cal').on('click', function(){
	
	const griddata = grid.getData();
	
	console.log('그리드 데이터',griddata);

	// Get CSRF token and header from the meta tags
    const csrfToken = $('meta[name="_csrf"]').attr('content');
    const csrfHeader = $('meta[name="_csrf_header"]').attr('content');
	
    const datas = {
    		B : "B",
			D : "D",
			gridData: griddata
    }
    console.log('보낼 데이터',datas);
	$.ajax({
		url: "/calculate",
		method: "POST",
		contentType: "application/json",
		data: JSON.stringify(datas),
		beforeSend: function(xhr){
			xhr.setRequestHeader(csrfHeader,csrfToken);
		},
		success: function(data){
			console.log("가져온 데이터",data);
		
		},
		error:function(xhr,status,error){
			console.log("급여 계산 데이터 전송에 실패했습니다.",error);	
		}
	});
});


  //////////////
 // 그리드 생성 //
//////////////

/* 계산그리드 */
const grid = new tui.Grid({
	el: document.getElementById('grid'),
	responsive: true,
	scrollX: true,
	scrollY: true,
	columns: [
		{header: '기본급', name: 'BS', editor: 'text'},
		{header: '연장시간', name: 'overworkingtime', editor: 'text'},
		{header: '야근시간', name: 'nightworkingtime', editor: 'text'},
		{header: '주말근무시간', name: 'weekendworkingtime', editor: 'text'},
		{header: '휴일근무시간', name: 'holydayworkingtime', editor: 'text'},
		{header: '남은연차', name: 'leastannual', editor: 'text'},
	],
	data:[{BS:'0',overworkingtime:'0',nightworkingtime:'0',weekendworkingtime:'0',holydayworkingtime:'0',leastannual:'0'}],
});

/* 계산그리드 */
const grid_cal = new tui.Grid({
	el: document.getElementById('grid_cal'),
	responsive: true,
	scrollX: true,
	scrollY: true,
	bodyHeight : 330,
	 header: {
			height : 130,
     	complexColumns:[
				{
					header : '지급액',
					name : 'PAY',
					childNames: ['PRDETAIL_BS','PRDETAIL_MT','PRDETAIL_OT','PRDETAIL_NA','PRDETAIL_WA','PRDETAIL_HA','PRDETAIL_AA','PRDETAIL_BN']
				}, 
				{
					header : '공제액',
					name : 'DEDUCATION',
					childNames: ['PRDETAIL_GM','PRDETAIL_GY','PRDETAIL_GG','PRDETAIL_LG']
				}, 
     	]
     },
     columns: [
			{
				header : '실지급액',
				name : 'PRDETAIL_RS'
			}, 
			{
				header : '총지급액',
				name : 'PRDETAIL_TA'
			}, 
			{
				header : '기본급',
				name : 'PRDETAIL_BS'
			}, 
			{
				header : '식대',
				name : 'PRDETAIL_MT'
			}, 
			{
				header : '연장수당',
				name : 'PRDETAIL_OT'
			}, 
			{
				header : '야근수당',
				name : 'PRDETAIL_NA'
			}, 
			{
				header : '주말근무수당',
				name : 'PRDETAIL_WA'
			}, 
			{
				header : '휴일수당',
				name : 'PRDETAIL_HA'
			}, 
			{
				header : '연차수당',
				name : 'PRDETAIL_AA'
			}, 
			{
				header : '상여',
				name : 'PRDETAIL_BN'
			}, 
			{
				header : '총공제액',
				name : 'PRDETAIL_TD'
			}, 
			{
				header : '국민연금',
				name : 'PRDETAIL_GM'
			}, 
			{
				header : '고용보험',
				name : 'PRDETAIL_GY'
			}, 
			{
				header : '건강보험',
				name : 'PRDETAIL_GG'
			}, 
			{
				header : '장기요양',
				name : 'PRDETAIL_LG'
			}, 
     ],
});
</script>